﻿@model Jhm.Web.UI.Models.Shop.GroupViewModel
 
@{
    var imageSrc   = Url.Content(string.Format(@"~\Content\shop\images\shop\{0}\{1}.png", Model.GroupName, Model.Code));
    var defaultSrc = Url.Content(@"~\Content\shop\images\shop\default.png");
    var groupCode  = Model.Code.Equals("All", StringComparison.InvariantCultureIgnoreCase) ? "All" : Model.Code;
}

<div class="shop-item col4">
    <a href="@Url.Action(Model.GroupName, new { id = groupCode })">
        <img src="@imageSrc" onerror="this.onerror = null; this.src='@defaultSrc'" />
    </a>
    <h4>@Model.DisplayName</h4>
    @Html.ActionLink("See All", Model.GroupName, new { id = groupCode }, new { @class = "view-item view-item-yellow" })
</div>