﻿
<div id="shop-nav">
    <ul>
        <li @(Request.UrlReferrer == null || (Request.UrlReferrer.ToString().ToLower().Contains("shop") && Request.Url.ToString().ToLower().Contains("product")) ? "class=active" : string.Empty)><span><a href="/shop">Featured</a></span></li>
        <li @(Request.UrlReferrer != null && Request.UrlReferrer.ToString().ToLower().Contains("categories") || Request.Url.ToString().ToLower().Contains("categories") ? "class=active" : string.Empty) ><span><a href="/shop#categories">Categories</a></span></li>
        <li @(Request.UrlReferrer != null && Request.UrlReferrer.ToString().ToLower().Contains("authors") || Request.Url.ToString().ToLower().Contains("authors") ? "class=active" : string.Empty)><span><a href="/shop#authors">Authors</a></span></li>
        <li @(Request.UrlReferrer != null && Request.UrlReferrer.ToString().ToLower().Contains("subjects") || Request.Url.ToString().ToLower().Contains("subjects") ? "class=active" : string.Empty)><span><a href="/shop#subjects">Subjects</a></span></li>
</ul>
</div>
