﻿@{
    Layout = null;
}

@model List<Jhm.Web.UI.Models.Shop.GroupViewModel>

<h1 class="center">Authors</h1>
@foreach (var group in Model)
{
    @Html.Partial("~/Views/Shop/_ShopGroupsContent.cshtml", group)
}
