﻿@{
    var itemText = Model.TotalResults == 1 ? "item" : "items";
    var defaultSrc = Url.Content(@"~\Content\shop\images\shop\default.png");
}

@model Jhm.Web.UI.Models.Shop.GroupProductListViewModel

@Html.Partial("_ShopMenu")

<div class="noborder nomargin nopadding topmargin-sm bottommargin-sm">
    <div class="container clearfix">
        <div class="shop-category noborder topmargin">
            <div class="shop-category-header">
                <h2>@Model.Name</h2>
                <div class="shop-item-count">@Model.TotalResults @itemText</div>
                <div class="shop-item-sort">
                    <div class="shop-sort-by">Sort by</div>
                    <select class="shop-category-sort" id="sortSelect">
                        <option value="asc" label="A-Z" selected="selected" />
                        <option value="desc" label="Z-A" />
                    </select>
                </div>
            </div>
            @if (!Model.Products.Any())
            {
                <div style="min-height: 150px;">
                    <p>No Products Found.</p>
                </div>
            }

            @foreach (var product in Model.Products)
            {
                <div class="shop-item col4">
                    <a href="@Url.Action("Detail", "Product", new { id = product.Sku, group = Model.Name })">
                        <img src="@(string.IsNullOrWhiteSpace(product.ImagePath) ? defaultSrc : product.ImagePath)" onerror="this.onerror = null; this.src='@defaultSrc'" style="height:260px">
                    </a>
                    <h4>@product.Title<span class="sub-header">@(!string.IsNullOrWhiteSpace(product.Author) ? string.Format("By {0}", product.Author) : "Not specified ")</span></h4>
                    @Html.ActionLink("View Item", "Detail", "Product", new { id = product.Sku, group = Model.Name }, new { @class = "view-item" })
                </div>
            }
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        var split = window.location.search.split('orderDirection=');

        if(split.length > 1)
            $("#sortSelect").val(split[split.length-1]);

        $("#sortSelect").change(function () {
            var url = window.location.pathname + "?orderDirection=" + $(this).val();
            window.location.assign(url);
        });
    });
</script>