﻿@model Jhm.Web.UI.Models.Shop.GroupProductListViewModel

@{
    Layout = null;
    var defaultSrc = Url.Content(@"~\Content\shop\images\shop\default.png");
}

<h1 class="center">Featured Items<span class="sub-header">Items featured across television and GETV</span></h1>
@foreach (var product in Model.Products)
{
    <div class="shop-item col4">
        <a href="@Url.Action("Detail", "Product", new { id = product.Sku, group = "Featured Items" })">
            <img src="@(string.IsNullOrWhiteSpace(product.ImagePath) ? defaultSrc : product.ImagePath)" onerror="this.onerror = null; this.src='@defaultSrc'" style="height:260px">
        </a>
        <h4>@product.Title<span class="sub-header">@(product.Author.IsNullOrWhiteSpace() ? "Not specified " : string.Format("By {0}", product.Author))</span></h4>
        @Html.ActionLink("View Item", "Detail", "Product", new { id = product.Sku, group = "Featured Items" }, new { @class = "view-item" })
    </div>
}