﻿
<div id="shop-nav">
    <ul>
        <li><span><a class="tab" rel="#featured" href="#">Featured</a></span></li>
        <li><span><a class="tab" rel="#categories" href="#">Categories</a></span></li>
        <li><span><a class="tab" rel="#authors" href="#">Authors</a></span></li>
        <li><span><a class="tab" rel="#subjects" href="#">Subject</a></span></li>
    </ul>
</div>
<div class="noborder nomargin nopadding topmargin-sm bottommargin-sm">
    <div class="container clearfix">
        <div id="featured" class="tab-content noborder topmargin main-tab-content">
            @Html.Action("Featured")
        </div>
        <div id="categories" class="tab-content noborder topmargin main-tab-content">
            @Html.Action("Categories")

        </div>
        <div id="authors" class="tab-content noborder topmargin main-tab-content">
            @Html.Action("Authors")

        </div>
        <div id="subjects" class="tab-content noborder topmargin main-tab-content">
            @Html.Action("Subjects")
        </div>
    </div>
</div>