﻿@using Jhm.Web.Core.Models

@model Jhm.Web.Core.Models.Modules.ECommerce.ProductListingViewModel

@{   
    var searchUrl = Html.Raw("/Shop/SearchAjax?queryString=" + Model.SearchString + "&page=");
    var resultText = "No products found";
    if (Model.PagingInfo.TotalResults > 0)
    {
        resultText = Model.PagingInfo.TotalResults == 1 ? "1 product " : string.Format("{0} products", Model.PagingInfo.TotalResults);
    }
    var defaultSrc = Url.Content(@"~\Content\shop\images\shop\default.png");
}

<script>
    var page = 2;
    var searchUrl = '@searchUrl';
    $(window).scroll(function () {
        if ($(window).scrollTop() == $(document).height() - $(window).height()) {
            $.ajax({
                url: searchUrl + page.toString(),
                success: function (data) {
                    if (data.products.length > 0) {
                        var html = "";
                        for (var i = 0; i < data.products.length; i++) {
                            var author = "Not specified";
                            if(data.products[i].AuthorDescription !== ''){
                                author = "By " + data.products[i].AuthorDescription;
                            }
                            html += '<div class="shop-item col4">' +
                                    '<img src="' + data.products[i].AlternativeImages[0] + '" style="height:120px">' +
                                    '<h4>' + data.products[i].Title + '<span class="sub-header">' + author + '</span></h4>' +
                                    '<a href="/Product/Detail/' + data.products[i].Code + '?group=Search" class = "view-item">View Item<a>' +
                                    '</div>';
                        }
                        $("#productList").append(html);
                        page = page + 1;
                    }                  
                }
            });
        }
    });
</script>


@Html.Partial("_ShopMenu")

<div class="noborder nomargin nopadding topmargin-sm bottommargin-sm">
    <div class="container clearfix">
        <div class="shop-category noborder topmargin">
            <h2>@Model.ProductListingHeader</h2>
            @{
                if (Session["MatchingDonations"] != null)
                {
                    var foundDonations = Session["MatchingDonations"] as List<Donation>;
                    if (foundDonations.Any())
                    {
                        <div class="shop-category-header">
                            <div class="shop-item-count">@(foundDonations.Count.ToString() + " donation" + (foundDonations.Count > 1 ? "s" : string.Empty))</div>
                        </div>
                        <table class="shop-cart">
                        @foreach (Donation d in foundDonations)
                        {
                            int len = d.Description.Length;
                            if (len > 200)
                            {
                                len = 200;
                            }
                            string description = d.Description.Replace("<p>", "").Replace("</p>", " ").Substring(0, len) + " ...";
                            <tr>
                                <td>
                                    <div class="cart-title yellow">
                                        <a href="@string.Format("http://www.jhm.org/Donation/{0}", d.DonationCode)">@d.Title</a>
                                    </div>
                                    <div class="cart-author">@description</div>
                                </td>
                            </tr>
                        }
                        </table>
                    }
                        Session["MatchingDonations"] = null;
                }
            }
            <div class="shop-category-header">
                <div class="shop-item-count">@resultText</div>                   
            </div>
            <div id="productList">
                @foreach (var product in Model.Products)
                {
                    <div class="shop-item col4">
                        <a href="@Url.Action("Detail", "Product", new { id = product.Code, group = "Search" })">
                            <img src="@(product.AlternativeImages != null && product.AlternativeImages.Count() > 0 && string.IsNullOrWhiteSpace(product.AlternativeImages.First()) ? defaultSrc : product.AlternativeImages.ToArray()[0])" onerror="this.onerror = null; this.src='@defaultSrc'" style=" height:260px">
                        </a>
                        <h4>@product.Title<span class="sub-header">@(!string.IsNullOrWhiteSpace(product.AuthorDescription) ? string.Format("By {0}", product.AuthorDescription) : "Not specified ")</span></h4>
                        @Html.ActionLink("View Item", "Detail", "Product", new { id = product.Code, group = "Search" }, new { @class = "view-item" })
                    </div>
                }
            </div>
        </div>
    </div>
</div>