﻿@model Jhm.Web.Core.Models.RelatedItem

@{
    string groupName = ViewBag.GroupName.ToString();
    string code = Model.Code;
    string author = string.Empty;
    if (Model.Code.Contains('|'))
    {
        code = Model.Code.Split('|')[0];
        author = Model.Code.Split('|')[1];
    }

    var defaultSrc = Url.Content(@"~\Content\shop\images\shop\default.png");
    
}


<div class="shop-item col5">
    @if(!string.IsNullOrWhiteSpace(Model.Title))
    { 
        <img src="@(string.IsNullOrWhiteSpace(Model.Image) ? defaultSrc : Model.Image)" />
        <h4>@Model.Title<span class="sub-header">@(!string.IsNullOrWhiteSpace(author) ? string.Format("By {0}", author) : string.Empty)</span></h4>
        @Html.ActionLink("View Item", "Detail", "Product", new { id = @code, group = groupName }, new { @class = "view-item" })
    }
</div>
