﻿@using Jhm.Common
@model Jhm.Web.Core.Models.Modules.ECommerce.CatalogProductViewModel

@{
    string groupName = ViewBag.GroupName.ToString();
    var parts        = ViewBag.Parts;
    var defaultSrc   = Url.Content(@"~\Content\shop\images\shop\default.png");
    var imageSrc     = defaultSrc;

    if (Model.AlternativeImages != null && Model.AlternativeImages.Any())
    {
        imageSrc = Url.AbsoluteContent(Model.AlternativeImages.First());
    }
}

@Html.Partial("~/Views/Shop/_ShopMenu.cshtml")

<div class="noborder nomargin product-detail nopadding topmargin-sm bottommargin-sm">
    <div class="container simple-clear">
        <div class="shop-category-header">
            <h4>@Html.ActionLink("< " + @groupName, null, null, null, new { href = Request.UrlReferrer })</h4>
            <div class="shop-item-sort">
                <a href="/">Home</a> / @Html.ActionLink("Shop", "Index", "Shop") / @Html.ActionLink(@groupName, null, null, null, new { href = Request.UrlReferrer }) / @Model.Title
            </div>
        </div>
        <div id="product-nav">
            Choose your media type:
            <ul>
                @{
                    var i = 0;
                    foreach (var stockItem in Model.StockItems)
                    {
                        var plainPrice = stockItem.IsOnSale() ? stockItem.SalePrice : stockItem.BasePrice;
                        <li @(i == 0 ? "class=active" : string.Empty)><span><a class="tab" rel="#@stockItem.MediaType.Value" href="#"> @Model.FormatWithCompanyCulture("{0} - {1:C}", stockItem.MediaType.DisplayName, plainPrice)</a></span></li>
                        i++;
                    }
                }
            </ul>
        </div>
    </div>
    <div class="container simple-clear border-full bottompadding-sm toppadding-sm bottommargin-sm">
        <div class="product-img">
            <img src="@imageSrc" onerror="this.onerror = null; this.src='@defaultSrc'" />
            <div class="row rrssb-buttons">
                <div class="col col-xs-2 share">
                    Share:
                </div>
                <div class="col col-xs-2">
                    <a href="https://www.facebook.com/sharer/sharer.php?u=@Url.Action("Detail", null, null, Request.Url.Scheme)" class="popup">
                        <i class="icon icon-facebook-sign icon-2x"></i>
                    </a>
                </div>
                <div class="col col-xs-2">
                    <a href="https://twitter.com/intent/tweet?text=@Url.Action("Detail", null, null, Request.Url.Scheme)" class="popup">
                        <i class="icon icon-twitter-sign icon-2x"></i>
                    </a>
                </div>
                <div class="col col-xs-2">
                    <a href="https://plus.google.com/share?url=@Url.Action("Detail", null, null, Request.Url.Scheme)" class="popup">
                        <i class="icon icon-google-plus-sign icon-2x"></i>
                    </a>
                </div>
                <div class="col col-xs-2">
                    <a href="http://pinterest.com/pin/create/button/?url=@Url.Action("Detail", null, null, Request.Url.Scheme)" class="popup">
                        <i class="icon icon-pinterest-sign icon-2x"></i>
                    </a>
                </div>
            </div>       
        </div>
        <div class="product-info">
            <h1 class="yellow">@Model.Title</h1>
            <div class="fleft">@Model.AuthorDescription</div>
            <div class="fright">Item number: @Model.Code</div>
            <div class="product-headline simple-clear">Description</div>
            <div class="product-desc">@Html.Raw(Model.Description)</div>
            @{
                i = 0;
                foreach (var stockItem in Model.StockItems)
                {
                    var tabclass = "tab-content noborder topmargin";
                    if (i == 0)
                    {
                        tabclass = tabclass + " tab-content-active";
                        i++;
                    }
                    <div id="@stockItem.MediaType.Value" class="@tabclass">
                        <div class="fleft">
                            <b>@(parts != null ? "Complete Series -" + stockItem.MediaType.DisplayName : stockItem.MediaType.DisplayName)</b>
                            <div class="product-block product-price">
                                @RenderProductPrice(stockItem)
                            </div>

                            @if (Model.Availability != Jhm.Web.Core.Models.AvailabilityTypes.Out_of_Stock)
                            {
                                <div class="product-block product-status product-status-in-stock">
                                    In Stock
                                </div>
                            }
                        </div>
                        <div class="product-action fright">
                            @using (Html.BeginForm("AddToCart", "Product", FormMethod.Post, new { @class = "addToCartForm" }))
                            {
                                <input type="hidden" name="sku" value="@Model.Code" />
                                <input type="hidden" name="mediaType" value="@stockItem.MediaType.Value" />
                                <div>Qty: <input type="number" size="2" value="1" name="quantity" id="quantity" @(Model.Availability == Jhm.Web.Core.Models.AvailabilityTypes.Out_of_Stock ? "disabled" : string.Empty) step="1" min="1" max="99" /></div>
                                <input type="submit" class="button button-blue" value="Add to Cart" @(Model.Availability == Jhm.Web.Core.Models.AvailabilityTypes.Out_of_Stock ? "disabled style=opacity:.65" : string.Empty) />
                            }
                        </div>
                    </div>
                }
            }
            @if (parts != null)
            {
                <div class="product-headline product-ind-headline simple-clear">
                    Order Individual Part
                </div>
                <div class="slide-wrapper">
                    @for (var p = 1; p < 3; p++)
                    {
                        <div class="slide-group">
                            <div class="slide-title">
                                <h3>Part @p: The Deception of Sin</h3>
                            </div>
                            <div class="slide-content">
                                <h2 class="yellow">Sin, Sex &amp; Self-Control</h2>
                                <div class="fleft">Pastor John Hagee</div>
                                <div class="fright">Item number: 8194</div>
                                <div class="product-separator simple-clear"></div>
                                <p class="product-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent suscipit fermentum ultrices. Proin consequat est eu purus mollis ultrices. Suspendisse faucibus, leo a feugiat commodo, diam nisl imperdiet nisi, a mollis lorem enim id ipsum. Integer malesuada lacinia ante, volutpat aliquet turpis sodales eget. Cras et quam ligula. Mauris condimentum ultricies est, vitae molestie enim eleifend sit amet. Sed at vehicula turpis, a pellentesque lacus. Morbi quis massa felis. Vestibulum fringilla quam sit amet nisl imperdiet, ut maximus dolor ultricies.</p>
                                <div class="fleft">
                                    <b>Part @p - CD</b>
                                    <div class="product-block product-price">$7.99</div>
                                    <div class="product-block product-status product-status-in-stock">In Stock</div>
                                </div>
                                <div class="product-action fright">
                                    <div>Qty: <input type="number" size="2" value="1" step="1" min="1" max="99" /></div>
                                    <input type="submit" class="button button-blue" value="Add to Cart" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
    <div class="container simple-clear">
        @if (Model.RelatedItems.ToList().Count > 0)
        {
            <h2 class="heading-border heading-yellow-border">Related Items</h2>
            foreach (var relatedItem in Model.RelatedItems)
            {
                @Html.Partial("_RelatedItem", relatedItem)
            }
        }
    </div>
</div>

<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

@helper RenderProductPrice(Jhm.Web.Core.Models.StockItem stockItem)
{
    var productFormat = "{0:C}";
    decimal parameters = 0;

    if (stockItem.IsOnSale())
    {
        parameters = stockItem.SalePrice;
        productFormat = "<span style='text-decoration: line-through; color: red'>{0:C}</span> {1:C}";
    }

    @Html.Raw(Model.FormatWithCompanyCulture(productFormat, stockItem.BasePrice, parameters));
}

<script type="text/javascript">
    $(document).ready(function () {
        $(".addToCartForm").submit(function (e) {
            e.preventDefault();

            var img        = "@imageSrc";
            var quantity   = $("#quantity", ".tab-content.noborder.topmargin.tab-content-active").val();
            var delay      = @ViewBag.CartNotificationDelayInSeconds;
            var catalogUrl = '@Url.AbsoluteContent(Url.Action("Index", "Shop"))';
            var cartUrl    = '@Url.AbsoluteContent(Url.Action("Index","Cart"))';

            if (!isNaN(parseInt($("#quantity", $(this)).val()))) {
                $.post("@Url.Action("AddToCart", "Product")", $(this).serialize(), function (data) {
                    itemCartQuantity.change();
                    showItemAddedToCartNofitication("@Model.Title", quantity, img, delay, catalogUrl, cartUrl);
                }).fail(function (error) {
                    console.log(error);
                });                
            } else {
                e.preventDefault();
            }
        });
    });
</script>