﻿@model Jhm.Web.Core.Models.AnyAmountDonationOption
    
@using Jhm.Common.Framework.Extensions
@using Jhm.Web.Core
@using Jhm.Web.Core.Models
@using Jhm.Web.Core.Models.Modules
@using Jhm.Web.Core.Models.Modules.ECommerce

@{
    var client = (Client)ViewData[MagicStringEliminator.ViewDataKeys.Client];
    var minAmount = ((decimal)0.00).FormatWithClientCulture(client, "C");
    const string partialViewsPath = "~/Views/Shared/PartialViews/ObjectDisplayEditControls/Donation/Options/DonationOption";
}

@{
    Html.RenderPartial(string.Format("{0}/IdTitleImageBodyStockItems.cshtml",partialViewsPath), Model);
    Html.RenderPartial(string.Format("{0}/AmountTextBox.cshtml", partialViewsPath), Model);
}
    <p>Amount must be greater than <strong>@minAmount</strong></p>

@{
    Html.RenderPartial(string.Format("{0}/Certificate.cshtml", partialViewsPath), Model);
    Html.RenderPartial(string.Format("{0}/DonationFrequency.cshtml", partialViewsPath), Model);
}