
/*
 * Block Styling
 * ----------------------------------------------------------------------------
 */


.block /* Block wrapper */ {
  margin-bottom: 1em;
}

.block.region-odd /* Zebra striping for each block in the region */ {
}

.block.region-even /* Zebra striping for each block in the region */ {
}

.block.odd /* Zebra striping independent of each region */ {
}

.block.even /* Zebra striping independent of each region */ {
}

.block h2.title /* Block title */ {
	margin: 20px 25px;
}

.block .content /* Block's content wrapper */ {
	margin: 20px 25px;
}



#content .block h2.title {
	position: relative;
	margin: 0;
}

#content .block h2.title.split {
    height: 23px;
}

#content .block h2.title span {
	font-weight: normal;
}

#content .block h2.title.split span {
    font-weight: bold;
}

#content .block h2.title span.more-link {
	position: absolute;
	top: 10px;
	right: 10px;
	background: url('../images/more-link-arrow.png') top right no-repeat;
	padding: 0 16px 0 0;
}
#content .block h2.title span.more-link a {
	color: #68217a;
}
#content .block h2.title span.more-link a:hover {
	color: #643b00;
}
#content .block .content {
	background: #fff;
	margin: 0;
	padding: 6px;
}
#content .block .content h5 {
	color: #666;
	border-color: #999;
}
#content .block .content p {
}



#content .block h2.title span.col-2 {
	float: right;
	width: 50%;
	font-weight: bold;
}
#content .block .content .col-1 {
	width: 49%;
}
#content .block .content .col-2 {
	width: 49%;
	border-left: 1px dashed #ac8047;
}
#content .block .content .col-inner {
	padding: 10px;
}




#footer .block {
	float: left;
	text-align: center;
	margin: 0 1px;
}
#footer .block a {
	color: #fff;
}
#footer .block a:hover {
	color: #402d08;
}
#footer .block img {
	background: url('../images/footer-block-bg.png');
	padding: 6px;
}
#footer .block h6 {
	font-weight: normal;
	margin: 0;
}

.block .social-link {
	display: block;
	margin-bottom: 10px;
}


#slideshow{
	position: relative;
	width: 900px;
	height: 400px;
	z-index: 10;
}

#navHolder{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 776px;
	height: 81px;
	background-image: url('../images/bannerTxtBg.png');
	background-repeat: no-repeat;
	z-index: 10;
}

#nav{
	position: absolute;
	right: 50px;
	top: 28px;
	vertical-align: middle;
	text-align: center;
	line-height: 25px;
}

#nav a{
	background-image: url('../images/inactivePager.png');
	font-size: 18px;
	color: #FFF;
	margin: 0 5px;
	display: block;
	float: left;
	width: 25px;
	height: 25px;
}

#nav .activeSlide{
	background-image: url('../images/activePager.png');
}

#banner_title{
	font-family: "Times New Roman";
	font-size: 30px;
	color: #FFF;
	margin-top: 0;
	margin-left: 25px;
	margin-bottom: 0;
	padding-top: 20px;
}
#banner_subtitle{
	font-family: "Times New Roman";
	font-size: 18px;
	color: #d0ab39;
	margin-left: 25px;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 7px;
}

/*--------REVIEW ORDER SECTION----------*/

#section-review #billing-info,
#section-review #shipping-info{
	margin: 0;
	text-align: left;
	padding-left: 50px;
}

#section-review #billing-info span,
#section-review #shipping-info span{
	font-weight: bold;
	font-size: 18px;
	color: #165C86;
}

/*-------------RECEIPT SECTION--------------*/
#section-receipt #billing-info,
#section-receipt #shipping-info{
	margin: 0;
	text-align: left;
	padding-left: 125px;
}

#section-receipt #billing-info span,
#section-receipt #shipping-info span{
	font-weight: bold;
	font-size: 18px;
	color: #165C86;
}
