
/*
 * Default Styling
 * ----------------------------------------------------------------------------
 */


/*
** HTML elements
*/
fieldset {
  margin-bottom: 1em;
  padding: .5em;
}
form {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
}
th {
  text-align: left; /* LTR */
  padding-right: 1em; /* LTR */
  border-bottom: 3px solid #ccc;
}


/*
 * Markup free clearing
 * Details: http://www.positioniseverything.net/easyclearing.html
 * ----------------------------------------------------------------------------
 */
.clear-block:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clear-block {
  display: inline-block;
}

/* Hides from IE-mac \*/
* html .clear-block {
  height: 1%;
}
.clear-block {
  display: block;
}
/* End hide from IE-mac */




/*
 * Helpers
 * ----------------------------------------------------------------------------
 */
	
.left {
	float: left;
}
.right {
	float: right;
}
	
.col-1, .col-2, .col-3, .col-spacer, .col-span {
  float: left;
  position: relative;
}
  
.align-right {
	text-align: right;
}
