
/*
 * E-commerce Page and View displays
 * ----------------------------------------------------------------------------
 */
 

/** My Cart and Checkout Tables **/

h2.title.collapse-control {
	margin-bottom: 0 !important;
	position: relative;
	padding-left: 40px;
}

h2.title.collapse-control .arrow {
	position: absolute;
	top: 0;
	left: 0;
	padding: 8px 10px 6px 10px;
	height: 21px;
	width: 17px;
	text-align: center;
	display: block;
	cursor: pointer;
}

table.store {
	width: 808px;
	margin: 0 auto 1em auto;
	border-spacing: 0px;
}

table.store table {
	width: 100%;
	border-spacing: 0px;
}

table.store table td {
	padding: 10px;
}

table.store tr {
	border-bottom: 1px dashed #aa7d43;
}
table.store td {
	vertical-align: top;
	padding: 0;
}

/*

table.store thead {
	background: url('../images/title-bg.jpg') top center repeat-x;
}
table.store thead td {
	color: #165c86;
	font-weight: bold;
}

table.store thead td.subtotal {
	width: 63px;
	text-align: right;
}

table.store thead td.title {
	width: 671px;
	text-align: left;
}

table.store thead td.arrow {
	width: 14px;
	text-align: center;
}

table.store thead.collapse-control {
	cursor: pointer;
}
*/


table.store td.subtotal,
table.store td.shipping,
table.store td.tax {
	color: #165c86;
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
}

table.store td.cost, table.store tfoot th.cost {
	color: #aa7d43;
	font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;
	font-size: 1.2em;
}
table.store input[type="text"] {
	width: 30px;
}
table.store h4 {
	font-size: 1em;
	margin: 0;
}

table.store p {
	color: #165c86;
	font-size: 0.875em;
	margin: 0;
}


table.store thead {

}
table.store thead td {
	color: #165c86;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
}

table.store thead.title td {
	font-size: 1.5em;
	line-height: 1em;
}


table.store tbody {
}
table.store tbody td {
	padding: 10px 0;
}


table.store tfoot {
}
table.store tfoot tr {
	background-color: #eaeaea;
}
table.store tfoot td {
	padding: 20px 0;
}

table.mycart td.remove {
	width: 10%;
}
table.mycart td.photo {
	width: 10%;
}
table.mycart td.products {
	width: 60%;
}
table.mycart td.price {
	width: 10%;
}
table.mycart td.qty {
	width: 10%;
}
table.mycart td.total {
	width: 10%;
}

table.checkout td.qty {
	width: 10%;
}
table.checkout td.products {
	width: 80%;
}
table.checkout td.total {
	width: 10%;
}


.checkout-controls {
	text-align: right;
}
.checkout-controls div.easybutton {
	margin: 0 10px 10px 0;
}

table.store .checkout-controls div.easybutton {
	min-width: inherit;
}

table.store .checkout-controls div.easybutton a {
	border: none;
}




/** Checkout Labels and Form Elements **/

#section-checkout .block .description {
	color: #165c86;
	font-size: 0.875em;
}	
#section-checkout .block label, #section-review .block label {
	color: #165c86;
	font-size: 0.875em;
	font-weight: bold;
	margin: 0.2em 0;
}
#section-checkout .block .form-item {
	margin: 0.2em 0;
}

.section-checkout {}
.section-checkout .block .description {
	color: #165c86;
	font-size: 0.875em;
}	
.section-checkout .block label {
	color: #165c86;
	font-size: 0.875em;
	font-weight: bold;
	margin: 0.2em 0;
}
.section-checkout .block .form-item {
	margin: 0.2em 0;
}

.col-inner label {
	clear: both;
	float: left;
	width: 140px;
	text-align: right;
}	
.col-inner .form-item {
	float: right;
	width: 240px;
}
.col-inner .form-item.checkbox {
	float: none;
	width: auto;
	color: #165c86;
	font-size: 0.875em;
}
.col-inner .form-item.checkbox img {
	position: relative;
	top: 5px;
}	






/** Product List Views **/

.view-product-gallery {
	padding: 2px 0 10px 2px;
}
.view-product-gallery .item {
	float: left;
	background: #efefef url('../images/view-product-item-bg.png') top left repeat-x;
	margin: 0 5px 5px 0;
	padding: 5px;
    position: relative;
}
    .view-product-gallery .item a.easybutton {
        position: absolute;
        bottom: 0;
    }
.view-product-gallery .item.rowend {
	margin: 0 0 5px 0;
}
.view-product-gallery .item .product-photo {
	width: 125px;
	background-color: #fff;
	text-align: center;
}
.view-product-gallery .item .product-title {
	color: #643b00;
	font-size: 0.875em;
	font-weight: bold;
	padding: 5px 0;
}
.view-product-gallery .item .product-title a:hover {
	color: #643b00;
	text-decoration: underline;
}
.view-product-gallery .item .product-price {
	color: #165c86;
	font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;
	font-size: 1.4em;
	padding: 10px 0;
}
.view-product-gallery .item .easybutton {
	width: 114px;
}

/*------view product list----------*/

.view-product-list {
	padding: 0 0 10px 0;
}
.view-product-list .item {
	background: #efefef url('../images/view-product-item-bg.png') top left repeat-x;
	margin-bottom: 5px;
	padding: 5px;
}
.view-product-list .item .product-photo {
	float: left;
	width: 125px;
	background-color: #fff;
	text-align: center;
	margin-right: 10px;
}
.view-product-list .item .product-photo img {
	margin: 0;
}
.view-product-list .item .product-content {
	float: left;
	width: 270px;
	padding: 5px 0;
}
.view-product-list .item .product-content h4 {
	margin: 0;
}
.view-product-list .item .product-content h4 a:hover {
	color: #643b00;
	text-decoration: underline;
}
.view-product-list .item .product-content ul.meta {
	margin: .5em 0;
}
.view-product-list .item .product-data {
	float: right;
}
.view-product-list .item .product-data .product-price {
	text-align: right;
	color: #165c86;
	font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;
	font-size: 1.4em;
}


/*----------view gallery list---------------*/

.view-product-gallery {
	padding: 0 0 10px 0;
}
.view-product-gallery .item {
	background: #efefef url('../images/view-product-item-bg.png') top left repeat-x;
	margin-bottom: 20px;
	padding: 5px 5px 6px 5px;
	width: 125px;
}
.view-product-gallery .item .product-photo {
	float: left;
	width: 125px;
	background-color: #fff;
	text-align: center;
	margin-right: 10px;
}
.view-product-gallery .item .product-photo img {
	margin: 0;
}
.view-product-gallery .item .product-content {
	float: left;
	width: 270px;
	padding: 5px 0;
}
.view-product-gallery .item .product-content h4 {
	margin: 0;
}
.view-product-gallery .item .product-content h4 a:hover {
	color: #643b00;
	text-decoration: underline;
}
.view-product-gallery .item .product-data {
	float: right;
}

.view-product-gallery .item .select{
	padding: 20px 0 15px;
}

.view-product-gallery .item .product-data .selectDark .styleSelect_item{
	width: 127px;
}

/*-------------------------------------------------*/

.view-product-reviews {
}
.view-product-reviews .item {
	border-bottom: 1px dashed #643b00;
	padding: 10px 0;
}
.view-product-reviews .item .product-rating {
	float: left;
	width: 100px;
	padding: 5px 10px;
}
.view-product-reviews .item .product-rating .fivestar-form-item {
	margin: 0;
}
.view-product-reviews .item .product-review {
	float: left;
	width: 400px;
}
.view-product-reviews .item .product-review h4 {
	margin: 0;
}
.view-product-reviews .item .product-review p {
	margin: 0;
}

/*-------------REVIEW ORDER SECTION---------------*/

#section-review table tfoot tr{
	border-bottom: none;
}

#section-review .row-tax{
	border-bottom: 1px dashed #AA7D43;
}

#section-review table tfoot td{
	padding: 10px 10px 5px 0;
}

#section-review .row-total{
	background-color: #fff;
}


#section-review .total,
#section-review .order-total{
	color: #165C86;
}

#section-review .row-total{
	font-size: 18px;
	font-weight: bold;
}

/*--------------RECEIPT SECTION--------------------*/
#section-receipt table tfoot tr{
	border-bottom: none;
}

#section-receipt .row-tax{
	border-bottom: 1px dashed #AA7D43;
}

#section-receipt table tfoot td{
	padding: 10px 10px 5px 0;
}

#section-receipt .row-total{
	background-color: #fff;
}


#section-receipt .total,
#section-receipt .order-total{
	color: #165C86;
}

#section-receipt .row-total{
	font-size: 18px;
	font-weight: bold;
}

.ShoppingCart-CartItem-Description div.header a {
    color: #0C3249;
}

.ShoppingCart-CartItem-Description div.header {
    font-weight: bold; 
    font-size: 1.8em;
}

div.select span.activeSelect {
    border: 1px solid #317EA7;
}