
/*
 * Form Styling
 * ----------------------------------------------------------------------------
 */


.form-item,
.form-checkboxes,
.form-radios /* Wrapper for a form element (or group of form elements) and its label */ {
  margin: 1em 0;
}

.form-item input.error,
.form-item .input-validation-error,
.form-item textarea.error,
.form-item select.error /* Highlight the form elements that caused a form submission error */ {
  border: 2px solid #c00;
}

.form-item label /* The label for a form element */ {
  display: block;
  font-weight: bold;
}

.form-item label.option /* The label for a radio button or checkbox */ {
  display: inline;
  font-weight: normal;
}

.form-required /* The part of the label that indicates a required field */ {
  color: #c00;
}

.form-item .description /* The descriptive help text (separate from the label) */ {
  font-size: 0.85em;
}

.form-checkboxes .form-item,
.form-radios .form-item /* Pack groups of checkboxes and radio buttons closer together */ {
  margin: 0.4em 0;
}

.form-submit /* The submit button */ {
}

.container-inline div,
.container-inline label /* Inline labels and form divs */ {
  display: inline;
}

.user-form-item .initial {
    font-size: 12px;
    font-style: italic;
    color: lightslategray;
}

.user-form-item .in-use {
    font-size: 14px;
    font-style: normal;
    color: black;
}

.input-validation-error {
    border: 2px solid red;
    background-color: #FDE1E6;
}

.validation-summary-errors, .field-validation-error, .input-validation-error {
    color: red;
}
