
/*
 * Navigation
 * ----------------------------------------------------------------------------
 */
#navigation .section {
	padding: 12px 10px 10px;
}

#main-menu {
	margin-left: -10px;
}

#main-menu ul li a {
	color: #643B00;
 	display: block;
 	padding: 14px 26px 10px;
}
/*
#main-menu ul li.first a {
	padding: 14px 30px 10px;
}
*/
#main-menu ul li.last a {
	padding: 14px 27px 10px 26px;
}

#main-menu ul li.last a:hover,
#main-menu ul li.last a:active,
#main-menu ul li.last a:focus,
#main-menu ul li.last a.active  {
	background-position: -739px -58px;
}

 
 
/*
 * Footer
 * ----------------------------------------------------------------------------
 */
.region-footer {
	padding: 20px 14px;
}
#footer-message {
	padding-bottom: 20px;
}



/*
 * Tabs
 * ----------------------------------------------------------------------------
 */
ul.primary li a,
ul.primary li a .tab,
ul.secondary li a,
ul.secondary li a .tab {
  cursor: pointer;
}


/*
 * Markup free clearing
 * ----------------------------------------------------------------------------
 */
.clearfix {
  zoom: 1;
}


/*
 * Footer
 * ----------------------------------------------------------------------------
 */
 
a.easybutton,
a.easybutton:link,
a.easybutton:visited {
	border: 1px solid #666;
	padding: 10px 5px 0;
}
div.easybutton {
	border: 1px solid #666;
	padding: 10px 0 0 0;
}
div.easybutton a,
div.easybutton a:link,
div.easybutton a:visited {
	padding: 10px 15px 10px 12px;
}

/*
 * User profiles
 */
.login-email input{
	height: 23px;
	font-size: 17px;
}
.login-password input{
	height: 23px;
	font-size: 17px;
}

#section-register .user-form-item{
	margin: 2px 52px 0 0;
}

#section-reset-password .user-form-item{
	margin: 2px 52px 0 0;
}
