
/*
 * Navigation
 * ----------------------------------------------------------------------------
 */

#navigation .section {
	padding: 12px 10px 10px;
}

#main-menu {
	margin-left: -10px;
}

#main-menu ul {
	display: block;
}

#main-menu ul li {
	display: block;
	float: left;
}

#main-menu ul li a {
	color: #643B00;
 	display: block;
 	padding: 14px 26px 10px;
}
/*
#main-menu ul li.first a {
	padding: 14px 30px 10px;
}
*/
#main-menu ul li.last a {
	padding: 14px 21px 10px 22px;
}

#main-menu ul li.last a:hover,
#main-menu ul li.last a:active,
#main-menu ul li.last a:focus,
#main-menu ul li.last a.active  {
	background-position: -748px -58px;
}


#secondary-menu ul ul li.middle-sub {
	width: 177px;
} 

#secondary-menu ul ul li{
	background-image: none;
}

#secondary-menu ul ul{
	background-image: url('../images/subMenuBg.png');
	background-repeat: repeat;
}

/*
 * Footer
 * ----------------------------------------------------------------------------
 */
.region-footer {
	padding: 20px 14px;
}
#footer-message {
	padding-bottom: 20px;
}



/*
 * Tabs
 * ----------------------------------------------------------------------------
 */
ul.primary li a,
ul.primary li a .tab,
ul.secondary li a,
ul.secondary li a .tab {
  cursor: pointer;
}


/*
 * Markup free clearing
 * ----------------------------------------------------------------------------
 */
.clearfix {
  zoom: 1;
}


/*
 * Footer
 * ----------------------------------------------------------------------------
 */
 
a.easybutton,
a.easybutton:link,
a.easybutton:visited {
	border: 1px solid #666;
	padding: 10px 5px 0;
}
div.easybutton {
	border: 1px solid #666;
	padding: 0px 0 0 0 !important;
}

.node-type-product.node-teaser div.easybutton {
	width: 210px;	
}

.node-type-product.node-teaser div.easybutton.donate {
	width: 133px;	
}

div.easybutton a,
div.easybutton a:link,
div.easybutton a:visited {
	padding: 10px 15px 10px 12px;
	float: left;
	display: block;
}

#search-form .content .search-button {
	border: none;
	right: 0;
	top: 1px;
}

a.easybutton.buy.right{
	width: 100px;
}

div.easybutton.cart-add{
	padding-top: 0;
}

div.easybutton.cart-add a{
	display: block;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	margin: 0;
}

div.checkout-controls div.easybutton.cart-add{
	width: 80px;
}

div.checkout-controls div.easybutton{
	width: 205px;
}

table.store tr td{
        border-bottom: 1px dashed #aa7d43;
}

table.store tr td.no-border{
        border: none;
}

#content .block .content.spacer{
        margin-top: -14px;
        height: 15px;
}

#content .block .content.controlbar{
        margin-top: -14px;
        height: 50px;
}

.easybutton.iefix{
        clear: both;
        width: 200px;
}

.easybutton.iefix.reviewbtn{
        width: 261px;
}

.easybutton.iefix.receiptbtn{
        width: 130px;
}
