
/*
 * Body
 * ----------------------------------------------------------------------------
 */
body {
}

#page-wrapper,
.region-page-closure {
}

#page {
	/*
   * If you want to make the page a fixed width and centered in the viewport,
   * this is the standards-compliant way to do that. See also the ie6.css file
   * for the necessary IE5/IE6quirks hack to center a div.
   */
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}




/*
 * Header
 * ----------------------------------------------------------------------------
 */
#header {
	position: relative;
	height: 200px;
	z-index: 10;
}

#header .section {
}

#search-box {
}

.region-header {
  clear: both; /* Clear the logo */
}




/*
 * Main (container for everything else)
 * ----------------------------------------------------------------------------
 */
#main-wrapper {
  position: relative;
  z-index: 1;
}

#main {
}





/*
 * Content
 * ----------------------------------------------------------------------------
 */
#content,
.no-sidebars #content {
  float: left;
  width: 900px;
  margin-left: 0;
  margin-right: -900px; /* Negative value of #content's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #content .section. */
}

.sidebar-first #content {
  width: 624px;
  margin-left: 277px; /* The width of .region-sidebar-first. */
  margin-right: -900px; /* Negative value of #content's width + left margin. */
}

.sidebar-second #content {
  width: 623px;
  margin-left: 0;
  margin-right: -623px; /* Negative value of #content's width + left margin. */
}

.two-sidebars #content {
  width: 346px;
  margin-left: 277px; /* The width of .region-sidebar-first */
  margin-right: -700px; /* Negative value of #content's width + left margin. */
}

#content .section {
  margin: 0;
  padding: 0;
}


/*
 * Navigation
 * ----------------------------------------------------------------------------
 */
#navigation {
  float: left; /* LTR */
  width: 100%;
  margin-left: 0; /* LTR */
  margin-right: -100%; /* LTR */ /* Negative value of #navigation's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #navigation .section. */
  height: 2.3em; /* The navigation can have any arbritrary height. We picked one
                    that is the line-height plus 1em: 1.3 + 1 = 2.3
                    Set this to the same value as the margin-top below. */
}

#navigation .section {
}

#navigation ul /* Primary and secondary links */ {
  margin: 0;
  padding: 0;
  text-align: left; /* LTR */
}

#navigation li /* A simple method to get navigation links to appear in one line. */ {
  float: left; /* LTR */
  padding: 0 10px 0 0; /* LTR */
}



/*
 * First sidebar
 * ----------------------------------------------------------------------------
 */
.region-sidebar-first {
  float: left;
  width: 275px;
  margin-left: 0;
  margin-right: -275px; /* Negative value of .region-sidebar-first's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to .region-sidebar-first .section. */
}

.region-sidebar-first .section {
  margin: 0;
  padding: 0;
}

.sidebar-second .region-sidebar-first,
.no-sidebars .region-sidebar-first {
	display: none;
}


/*
 * Second sidebar
 * ----------------------------------------------------------------------------
 */
.region-sidebar-second {
  float: left;
  width: 275px;
  margin-left: 625px; /* Width of content + sidebar-first. */
  margin-right: -900px; /* Negative value of .region-sidebar-second's width + left margin. */
  padding: 0; /* DO NOT CHANGE. Add padding or margin to .region-sidebar-second .section. */
}

.region-sidebar-second .section {
  margin: 0;
  padding: 0;
}

.sidebar-first .region-sidebar-second,
.no-sidebars .region-sidebar-second {
	display: none;
}



/*
 * Footer
 * ----------------------------------------------------------------------------
 */
#footer {
}

#footer .section {
}



/*
 * Closure
 * ----------------------------------------------------------------------------
 */
.region-page-closure /* See also the #page-wrapper declaration above that this div shares. */ {
}



/*
 * Prevent overflowing content
 * ----------------------------------------------------------------------------
 */
#header,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer,
.region-page-closure {
  overflow: visible;
  word-wrap: break-word; /* A very nice CSS3 property */
}


/*
 * If a div.clearfix doesn't have any content after it and its bottom edge
 * touches the bottom of the viewport, Firefox and Safari will mistakenly
 * place several pixels worth of space between the bottom of the div and the
 * bottom of the viewport. Uncomment this CSS property to fix this.
 * Note: with some over-large content, this property might cause scrollbars
 * to appear on the #page-wrapper div.
 */
/*
#page-wrapper {
  overflow-y: hidden;
}
*/


#search-form .content{
	position: relative;
	width: 230px;
	height: 34px;
	background-image: url(../images/searchBg.png);
	background-repeat: no-repeat;
}

#search-form .content label{
	position: absolute;
	top: 7px;
	left: 12px;
	font-size: 16px;
	color: #b0b0a7;
	font-style: italic;
}

#search-form .content #search-field{
	position: absolute;
	top: 6px;
	left: 10px;
	border: none;
	background-color: transparent;
}

#search-form .content .search-button{
	position: absolute;
	top: -1px;
	right: -2px;
	background-image: url(../images/searchSubmitBtn.png);
	background-repeat: no-repeat;
	background-color: transparent;
	border-color: transparent;
	width: 34px;
	height: 34px;
	cursor: pointer;
}
