
/*
 * Navigation Styling
 * ----------------------------------------------------------------------------
 */



#navigation {
	position: absolute;
	bottom: 0;
	/*left: -12px;
  width: 924px;*/
  height: 54px;
  padding: 0; /* DO NOT CHANGE. Add padding or margin to #navigation .section. */
	z-index: 10;
}

#navigation .section {
	/*text-align: center;
	padding: 12px 0 10px;*/
	padding-top: 12px;
}





/*
 * Main menu links
 * ----------------------------------------------------------------------------
 */
#main-menu {
	position: relative;
	z-index: 100;
	
	float:left;
	width: 900px;
}



/** Top Level Main Menu **/
#main-menu ul {
	/*width: 100%;
	margin: 0 auto;
	padding: 0;*/
	clear: left;
	float: none;
	margin: 0 !important;
	padding: 0 !important;
	position: relative;
	width: 900px;
	display: table;
}
#main-menu ul li {
	display: table-cell;
	position: relative;
	float: none;
	font-size: 1em;
	list-style: none; 
	border-right: 1px dashed #fff;
  margin: 0;
  padding: 0;
}
#main-menu ul li.last {
	border-width: 0px;
	/*float: right;*/
}
#main-menu ul li a {
	display: block;
	color: #643B00;
	padding: 14px 25px 10px;
	text-align: center;
	white-space: nowrap;
	font-weight: bold;
}

/*#main-menu ul li.first a {
	padding: 14px 27px 10px;
}
*/
#main-menu ul li.last a{
	/*padding: 14px 27px 10px 26px;*/
	padding: 14px 27px 10px 0px;
	
}

#main-menu ul li a:hover,
#main-menu ul li a:active,
#main-menu ul li a:focus,
#main-menu ul li a.active  {
	background: url('../images/Header.png') top left no-repeat;
	background-position: -30px -58px;
	color: #fff;
}
#main-menu ul li.first a:hover,
#main-menu ul li.first a:active,
#main-menu ul li.first a:focus,
#main-menu ul li.first a.active  {
	background-position: -12px -58px;
}
#main-menu ul li.last a:hover,
#main-menu ul li.last a:active,
#main-menu ul li.last a:focus,
#main-menu ul li.last a.active  {
	background-position: -736px -58px;
}



/** 2nd Level Main Menu **/
	
#main-menu ul ul a:hover,
#main-menu ul ul a.active {
	background-image: none;
}
		
#main-menu ul ul li.parent {
	background: url('../images/main-menu-arrow.png') right center no-repeat;
}
#main-menu ul ul li.parent:hover {
	background: #09769d url('../images/main-menu-arrow.png') right center no-repeat;
}
/*
#main-menu ul ul li.parent > a:hover,
#main-menu ul ul li.parent a.active {
	background: #09769d url('../images/main-menu-arrow.png') right center no-repeat;
}
*/

	
#main-menu ul ul li a,
#main-menu ul ul li.first a,
#main-menu ul ul li.last a {
	display: block; 
	font-size: 1em;
	line-height: 1em;
	height: auto;
	width: 100% !important; /* !important needed to override top level styling */
	padding: 6px 0;
	text-align: left;
	white-space: normal;
	color: #fff;
}





/** 3rd Level Main Menu **/
#main-menu ul ul ul {
	top: 0;
	left: 180px !important;
	font-size: 1em;
	background-color: #043c60;
	margin: 0;
}




/*
 * Secondary menu links
 * ----------------------------------------------------------------------------
 */
#secondary-menu {
	clear: both;
	padding-top: 5px;
}

#secondary-menu ul {
	margin: 0;
	padding: 0;
}

#secondary-menu ul li a{
	position: absolute;
	top: 10px;
}

#secondary-menu ul li.first {
	position: relative;
	padding-left: 5px;
	width: 128px;
}

#secondary-menu ul li.first a {
	margin-left: 50px;
}

#secondary-menu ul li.middle{
	width: 128px;
}

#secondary-menu ul li.last {
	margin: 0;
	position: relative;
	padding-left: 5px;
	width: 165px;
}

#secondary-menu ul li.last a {
	margin-left: 45px;
}

/*#secondary-menu .background {
	background-color: #8E0404;
	opacity: .6;
	width: 100% !important;
	height: 100%;
	z-index: -1;
	position: relative;
}*/

/* SUB MENU FOR CONTACT INFO */

/*.shopNowText a {
	color: #AC0100 !Important;
}*/

#secondary-menu ul ul {
	display: none;
	position: absolute;
	top: 38px;
	width: 650px;
	height: 130px;
	left: -195px;
	z-index: 20;
}

#secondary-menu ul ul li{
	float: left;
	padding-left: 8px;
	border-right: dashed;
	border-width: 1px;
	height: 100%;
	font-size: 12px;
}

#secondary-menu ul ul li.first-sub{
	width: 178px;
}
#secondary-menu ul ul li.middle-sub{
	width: 179px;
}
#secondary-menu ul ul li.last-sub{
	border-right: none;
	width: 249px;
}

/* HEADER MINI ICONS */
#secondary-menu #media-icon{
	background-image: url('../images/GETV_logo.png');
	background-repeat: no-repeat;
	width: 36px;
	height: 36px;
	position: absolute;
	top: 2px;
	left: 10px;
}

#secondary-menu #dm-icon{
	background-image: url('../images/DM_Logo.png');
	background-repeat: no-repeat;
	width: 36px;
	height: 36px;
	position: absolute;
	top: 2px;
	left: 10px;
}

#secondary-menu #mail-icon{
	background-image: url('../images/mailIcon.png');
	background-repeat: no-repeat;
	width: 35px;
	height: 24px;
	position: absolute;
	top: 9px;
	left: 15px;
}

#secondary-menu #down-arrow-icon{
	background-image: url('../images/downArrow.png');
	background-repeat: no-repeat;
	width: 24px;
	height: 11px;
	position: absolute;
	top: 15px;
	right: 19px;
}

#secondary-menu #donate-icon{
	background-image: url('../images/donateIcon.png');
	background-repeat: no-repeat;
	width: 39px;
	height: 33px;
	position: absolute;
	top: 5px;
	left: 10px;
}



/*
 * Block menu links
 * ----------------------------------------------------------------------------
 */

.block ul.links,
.block ul.links ul {
	position: relative;
  display: block;
  list-style-type: none;
  border: none;
  margin: 0;
  padding: 0;
}
.block ul.links li {
	float: none;
	display: block;
	border-bottom: 1px dashed #ab7d39;
	margin: 0;
	padding: 14px 24px 10px;
}

.block ul.links a {
  position: relative;
  list-style-type: none;
  margin-left: 15px;
  padding: 6px 10px 4px 10px;
  z-index: 10;
}

/*
 * Child page link indentations
 */
.block ul.links ul {
	position: relative;
	top: 10px;
	padding: 0 0 10px 0;
}
.block ul.links ul li  {
	padding: 2px 24px;
}
.block ul.links ul a {
	display: block;
  color: #cce2ff;
  padding: 2px 4px 1px;
}

.block ul.links ul li {
	border: none;
}

/*
 * .menu_node(s) are dynamically inserted <spans> that allow collapsing
 * behavior.
 * 
 * They are not hard-coded. Rather, they are styled here and placed by jQuery
 */
.block ul.links .menu_node:hover {
}
.block ul.links .menu_node.open {
  background-position: 0 -32px;
}
.block ul.links .menu_node.closed {
  background-position: 0 -16px;
}
.block ul.links a .menu_node.hover {
}
.block ul.links a .menu_node.open.hover {
}
.block ul.links a .menu_node.closed.hover {
}
.block ul.links ul .menu_node {
	margin-top: 2px;
}
.block ul.links ul a .menu_node.open {
}
.block ul.links ul a .menu_node.closed {
}
.block ul.links ul a .menu_node.hover {
}
.block ul.links ul a .menu_node.open.hover {
}
.block ul.links ul a .menu_node.closed.hover {
}

/*
 * login menu style
 */
.login-menu-wrapper{
	background: url('../images/title-bg.jpg') top center repeat-x;
	width: 100%;
	height: 46px;
}

#login-menu{
	margin: 0;
	padding: 0;
}

#login-menu li{
	list-style: none;
	float: left;
	margin: 0;
	height: 46px;
}

#login-menu li a span.left {
	background: url('../images/menu-active-left-bg.png') top left no-repeat;
	display: none;
	width: 13px;
	height: 45px;
	float: none;
	position: absolute;
	top: 0;
	left: 0;
}

#login-menu li a span.text {
	display: block;
	padding: 15px 7px 16px 7px;
	font-weight: bold;
}

#login-menu li a:hover span.text, #login-menu li.active a span.text {
	background: url('../images/menu-active-bg.png') top left repeat-x;
	color: #794905;
}

#login-menu li a span.right {
	background: url('../images/menu-active-right-bg.png') top left no-repeat;
	display: none;
	width: 13px;
	height: 45px;
	float: none;
	position: absolute;
	top: 0;
	right: 0;
}

#login-menu li a:hover span.left, #login-menu li.active a span.left, #login-menu li a:hover span.right, #login-menu li.active a span.right {
	display: block;
}

.returnToOnlineProgrammingLink
{
	font-weight:bold; 
	color: #0C3249 !important; 
	padding: 4px 0 4px 40px; 
	vertical-align:middle;
	background: transparent url(/Content/images/mediaIcon.png) no-repeat;
}




















