
/*
 * Node Styling
 * ----------------------------------------------------------------------------
 */


.node /* Node wrapper */ {
}

.node-sticky /* A sticky node (displayed before others in a list) */ {
}

.node-unpublished /* Unpublished nodes */ {
  /* background-color: #fff4f4; */
}

.node-unpublished div.unpublished,
.comment-unpublished div.unpublished /* The word "Unpublished" displayed underneath the content. */ {
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word; /* A very nice CSS3 property */
}

.node-by-viewer /* A node created by the current user */ {
}

.node-teaser /* A node displayed as teaser */ {
}

.node h2.title /* Node title */ {
}

.marker /* "New" or "Updated" marker for content that is new or updated for the current user */ {
  color: #c00;
}

.node .picture /* The picture of the node author */ {
}

.node.node-unpublished .picture,
.comment.comment-unpublished .picture {
  position: relative; /* Otherwise floated pictures will appear below the "Unpublished" text. */
}

.node .meta /* Wrapper for submitted and terms data */ {
}

.node .submitted /* The "posted by" information */ {
}

.node .terms /* Node terms (taxonomy) */ {
}

.node .content /* Node's content wrapper */ {
}

.node ul.links /* Node links. See also the ul.links declaration in the pages.css. */ {
}

.preview .node /* Preview of the content before submitting new or updated content */ {
  /* background-color: #ffffea; */
}


/* All nodes are given a node-type-FOO class that describes the type of
 * content that it is. If you create a new content type called
 * "my-custom-type", it will receive a "node-type-my-custom-type" class.
 */
.node-type-page /* Page content node */ {
}

.node-type-story /* Story content node */ {
}




/* Product content node */
.node-type-product  {
}

.node-type-product .product-photo {
	float: left;
	width: 180px;
}
.node-type-product .product-photo img {
	margin-bottom: 1em;
}
.node-type-product .product-content {
	float: right;
	width: 370px;
}
.node-type-product .product-content h1 {
	margin-bottom: 0;
}
.node-type-product .product-content h2 {
	color: #165c86;
	font-style: italic;
	margin-bottom: 0;
}
.node-type-product .product-content p {
	margin-top: 0;
}
.node-type-product .product-content hr {
	margin: 20px 0;
}
.node-type-product .product-content ul.meta {
	color: #165c86;
	font-size: 0.875em;
	line-height: 1.1em;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.node-type-product .product-content ul.meta a {
	color: #165c86;
	text-decoration: underline;
}
.node-type-product .product-content ul.meta a:hover {
	color: #0f3b55;
	text-decoration: none;
}
.node-type-product .product-content .price-listing {
	color: #165c86;
}
.node-type-product .product-content .price-value {
	font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;
	font-size: 2em;
}
.node-type-product .product-content .price-adjustments {
	color: #c00;
	margin: 1em 0;
	font-weight: bold;
}


.node-type-product.node-teaser {
	padding: 10px 10px 10px 25px;
}
.node-type-product.node-teaser .product-photo {
	width: 150px;
}
.node-type-product.node-teaser .product-photo img {
	border: 10px solid #165c86;
	margin: 0;
}
.node-type-product.node-teaser .product-content {
}
.node-type-product.node-teaser .product-content h1 {
	font-size: 1.5em;
	margin: 0;
}
.node-type-product.node-teaser .product-content h1 a:hover {
	color: #643b00;
	text-decoration: underline;
}
.node-type-product.node-teaser .product-content h2 {
	font-size: 1.2em;
	margin: 10px 0 4px;
}
.node-type-product.node-teaser .product-content p {
	font-size: 0.875em;
	line-height: 1.1em;
	margin: 0;
	padding: 0;
}
.node-type-product.node-teaser .product-content ul.meta {
	color: #643b00;
}
.node-type-product.node-teaser .more-link {
	font-weight: bold;
	text-align: left;
	margin: 10px 0;
}
.node-type-product.node-teaser .more-link a {
	position: relative;
	left: -4px;
	padding: 4px 4px 2px 4px;
}
.node-type-product.node-teaser .more-link a:link,
.node-type-product.node-teaser .more-link a:visited {
	color: #0c3249;
}
.node-type-product.node-teaser .more-link a:hover {
	color: #fff;
	background-color: #0c3249;
}
.node-type-product.node-teaser div.easybutton {
	clear: both;
	padding-top: 10px;
}


/*
 * node style for online donation
 */
#section-online-donations .node-type-product.node-teaser {
	padding: 10px;
}

#section-online-donations .node-type-product.node-teaser .product-photo {
	width: 201px;
}

#section-online-donations .node-type-product.node-teaser .product-photo img {
	border: none;
	margin: 0;
}

#section-online-donations .node-type-product .product-content {
	float: right;
	width: 325px;
}

#section-online-donations .node-type-product.node-teaser div.easybutton {
	padding-top: 10px;
	float: right;
}

.node-type-product.node-teaser .loyalty-link a {
	position: relative;
	left: -4px;
	padding: 4px 4px 2px 4px;
}
.node-type-product.node-teaser .loyalty-link a:hover{
	background: #643b00;
	color: #fff;
}

/*
 * node style for donate.php
 */
#section-donate .node-type-product.node-teaser {
	padding: 10px;
}

#section-donate .region-content-bottom .product-photo {
	width: 573px;
}

#section-donate .node-type-product.node-teaser .product-photo img {
	border: none;
	margin: 0;
}

#section-donate .node-type-product .product-content {
	width: 100%;
	position: relative;
}

#section-donate .node-type-product .product-content p.description{
	padding-bottom: 20px;
}

.donation-wrapper
{
    width: 52%;
    border-left: 1px solid #AAA;
    border-right: 1px solid #AAA;
    border-bottom: 1px solid #AAA;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: #fff url('../images/easybutton.png') repeat-x center center;
    -moz-box-shadow:0 0 2px #333;
    -webkit-box-shadow:0 0 2px #333;
    box-shadow:0 0 2px #333;
    border-top: none
}

.donation-wrapper.one{
	border-top: 1px solid #AAA;
	height: auto;
}

/* Old Dotted Style
.donation-wrapper{
	width: 50%;
	border-left: #643b00 dashed thin;
	border-right: #643b00 dashed thin;
	border-bottom: #643b00 dashed thin;
	border-top: none
}

.donation-wrapper.one{
	border-top: #643b00 dashed thin;
	height: auto;
}
*/

.donation-wrapper .content{
	/*margin: 10px !important;*/
	padding: 10px;
}

.donation-wrapper .content p{
	padding: 10px 0 !important;
}

.donation-wrapper .content input.user-donation{
	background-color: #dfdfdf;
	border: none;
	width: 104px;
	height: 28px;
	color: #2f7fa9;
	padding-left: 10px;
}

#section-donate .node-type-product .product-content .easybutton{
	position: absolute;
	top: 100px;
	right: 20px;
}













