
/*
 * Page Background Styling
 * ----------------------------------------------------------------------------
 */

#header {
}

#header .section {
}

#navigation {
	background: url('../images/Header.png') top center no-repeat;
}

#main-wrapper {
	background: url('../images/Header.png') top left repeat-y;
}
.two-sidebars #main-wrapper {
	background: url('../images/main-two-sidebar-bg.png') top center repeat-y;
}
.sidebar-first #main-wrapper {
	background: url('../images/main-first-sidebar-bg.png') top center repeat-y;
}

#main {
}

#footer {
}

#footer .section {
}

#footer .region-footer {
	background: url('../images/footer-bg.png') top center repeat-x;
}
