
/*
 * Page Styling
 * ----------------------------------------------------------------------------
 */



/*
 * Body
 * ----------------------------------------------------------------------------
 */
body {
  margin: 0;
  padding: 0;
}

#page-wrapper {
}

#page {
}



/*
 * Header
 * ----------------------------------------------------------------------------
 */
#header {
}

#header .section {
}

#logo /* Wrapping link for logo */ {
  float: left;
  position: absolute;
  top: 0px;
  left: -40px;
  margin: 0;
  padding: 0;
}

#logo img {
  vertical-align: bottom;
}

.region-header /* Wrapper for any blocks placed in the header region */ {
  position: absolute;
  top: 30px;
  right: 0;
  width: 475px;
  color: #fff;
  z-index: 20;
}
.region-header a,
.region-header a:link {
	color: #fff;
}
.region-header a:hover {
	color: #ccc;
}

.region-header .social-media {
	position: absolute;
	width: 220px;
}

.region-header .user-menu {
	float: right;
	width: 380px;
}
.region-header .user-menu ul.links {
	margin: 0;
}

.region-header .user-menu ul li{
	border-right: solid;
	border-width: thin;
}

.region-header .user-menu ul li.last{
	border-right: none;
}
.region-header .user-menu ul li.last span.icon{
	margin: 0;
	padding-right: 20px;
	background: url('../images/cartIcon.png') top right no-repeat;
}



/*
 * Main (container for everything else)
 * ----------------------------------------------------------------------------
 */
#main-wrapper {
}

#main {
}


/*
 * Content
 * ----------------------------------------------------------------------------
 */
#content {
}

#content .section {
	padding: 20px 25px;
}

.region-content-top /* Wrapper for any blocks placed in the "content top" region */ {
}

.region-content-top .content a:link{
	color: #90550a;
	text-decoration: none;
}

.region-content-top .content a:visited {
	color: #90550a;
	text-decoration: none;
}

.region-content-top .content a:hover,
.region-content-top .content a:focus {
	color: #90550a;
	text-decoration: underline;
}

.region-content-top .content a:active,
.region-content-top .content a.active {
	color: #90550a;
	text-decoration: none;
}

.breadcrumb /* The path to the current page in the form of a list of links */ {
  padding-bottom: 0; /* Undo system.css */
}

h1.title, /* The title of the page */
h2.title /* The title of a block or section */ {
	color: #643b00;
	margin: 0;
}

h2.title {
	font-size: 1.2em;
	background: url('../images/Header.png') top center repeat-x;
  	margin: 25px 0;
	padding: 10px 10px 6px;
}
h2.section-title {
	color: #643b00;
	font-size: 24px;
  	margin: 0;
	padding-bottom: 10px;
}
#content-header h2.title {
	margin: 0 0 25px 0;
}



tr.even /* Some tables have rows marked even or odd. */ {
  /* background-color: #eee; */
}

tr.odd {
  /* background-color: #eee; */
}

div.messages /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */ {
}

div.status /* Normal priority messages */ {
}

div.warning,
tr.warning /* Medium priority messages */ {
  /* border: 1px solid #f0c020; */
}

div.error,
tr.error /* High priority messages. See also the .error declaration below. */ {
}

.error /* Errors that are separate from div.messages status messages. */ {
  /* color: #e55; */
}

.warning /* Warnings that are separate from div.messages status messages. */ {
  /* color: #e09010; */
}

div.tabs /* See also the tabs.css file. */ {
}

.help /* Help text on a page */ {
  margin: 1em 0;
}

.more-help-link /* Link to more help */ {
  font-size: 0.85em;
  text-align: right;
}

#content-area /* Wrapper for the actual page content */ {
	margin-bottom: 1em;
}

ul.links /* List of links */ {
  margin: 1em 0;
  padding: 0;
}

ul.links.inline {
  margin: 0;
  display: inline;
}

ul.links li {
  display: inline;
  list-style-type: none;
  padding: 0 0.5em;
  float: left;
}

.controls {
	color: #165c86;
	font-size: 0.875em;
}
.controls.top {
	clear: both;
	border-bottom: 1px dashed #165c86;
	padding: 0.5em 0;
}
.controls.bottom {
	clear: both;
	padding: 1em 0 0.5em;
}
.controls .pager {
	font-size: 1.2em;
	margin: 0 0 1em;
}
.controls .right a {
	color: #165c86;
}
.controls .right a:hover {
	text-decoration: underline;
}

.pager /* A list of page numbers when more than 1 page of content is available */ {
  clear: both;
  margin: 0;
}
.pager a {
	color: #fff;
	background: #ccc url('../images/pager-bg.png') 0 30px repeat;
	margin: 0 3px 0 0;
  padding: 4px 8px;
}
.pager a:hover,
.pager a.current {
	color: #643b00;
	background-position: 0 0;
}
.pager a.button{
	background-position: 0 90px;
}




.feed-icons /* The links to the RSS or Atom feeds for the current list of content */ {
  margin: 1em 0;
}

.more-link /* Aggregator, blog, and forum more link */ {
  text-align: right; /* LTR */
}

.region-content-bottom /* Wrapper for any blocks placed in the "content bottom" region */ {
}



/*
 * First sidebar
 * ----------------------------------------------------------------------------
 */
.region-sidebar-first {
}

.region-sidebar-first .section {
}



/*
 * Second sidebar
 * ----------------------------------------------------------------------------
 */
.region-sidebar-second {
}

.region-sidebar-second .section {
}



/*
 * Footer
 * ----------------------------------------------------------------------------
 */
#footer {
}

#footer .section {
}

.region-footer {
	padding: 20px 20px;
}

#footer-message {
	background: url('../images/copyright-bg.png') top left repeat-x;
	margin: 6px 0;
	padding: 5px;
	height: 45px;
}
#footer-message p {
	/*color: #90550a;*/
	color: #fff;
	/*text-shadow: 0px 0px 4px#fff;*/
	font-size: 0.75em;
	line-height: 1.25em;
	margin: 0;
	padding: 2px 0;
	font-style: normal;
}

#footer-message p a{
	/*color: #90550a;*/
	color: #D0AB39;
    font-weight: bold;
    font-size: 11px;
    font-style: normal;
	/*text-shadow: 0px 0px 4px#fff;*/
}

#footer-message a:hover {
	color: #fff;
	/*background-color: #90550a;*/
}

.boss-logo{
	background: url('../images/logo-boss.png') top left no-repeat;
	display: block;
	width: 32px;
	height: 35px;
	float: left;
	margin-right: 5px;
}



/*
 * Markup free clearing (See: http://www.positioniseverything.net/easyclearing.html )
 * ----------------------------------------------------------------------------
 */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}



/**
 * Hide elements from all users.
 * ----------------------------------------------------------------------------
 * Used for elements which should not be immediately displayed to any user. An
 * example would be a collapsible fieldset that will be expanded with a click
 * from a user. The effect of this class can be toggled with the jQuery show()
 * and hide() functions.
 */
.element-hidden {
  display: none;
}


/**
 * Hide elements visually, but keep them available for screen-readers.
 * ----------------------------------------------------------------------------
 * Used for information required for screen-reader users to understand and use
 * the site where visual display is undesirable. Information provided in this
 * manner should be kept concise, to avoid unnecessary burden on the user. Must
 * not be used for focusable elements (such as links and form elements) as this
 * causes issues for keyboard only or voice recognition users. "!important" is
 * used to prevent unintentional overrides.
 */
.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}



/*
 * Buttons
 * ----------------------------------------------------------------------------
 */
 
a.easybutton,
a.easybutton:link,
a.easybutton:visited {
  display: inline-block;
  min-height: 25px;
  min-width: 90px;
  padding: 10px 5px 0;
  
  color: #313131;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
	
	border: 1px solid #fff;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background: #fff url('../images/easybutton.png') repeat-x center center;
  -moz-box-shadow:0 0 2px #333;
  -webkit-box-shadow:0 0 2px #333;
  box-shadow:0 0 2px #333;
}
a.easybutton:hover,
a.easybutton:active,
a.easybutton:focus {
  color: #313131;
  text-decoration: none;
  background-color: #f4f4f4;
}

a.easybutton.mini 
{
    min-width:40px; padding: 2px 5px 0;min-height: 18px;position:inherit;
}

a.easybutton.buy.right{
	clear: both;
	float: right;
}

.easybutton span.icon {
	padding: 3px 0 2px 22px;
}
.easybutton.buy span.icon {
	background: url('../images/icon-buy.png') left top no-repeat;
}
.easybutton.watch span.icon {
	background: url('../images/icon-watch.png') left top no-repeat;
}


.easybutton .disabled 
{
    color: #999;
}


div.easybutton {
  display: inline-block;
  min-height: 25px;
  min-width: 90px;
  margin: 10px 0;
  padding: 10px 0 0 0;

  color: #313131;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
	
	border: 1px solid #fff;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background: #fff url('../images/easybutton.png') repeat-x center center;
  -moz-box-shadow:0 0 2px #333;
  -webkit-box-shadow:0 0 2px #333;
  box-shadow:0 0 2px #333;
}
div.easybutton a,
div.easybutton a:link,
div.easybutton a:visited {
	color: #313131;
	border-right: 1px solid #d4d4d4;
	margin: 2px 0;
	padding: 13px 15px 10px 12px;
}
div.easybutton a.first {
}
div.easybutton a.last {
	border-width: 0;
}
div.easybutton a:hover,
div.easybutton a:active,
div.easybutton a:focus {
  color: #165c86;
  text-decoration: none;
  background: url('../images/easybutton.png') repeat-x center center;
}

div.easybutton span.icon {
	padding: 3px 0 2px 22px;
}
div.easybutton a.buy span.icon {
	background: url('../images/icon-buy.png') left top no-repeat;
}
div.easybutton a.watch span.icon {
	background: url('../images/icon-watch.png') left top no-repeat;
}
div.easybutton a.listen span.icon {
	background: url('../images/icon-listen.png') left top no-repeat;
}
div.easybutton a.pdf span.icon {
	background: url('../images/pdf-icon.png') left top no-repeat;
}

a.removebutton,
a.removebutton:link,
a.removebutton:visited {
  display: inline-block;
  height: 20px;
  width: 125px;
  padding: 0;
  
  color: #313131;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
	
	border: 1px solid #fff;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background: #fff url('../images/easybutton.png') repeat-x center center;
  -moz-box-shadow:0 0 2px #333;
  -webkit-box-shadow:0 0 2px #333;
  box-shadow:0 0 2px #333;
  margin-top: 7px;
  font-size: 12px;
  line-height: 1.7;
}
a.removebutton:hover,
a.removebutton:active,
a.removebutton:focus {
  color: #313131;
  text-decoration: none;
  background-color: #f4f4f4;
}



/*
 * Fivestar Rating
 * ----------------------------------------------------------------------------
 */

.fivestar-form-item {
	font-size: 0.875em;
	color: #165c86;
  margin: 1em 0;
}
.fivestar-form-item a {
	color: #165c86;
	text-decoration: underline;
}
.fivestar-form-item a:hover {
	color: #0f3b55;
	text-decoration: none;
}

div.fivestar-widget {
  display: block;
}

div.fivestar-widget .cancel, div.fivestar-widget .star {
  float: left;
  width: 17px;
  height: 15px;
  overflow: hidden;
  text-indent: -999em;
}
div.fivestar-widget .cancel, div.fivestar-widget .cancel a {
  background: url('../images/rating-cancel.png') no-repeat 0 -16px;
  text-decoration: none;
}

div.fivestar-widget .star, div.fivestar-widget .star a {
  background: url('../images/rating-star.png') no-repeat 0 0;
  text-decoration: none;
}

div.fivestar-widget .cancel a, div.fivestar-widget .star a {
  display: block;
  width: 100%;
  height: 100%;
  background-position: 0 0;
  cursor: pointer;
}

div.fivestar-widget div.on a {
  background-position: 0 -16px;
}
div.fivestar-widget div.hover a, div.rating div a:hover {
  background-position: 0 -32px;
}
form.fivestar-widget div.description {
  margin-bottom: 0;
}

/*
 * Custom Page Elements
 * ----------------------------------------------------------------------------
 */
 

/** Home Page **/
#page-front #main-wrapper {
	background-image: none;
}
#page-front #content .section {
	padding: 0;
}

/** Store Section **/
.store-banner {
	background-color: #643b00;
	padding: 10px;
}

.view-catagory-list {
}


/*------------------ selectDark -----------------*/
		
.selectDark .styleSelect_item{
		width: 200px;
}
		
.selectDark .styleSelect_item_content{
		height: 91px;
		overflow-x: hidden;
		overflow-y: scroll;
		background: #2f7fa9;
}

.selectDark{
		background: #fff;
		box-shadow: inset 0 0 8px #dbd9d9;
		-moz-box-shadow: inset 0 0 8px #dbd9d9;
    	-webkit-box-shadow: inset 0 0 8px #dbd9d9;
}

.selectDark .passiveSelect,.selectDark .activeSelect{
		height: 25px;
		line-height: 2em;
		display: block;
		cursor: pointer;	
		padding-left: 4px;
		overflow:hidden;
		font-size:11px;
}
		
.selectDark .activeSelect
{
    padding-right: 25px;
	background: url("../images/darkNormal.jpg") no-repeat top right;
}
		
.selectDark ul{
		padding: 0;
		margin: 0;
		list-style: none;
		cursor: pointer;	
}
		
.selectDark li{
		padding: 0;
		margin: 0;
		font-weight: normal;
		padding: 2px 0 2px 12px;
		color: #fff;
}
		
.selectDark li:hover{
		color: #ccc;
}

/*---------Styling for Scrolling Select List---------*/

.jspContainer{
	overflow: hidden;
	position: relative;
}

.jspPane{
	position: absolute;
}

.jspVerticalBar{
	position: absolute;
	top: 0;
	right: 0;
	width: 26px;
	margin-right: 15px;
	height: 100%;
	background: red;
}

.jspHorizontalBar{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
	background: red;
}

.jspVerticalBar,
.jspHorizontalBar{
	margin: 0;
	padding: 0;
}

.jspCap{
	display: none;
}

.jspHorizontalBar .jspCap{
	float: left;
}

.jspTrack{
	background: #2f7fa9;
	position: relative;
	width: 26px;
}

.jspDrag{
	background: #fff;
	border-radius: 6px;
	-moz-border-radius: 6px;
    -webkit-border-radius: 6px;
	position: relative;
	top: 0;
	right: -8px;
	cursor: pointer;
	width: 9px;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag{
	height: 100%;
}

.jspArrow{
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}

.jspArrow.jspDisabled{
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow{
	height: 16px;
}

.jspHorizontalBar .jspArrow{
	width: 16px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus{
	outline: none;
}

.jspCorner{
	background: #eeeef4;
	float: left;
	height: 100%;
}

.jspPane ul li{
	border-bottom: dashed;
	border-width: thin;
}

.jspPane ul li:last-child{
	border-bottom: none;
}

.product-data .selectDark .styleSelect_item{
	width: 146px;
}

/*-------------RECEIPT SECTION----------------*/

#section-receipt .content p{
	margin: 10px auto;
	width: 800px;
	color: #165C86;
}

#section-receipt .order-message{
	border-bottom: 1px dashed #AA7D43;
	padding-bottom: 10px;
}

.no-vertical-padding {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.vertical-padding-thin {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}
