
/*
 * Print styling
 * ----------------------------------------------------------------------------
 */


/* underline all links */
a:link,
a:visited {
  text-decoration: underline !important;
}

/* Don't underline header */
#site-name a:link,
#site-name a:visited {
  text-decoration: none !important;
}

/* CSS2 selector to add visible href after links */
#content a:link:after,
#content a:visited:after {
  content: " (" attr(href) ") ";
  font-size: 0.8em;
  font-weight: normal;
}

/* Un-float the content */
#content,
#content .section {
  float: none;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

/* Turn off any background colors or images */
body,h2,
#page-wrapper,
#page,
#main-wrapper,
#main,
#content,
#content .section
 {
  color: #000;
  background-color: transparent !important;
  background-image: none !important;
}



/* Hide sidebars and nav elements */
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer,
.breadcrumb,
div.tabs,
.links,
.taxonomy,
.book-navigation,
.forum-topic-navigation,
.pager,
.feed-icons {
  visibility: hidden;
  display: none;
}

/* If you un-comment the "page { overflow-y: hidden; }" ruleset, Firefox clips
   the content after the first page. */
#page-wrapper {
  overflow-y: visible;
}

/* styles added by CA */
body {
    font-size: 14px;
}

.cart-img img {
  height: auto;
  width: 70px;
}

table.shop-cart, table.cart-summary-table, table.payment-method-table {
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  width: 100%;
}

.shop-cart td, .shop-cart th, .cart-summary-table td, .cart-summary-table th, .payment-method-table td, .payment-method-table th {
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  padding: 10px 15px;
  vertical-align: middle;
}

.cart-title, .cart-media-type {font-weight: bold;}

h4 {
    color: #888;
}

.shop-item-sort, .cart-actions {display: none;}