
/*
 * Tabs Styling
 * ----------------------------------------------------------------------------
 */


div.tabs {
  margin: 10px 0 0;
}

ul.primary {
  margin: 0;
  padding: 0 0 0 10px; /* LTR */
  border-width: 0;
  list-style: none;
  white-space: nowrap;
  line-height: normal;
  background: url('../images/tab-bar.png') repeat-x left bottom;
}

ul.primary li {
  float: left; /* LTR */
  margin: 0;
  padding: 0;
}

ul.primary li a {
  display: block;
  height: 24px;
  margin: 0;
  padding: 0 0 0 5px; /* width of tab-left.png */
  border-width: 0;
  font-weight: bold;
  text-decoration: none;
  color: #777;
  background-color: transparent;
  background: url('../images/tab-left.png') no-repeat left -38px;
}

ul.primary li a .tab {
  display: block;
  height: 20px; /* 24px (parent) - 4px (padding) */
  margin: 0;
  padding: 4px 13px 0 6px;
  border-width: 0;
  line-height: 20px;
  background: url('../images/tab-right.png') no-repeat right -38px;
}

ul.primary li a:hover {
  border-width: 0;
  background-color: transparent;
  background: url('../images/tab-left.png') no-repeat left -76px;
}

ul.primary li a:hover .tab {
  background: url('../images/tab-right.png') no-repeat right -76px;
}

ul.primary li.active a,
ul.primary li.active a:hover {
  border-width: 0;
  color: #000;
  background-color: transparent;
  background: url('../images/tab-left.png') no-repeat left 0;
}

ul.primary li.active a .tab,
ul.primary li.active a:hover .tab {
  background: url('../images/tab-right.png') no-repeat right 0;
}

ul.secondary {
  margin: 0;
  padding: 0 0 0 5px;
  border-bottom: 1px solid #c0c0c0;
  list-style: none;
  white-space: nowrap;
  background: url('../images/tab-secondary-bg.png') repeat-x left bottom;
}

ul.secondary li {
  float: left; /* LTR */
  margin: 0 5px 0 0;
  padding: 5px 0;
  border-right: none;
}

ul.secondary a {
  display: block;
  height: 24px;
  margin: 0;
  padding: 0;
  border: 1px solid #c0c0c0;
  text-decoration: none;
  color: #777;
  background: url('../images/tab-secondary.png') repeat-x left -56px;
}

ul.secondary a .tab {
  display: block;
  height: 18px; /* 24px (parent) - 6px (padding) */
  margin: 0;
  padding: 3px 8px;
  line-height: 18px;
}

ul.secondary a:hover {
  background: url('../images/tab-secondary.png') repeat-x left bottom;
}

ul.secondary a.active,
ul.secondary a.active:hover {
  border: 1px solid #c0c0c0;
  color: #000;
  background: url('../images/tab-secondary.png') repeat-x left top;
}

/*
 * Content
 */
.tab-content{
	background: #cbd9e6 url('../images/user-content-bg.jpg') top left repeat-x;
	margin: 0;
}

.tab-content h2{
	margin: 0;
	font-size: 16px;
	padding: 15px 20px 0;
}

.tab-content p {
	margin: 0;
	padding: 15px 20px 0;
}

.login-form{
	font-size: 12px;
}

.login-form h2{
	margin: 0;
	font-size: 16px;
	padding: 15px 20px 0;
}

.login-email
{
    margin: 0;
	padding: 10px 0 20px 43px;
}
.login-email input{
	width: 185px;
	height: 24px;
	font-size: 14px;
}


.login-username
{
    margin: 0;
	padding: 10px 0 20px 43px;
}
.login-username input{
	width: 185px;
	height: 24px;
	font-size: 14px;
}


.login-password{
	margin: 0;
	padding: 0 0 0 108px;
}
.login-password input{
	width: 185px;
	height: 24px;
	font-size: 14px;
}

.login-actions{
	margin: 0;
	padding: 7px 105px;
}
 
.login-submit{
	margin: 0;
	padding: 14px 142px 9px;
	border-bottom: solid 1px;
}

.login-submit input{
	width: 105px;
	height: 42px;
	background: url('../images/sign-in-btn.png') top left no-repeat;
	border: none;
	cursor: pointer;
}
 
/*
 * My account tab
 */
.user-form-item{
	margin: 2px 131px 0 0;
	text-align: right;
} 

.user-form-item.states{
	margin: 2px 276px 0 0;
}

.user-form-item input{
	width: 288px;
}

.user-description{
	margin: 7px 85px 0 0;
	font-size: 12px;
}

.user-divider{
	border-bottom: solid 1px;
	padding-bottom: 15px;
}

.user-shipping-info span{
	font-size: 12px;
	padding-left: 20px;
}

/*
 * Wish List
 */
.tab-content .view-product-gallery{
	padding: 10px 0 0 9px;
} 

.facebook-share-btn{
	display: inline-block;
	width: 95px;
	height: 19px;
	background: url('../images/facebook-share-btn.png') top left no-repeat;
	margin: 10px 0 10px 5px;
}

.twitter-share-btn{
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url('../images/twitter-share-btn.png') top left no-repeat;
	margin: 10px 5px 10px 0;
}

/*
 * Tables inside content
 */
.tab-content table{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #fff;
	background-color: #666;
	border-collapse: collapse;
	padding: 10px 0 20px 0;
	text-align: center;
	border-spacing: 2px 2px;
	border: 2px solid #fff;
}

.tab-content table th{
	background-color: #96aabb;
	color: #000;
	padding: 8px;
	border: 2px solid #fff;
	font-weight: bold;
	text-align: center;
}

.tab-content table td{
	color: #000;
	padding: 8px;
	border: 2px solid white;
}

.tab-content table tr{
	background-color: #dcdcdc;
}
.tab-content table tr.odd{
	background-color: #f0f0f0;
}

.tab-content table tbody th{
	border-right: 1px solid #fff;
}

.tab-content table td a{
	display: block;
	width: 59px;
	height: 15px;
	background: url('../images/table-button.png') top left no-repeat;
}

.tab-content table td a:link,
.tab-content table td a:visited{
	font-size: 11px;
	color: #fff;
	line-height: 1.3;
	padding-bottom: 3px;
}

.tab-content table td a:hover{
	color: #dfa151;
}
 
/*
 * Register
 */
.content-holder{
	padding: 20px;
} 

#section-register .user-form-item{
	margin: 2px 72px 0 0;
}

.submit-btn{
	margin: 10px 0 0 200px;
}

 
.compact-form label{
    padding: 15px 20px 0;
}