﻿@using getv.donorstudio.core.Global

@model Jhm.Web.Core.Models.AddressViewModel

@using (Html.BeginForm("AddNewAddress", "Account"))
{
    <label>* Address 1</label>
    @Html.TextBoxFor(m => m.Address1, new { @class = "input-shop input-full bottommargin-xsm", required = "required" })
    <label>Address 2</label>
    @Html.TextBoxFor(m => m.Address2, new { @class = "input-shop input-full bottommargin-xsm" })
    <label>* City</label>
    @Html.TextBoxFor(m => m.City, new { @class = "input-shop input-full bottommargin-xsm", required = "required" })
    <label>Zip Code</label>
    @Html.TextBoxFor(m => m.Zip, new { @class = "input-shop input-full bottommargin-xsm" })
    <label>* Country</label>
    @Html.DropDownListFor(m => m.Country, Country.GetAllSortedByDisplayName<Country>().Select(c => new SelectListItem { Text = c.Name, Value = c.Iso }),
                                                string.Empty, new { @class = "input-shop input-full bottommargin-xsm", onchange = "set_city_state(this,'BillingStateCode')", required = "required" })
    <label>* Region/State</label>
    @Html.DropDownListFor(m => m.State, State.UnitedStates.Select(x => new SelectListItem { Text = x.DisplayName, Value = x.Code }),
                                                    string.Empty, new { @class = "input-shop input-full bottommargin-xsm", id = "BillingStateCode", required = "required" })
    @Html.CheckBoxFor(m => m.Primary, new { @class = "rightmargin-xsm" })    <span>This is my Primary Address</span>  <br/>
    <button class="button button-blue grid-6" type="button" onclick="$('#newBillingAddress').hide(); $('#addresses').show();">Cancel</button>
    <input class="button button-blue grid-6" type="submit" value="Add New Address" id="AddNew" />
}
