﻿@using getv.donorstudio.core.Global
@model Jhm.Web.Core.Models.AddressViewModel

@using (Ajax.BeginForm("AjaxAddAddress", "Account", null, new AjaxOptions { HttpMethod = "Post", OnSuccess = "updateDeliveryAddress" }))
{
    <label>* Address 1</label>
    @Html.TextBoxFor(m => m.Address1, new { @class = "input-shop input-full bottommargin-xsm", id = "deliveryAddres1", required = "required" })
    <label>Address 2</label>
    @Html.TextBoxFor(m => m.Address2, new { @class = "input-shop input-full bottommargin-xsm", id = "deliveryAddres2" })
    <label>* City</label>
    @Html.TextBoxFor(m => m.City, new { @class = "input-shop input-full bottommargin-xsm", id = "deliveryCity", required = "required" })
    <label>* Zip Code</label>
    @Html.TextBoxFor(m => m.Zip, new { @class = "input-shop input-full bottommargin-xsm", id = "deliveryPZip" })
    <label>* Country</label>
    @Html.DropDownListFor(m => m.Country, Country.GetAllSortedByDisplayName<Country>().Select(c => new SelectListItem { Text = c.Name, Value = c.Iso }),
                                                        string.Empty, new { @class = "input-shop input-full bottommargin-xsm", id = "deliveryCountry", onchange = "set_city_state(this,'deliveryStateCode')", required = "required" })
    <label>* Region/State</label>
    @Html.DropDownListFor(m => m.State, State.UnitedStates.Select(x => new SelectListItem { Text = x.DisplayName, Value = x.Code }),
                                                        string.Empty, new { @class = "input-shop input-full bottommargin-xsm", id = "deliveryStateCode", required = "required" })
    <button class="button button-blue grid-6" type="button" onclick='$("#newDeliveryAddress").hide()'>Cancel</button>
    <input class="button button-blue grid-6" type="submit" value="Add New Address" id="AddNewDelivery" />
}
