﻿@model Jhm.Web.UI.Models.ChangeEmailModel

@{
    Layout = null;
}

<script>
    function showEmailMessage(data, status, xhr) {
        if (data.error) {
            $("#errorChangeEmail").html(data.message);
        }
        else {
            $("#errorChangeEmail").html("");
            $("#NewPassword").val("");
            $("#ConfirmEmail").val("");
            $("#changeEmailForm").hide();
            $("#changeEmailResult").show();
            $("#successChangeEmail").html(data.message);
        }
    }
</script>

<div id="changeEmailForm">
    <p>
        Use the form below to change your email address. <br />
        New emails are required to be confirmed before the email change can take effect. So please make sure you can access the new email inbox before changing your current email in our system.
    </p>
    @using (Ajax.BeginForm("AjaxChangeEmailAddress", "Account", null, new AjaxOptions { HttpMethod = "Post", OnSuccess = "showEmailMessage" }))
    {
        <label>* New Email </label>
        @Html.TextBoxFor(m => m.NewEmail, new { @class = "input-shop input-full bottommargin-xsm", required = "required", type = "email" })
        <label>* Confirm Email</label>
        @Html.TextBoxFor(m => m.ConfirmEmail, new { @class = "input-shop input-full bottommargin-xsm", required = "required", type = "email" })
        <input class="button button-blue" type="submit" value="Change Email" />
    }
    <p id="errorChangeEmail" style="color:red"></p>
</div>
<div id="changeEmailResult" style="display:none">
    <p id="successChangeEmail"></p>
    <input class="button button-blue" type="button" value="OK" onclick='$("#changeEmailResult").hide(); $("#changeEmailForm").show();' />
</div>
