﻿@model Jhm.Web.UI.Models.ChangePasswordModel

<div class="noborder nomargin nopadding topmargin-sm bottommargin-sm">
    <div class="container clearfix">
        <div class="tab-content noborder topmargin main-tab-content">
            <div class="shop-header shop-category-header">
                <h2> Change Password</h2>
            </div>
            <p>New passwords are required to be a minimum of @ViewData["PasswordLength"] </p>
            @using (Html.BeginForm("ChangePassword", "Account"))
            {
                @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.", new { style="color:red" })
                <div class="col4">
                    @if (Session["ResetToken"] == null)
                    {
                        @Html.LabelFor(m => m.CurrentPassword)
                        @Html.PasswordFor(m => m.CurrentPassword, new { @class = "input-shop input-full bottommargin-xsm", required = "required" })
                        @Html.ActionLink("Forgot your current password?", "RequestPasswordChange")
                        @Html.ValidationMessageFor(m => m.CurrentPassword, null, new { style = "color:red" })
                    }
                    @Html.LabelFor(m => m.NewPassword)
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "input-shop input-full bottommargin-xsm" })
                    @Html.ValidationMessageFor(m => m.NewPassword, null, new { style = "color:red" })
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input-shop input-full bottommargin-xsm" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { style = "color:red" })
                    <input class="button button-blue" type="submit" value="Change Password" />
                </div>
            }
            <p style="color:red">@ViewData["Message"] </p>
        </div>

    </div>
</div>




