﻿
<div class="noborder nomargin nopadding topmargin-sm bottommargin-sm">
    <div class="container clearfix">
        <div class="tab-content noborder topmargin main-tab-content">
            <div class="shop-header shop-category-header">
                <h2>Confirmation</h2>
                <div class="shop-item-count">Confirmation Message</div>
            </div>
            <p>
                @ViewData["Message"]
            </p>
        </div>
    </div>
</div>