﻿@model Jhm.Web.UI.Models.ForgotUsernameModel

@{
    Layout = null;
}

<script type="text/javascript">
    function LoadMessage(data, status, xhr) {
        $("span#ResultMessage").show();
    };
</script>

<div class="shop-category-header">
    <h2>Forgot Username</h2>
</div>

@using (Ajax.BeginForm("ForgotUsername", "Account", null, new AjaxOptions { HttpMethod = "Post" , OnSuccess="LoadMessage"}))
{ 
    
    <p>
        Use the form below to recover your username.<br />
    </p>
    <div class="col4">
        <label>* EMAIL:</label>
        @Html.TextBoxFor(m => m.Email, new { @class = "input-shop input-full bottommargin-xsm", required = "required" })
        @Html.ValidationMessageFor(m => m.Email)
    </div>
    <input class="button button-blue" type="submit" value="Recover Username" /><br /><br />
    <span id="ResultMessage" style="display:none; font-weight:600">
        <bold>
            An email with your username was sent to the email address registered in your
            profile. If this is not the email address you registered with, you will not receive an email.
        </bold>
    </span>
}

