﻿@model Jhm.Web.UI.Models.LogOnModel

@{
    Layout = null;
}

@using (Ajax.BeginForm("AjaxLogOn", "Account", null, new AjaxOptions { HttpMethod = "Post", OnSuccess = "LoginCorrect" }, new { id = "top-login" }))
{
    @Html.HiddenFor(m => Model.GlobalUserId)
    <div class="input-group" id="top-login-username">
        <span class="input-group-addon"><i class="icon-mail"></i></span>
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "User Name", required = "required" })
    </div>
    <div class="input-group" id="top-login-password">
        <span class="input-group-addon"><i class="icon-key"></i></span>
        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", type = "password", placeholder = "Password", required = "required" })
    </div>
    <label class="checkbox">
        @Html.CheckBoxFor(m => m.RememberMe, new { type = "checkbox" }) Remember me
    </label>
    <button class="btn btn-danger btn-block" type="submit">Sign in</button>
}