﻿
<div id="shop-nav">
    <ul>
        <li><span><a class="tab" rel="#login" href="#">Login</a></span></li>
        <li><span><a class="tab" rel="#changePassword" href="#">Change Password</a></span></li>
        <li><span><a class="tab" rel="#changeUserName" href="#">Change Username</a></span></li>
    </ul>
</div>
<div class="noborder nomargin nopadding topmargin-sm bottommargin-sm">
    <div class="container clearfix">
        <div id="login" class="tab-content noborder topmargin main-tab-content">
            <div class="shop-category-header">
                <h2>Login</h2>
            </div>
            <div class="col-xs-12 col-md-4">
                @Html.Partial("_LogOnForm", new Jhm.Web.UI.Models.LogOnModel())
            </div>
        </div>
        <div id="changePassword" class="tab-content noborder topmargin main-tab-content">          
            <div class="shop-category-header">
                <h2>Change Password</h2>
            </div>
            @Html.Action("RequestPasswordChange")
        </div>
        <div id="changeUserName" class="tab-content noborder topmargin main-tab-content">
            @Html.Action("ForgotUsername")
        </div>
    </div>
</div>