﻿@using Jhm.Web.Core.Models
@using getv.donorstudio.core.Global

@model Jhm.Web.Core.Models.ProfileViewModel

<script type="text/javascript" src="@Url.Content("~/content/js/city_state.js")"></script>

<script>
    var addressesList = @Html.Raw(Json.Encode(Model.Addresses));      

    function fillAddressData(addressId)
    {
        var address = {};
        if(addressId !== 0 && addressesList.length > 0 && addressId !== "")
        {    
           
            for (var i = 0 ; i < addressesList.length; i++){
                if(addressesList[i].DSAddressId.toString() == addressId.toString()){
                    address = addressesList[i];
                    break;
                }
            }
        }
        if(address !== {}){		
            $("#editAddress1").val(address.Address1);
            $("#editAddress2").val(address.Address2);
            $("#editCity").val(address.City);
            $("#editZip").val(address.PostalCode);
            $("#editCountry").val(address.Country);
            set_city_state($("#editCountry")[0], 'editState');
            $("#editState").val(address.StateCode);
        }
        $('#editBillingAddress').show(); 
        $('#addresses').hide();
    }

    $('#tempDialog').dialog().dialog("destroy");
</script>

<div id="shop-nav">
    <ul>
        <li><span><a class="tab" rel="#myaccount" href="#">My Account</a></span></li>
        <li><span><a class="tab" rel="#mydownloads" href="#">My Downloads</a></span></li>
        @*<li><span><a class="tab" rel="#mysubscriptions" href="#">My Subscriptions</a></span></li>*@
    </ul>
</div>
<div class="noborder nomargin nopadding topmargin-sm bottommargin-sm">
    <div class="container clearfix">
        <div id="myaccount" class="tab-content noborder topmargin main-tab-content">
            <div class="shop-header shop-category-header">
                <h2>My Account</h2>
            </div>            
            <h3 class="heading-border">Account Information</h3>
            <label>User Name </label>
            <input type="text" value="@Model.UserName" class="input-shop input-half bottommargin-xsm" readonly style="border:none">
            <label>Email </label>
            <input type="text" value="@Model.Email" class="input-shop input-half bottommargin-xsm" readonly style="border:none">            
            <div class="slide-wrapper">
                <div class="slide-group">
                    <div class="slide-title">
                        <h3>Change Email Address</h3>
                    </div>
                    <div class="slide-content">                       
                        @Html.Action("ChangeEmailAddress")                           
                    </div>
                </div>
                <div class="slide-group">
                    <div class="slide-title">
                        <h3>Change Password</h3>
                    </div>
                    <div class="slide-content">                       
                        @Html.Action("RequestPasswordChange")                       
                    </div>
                </div>
            </div>
            <h3 class="heading-border">Personal Information</h3>
            
            @using (Html.BeginForm("MyAccount", "Account"))
            {
                <div class="row">
                    <div class="col-xs-6">
                        <label>Title</label>
                        <input type="text" value="@Model.Title" class="input-shop input-half bottommargin-xsm" readonly style="border:none">
                        <label>First Name </label>
                        <input type="text" value="@Model.FirstName" class="input-shop input-half bottommargin-xsm" readonly style="border:none">
                        <label>Last Name </label>
                        <input type="text" value="@Model.LastName" class="input-shop input-half bottommargin-xsm" readonly style="border:none">
                        @Html.HiddenFor(model => model.Email)
                    </div>
                    <div class="col-xs-6">
                        <label>@Html.LabelFor(model => model.Company)</label>
                        @Html.TextBoxFor(model => model.Company, new { @class = "input-shop input-full bottommargin-xsm" })
                        <label>* Phone Number</label>
                        @Html.DropDownListFor(model => model.PhoneCountryCode, new SelectList(Country.GetAll<Country>()
                                .Select(x => x.PhoneCode).Distinct().OrderBy(x => x), "+1"), new { @class = "input-shop bottommargin-xsm", style = "width:20%" })
                        @Html.TextBoxFor(m => m.PhoneAreaCode, new { @class = "input-shop bottommargin-xsm", @style = "width:35%", @size = "4", @maxlength = "4" })
                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "input-shop bottommargin-xsm", @style = "width:35%", @size = "10", @maxlength = "10" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">                        
                        <p>if you require a name change call 1800-854-9899</p>
                    </div>                    
                </div>    
                <div class="row">
                    <div class="col-xs-12">                        
                            <input class="button button-blue pull-left" type="submit" value="Submit" />                        
                    </div>
                </div>                
            }
            
            <h3 class="heading-border">My Billing Addresses</h3>
            <div class="col">
                <p>Enter your billing address here.</p>
                <div id="addresses">
                    <table class="shop-cart">
                        <thead>
                            <tr>                                
                                <th>Address</th>
                                <th>Primary</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (Model.Addresses.Any())
                                {
                                    var orderByPrimary = Model.Addresses.OrderByDescending(address => address.DsIsPrimary);
                                    foreach (var address in orderByPrimary)
                                    {
                                    <tr>
                                        
                                        <td class="cart-product">
                                            @string.Format("{0} {1}", address.Address1, address.Address2)<br />
                                            @(string.Format("{0} {1} {2} {3}", address.City, address.StateCode, address.PostalCode, address.Country))
                                        </td>
                                        <td>
                                            @if (address.DsIsPrimary)
                                            {
                                                <img src="/Content/Images/Icons/ok.gif" width="16" height="16" />
                                            }
                                            else
                                            {
                                                <img src="/Content/Images/Icons/error_16.png" width="16" height="16" />
                                            }
                                        </td>
                                        <td>
                                            <a style="background-image: none; display: inline" href="javascript: void(0);" onclick='fillAddressData(@address.DSAddressId); '>Edit</a>
                                            @if (!address.DsIsPrimary)
                                            {
                                                <a id="deleteAddress" style="background-image: none; display: inline" onclick="return confirm('Are you sure you want to delete this address from your profile?');"
                                                   href="@(Url.Action("deleteaddressaccount", "Account" , new {address.RecordId, address.A02RecordId, address.DSAddressId, address.DsIsPrimary}) )">
                                                    <img src="/Content/Images/Icons/delete.png" width="16" height="16" />
                                                </a>
                                            }
                                        </td>
                                    </tr>                                    
                                    }
                                }
                            }
                        </tbody>
                    </table>
                    <input class="button button-blue" type="submit" value="Add New Address" onclick="$('#newBillingAddress').show(); $('#addresses').hide();" />
                </div>
                <div id="editBillingAddress" style="display:none">
                    @Html.Partial("_EditAddress", new AddressViewModel())
                </div>
                <div id="newBillingAddress" style="display:none">
                    @Html.Partial("_NewAddress", new AddressViewModel())
                </div>
            </div>
        </div>
        <div id="mydownloads" class="tab-content noborder topmargin main-tab-content">
            @Html.Action("MyDownloads")
        </div>
        @*<div id="mysubscriptions" class="tab-content noborder topmargin main-tab-content">
            @Html.Action("MySubscriptions")
        </div>*@       
    </div>
</div>