﻿@model Jhm.Web.Core.Models.DownloadsViewModel

@{
    Layout = null;
    var resultText = "Sorry, you haven't purchased any downloads";
    if (Model.User.Downloads.Any())
    {
        resultText = Model.User.Downloads.ToList().Count.ToString() + " download link" + (Model.User.Downloads.ToList().Count > 1 ? "s" : string.Empty);
    }
}

<h2>My Downloads</h2>
<div class="shop-category-header">
    <div class="shop-item-count">@resultText</div>
</div>
@if (Model.User.Downloads.Any())
{   
    <table class="shop-cart">
        <thead>
            <tr>
                <th>Purchase Date</th>
                <th>Product</th>
                <th>Download Link</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var download in Model.User.Downloads)
            {
                <tr>
                    <td>@download.CreatedDate.ToShortDateString()</td>
                    <td class="cart-product">
                        <div class="cart-title yellow">@(Model.StockItems.ContainsKey(download.Id) ? Model.StockItems[download.Id].StockItem.ProductTitle : string.Empty)</div>
                        <div class="cart-author">@(Model.StockItems.ContainsKey(download.Id) ? Model.StockItems[download.Id].StockItem.MediaType.DisplayName : string.Empty)</div>
                    </td>
                    <td>
                        <div class="cart-title yellow">
                            <a href='@String.Format("http://{0}/Account/FileDownloadManager/{1}", Request.ServerVariables["HTTP_HOST"], download.Id)'>Click here to download this purchase</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}