﻿@using Jhm.Web.Core.Models
@model Jhm.Web.UI.Models.UserSubscriptionsViewModel

@{
    Layout = null;
    var resultText = "You don't have active subscriptions";
    if (Model.Subscriptions.Any())
    {
        resultText = "Active subscriptions";
    }
}
<script>
    var subscriptions =  @Html.Raw(Json.Encode(Model.Subscriptions));
    var subscriptionId = 0;

    function loadSubscriptionDetails(subId) {
        var subscription = {};
        if(subId !== 0 && subscriptions.length > 0 && subId !== "")
        {

            for (var i = 0 ; i < subscriptions.length; i++){
                if(subscriptions[i].Id.toString() == subId.toString()){
                    subscription = subscriptions[i];
                    break;
                }
            }
        }
        if(subscription !== {}){
            $("#subscriptionTitle").html(subscription.SubscriptionTitle);
            $("#subscriber").html(subscription.User.Profile.FirstName + " " + subscription.User.Profile.LastName);
            $("#startDate").html(subscription.StartDateString);
            $("#endDate").html(subscription.ExpirationDateString);
            $("#issues").html(subscription.NumberOfIssues);
            $("#deliveryAddress").html( subscription.DeliveryAddress.Address1 + " " + subscription.DeliveryAddress.Address2 + "<br />" +
                subscription.DeliveryAddress.City + " " + subscription.DeliveryAddress.StateCode + ",  " + subscription.DeliveryAddress.PostalCode + "<br />" +
                subscription.DeliveryAddress.Country);
            $("#SelectedDeliveryAddressId").val(subscription.DeliveryAddress.DSAddressId);
            $("#selectedSubscriptionId").val(subscription.Id);
            subscriptionId = subscription.Id;
            $("#cancelSub").attr('href','@(Url.Action("CancelSubscription", "Account"))' + '?id=' + subscriptionId);
        }
        $('#subscriptionDetails').show();
        $('#subscriptions').hide();
    }

    function populateDeliveryAddress(addressId){
        var address = {};
        if(addressId == ''){
            addressId = $('#SelectedDeliveryAddressId').val();
        }

        if(addressId !== 0 && addressId !== "")
        {
            var url = "@Url.Action("AjaxUpdateDeliveryAddress", "Account")" + "?addressId=" + addressId + "&subscriptionId=" +  subscriptionId;

            var promise = $.get(url);

            promise.done(function (response) {
                if(response.error !== '')
                {
                    $("errorDelivery").html(response.error);
                }
                else{
                    if(window.location.href.indexOf("#") == -1){
                        window.location.href += "#";
                    }
                    window.location.href += "mysubscriptions";
                    location.reload();
                }
            });
        }
        else{
            $("errorDelivery").html("Select a Delivery Address");
        }
    }

    function updateDeliveryAddress(data, status, xhr){
        $("#newDeliveryAddress").hide();
        populateDeliveryAddress(data.address.DSAddressId);
    }
</script>

<h2>My Subscriptions</h2>
<div class="shop-category-header">
    <div class="shop-item-count">@resultText</div>
</div>
@if (Model.Subscriptions.Any())
{
    <div id="subscriptions">
        <table class="shop-cart">
            <thead>
                <tr>
                    <th>Subscription Date</th>
                    <th>Subscription</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var sub in Model.Subscriptions)
                {
                    <tr>
                        <td>@sub.StartDate.GetValueOrDefault().ToShortDateString()</td>
                        <td class="cart-product">
                            <div class="cart-title yellow">@sub.SubscriptionTitle</div>
                            <div class="cart-author">@(string.IsNullOrEmpty(sub.PriceCodeDescription) ? String.Empty : " (" + sub.PriceCodeDescription + ")")</div>
                        </td>
                        <td>
                            <a href="javascript:void(0);" onclick='loadSubscriptionDetails(@sub.Id)'>Details</a><br/>@Html.ActionLink("Renew","JhmMagazineSubscription","Resources") 
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div id="subscriptionDetails" style="display:none">
        <h3 id="subscriptionTitle"></h3>
        <div style="padding: 15px; width: calc(100% - 30px); float: left;">
            <div class="col-xs-6">
                <div><b>Subscriber: </b><br /><span id="subscriber"></span></div>
                <br />
                <div><b>Subscription Start Date: </b><br /><span id="startDate"></span></div>
                <br />
                <div><b>Subscription End Date: </b><br /><span id="endDate"></span></div>      
            </div>
            <div class="col-xs-6">
                <div><b>Number of Issues: </b><br /><span id="issues"></span></div>
                <br/>
                <div><b>Delivery Address: </b><br /><span id="deliveryAddress"></span></div>               
            </div>
        </div>
        <div class="slide-wrapper">
            <div class="slide-group">
                <div class="slide-title">
                    <h3>Change Delivery Address</h3>
                </div>
                <div class="slide-content">
                    <div class="col-xs-6">
                        <input type="hidden" value="" id="selectedSubscriptionId" />
                        @Html.DropDownListFor(m => m.SelectedDeliveryAddressId, Model.Addresses.Select(a => new SelectListItem { Text = a.Address1, Value = a.DSAddressId.ToString() }),
                                     "(Select an address)", new { @class = "input-shop input-full bottommargin-xsm", onChange = "populateDeliveryAddress(''); $('#newDeliveryAddress').hide();" })
                    </div>
                    <div class="col-xs-6">
                        <input class="button button-blue" type="submit" value="Add" onclick="$('#newDeliveryAddress').show();" />
                    </div>
                    <div id="newDeliveryAddress" style="display:none">
                        @Html.Partial("_NewDeliveryAddress", new AddressViewModel())
                        <p id="errorDelivery" style="color:red"></p>
                    </div>
                </div>
            </div>
        </div>

        <button class="button button-blue" type="button" onclick="$('#subscriptionDetails').hide(); $('#subscriptions').show();">Close</button>
        @Html.ActionLink("Renew Subscription", "JhmMagazineSubscription", "Resources") &nbsp;&nbsp;&nbsp;
        <a id="cancelSub" onclick="return confirm('Are you sure you want to cancel this subscription?');"
            href="">Cancel Subscription</a>
    </div>
}