﻿@model Jhm.Web.UI.Models.RegisterModel

@using Jhm.Common.Utilities
@using Jhm.Web.UI.Views
@using Jhm.Common.Framework.Extensions
@using getv.donorstudio.core.Global
@using Jhm.Web.Core.Models.Modules
@using Jhm.Web.Core

<script src="~/Content/js/city_state.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var countryCodes;
        $.get("/Account/GetCountryCodes", function (data) {
            countryCodes = data.countryCodes;
        }, "JSON")
            .fail(function () {
                console.error("There was a problem trying to get CountryCodes");
            });
        $("#CountryCombo").on("change", function (e) {
            e.preventDefault();
            set_city_state__and_phoneCode(document.getElementById("CountryCombo"), "StateCombo", countryCodes, "PhoneCodeCombo", true);
        });

        $("#submitButton").click(function () {
            if ($("#userPassword").val() != $("#ConfirmPassword").val()) {
                $("#confirmPassword_validator").text("Please enter the same password as above");
                return false;
            }
            return true;
        });
    });
    //$(function () {
        
    //});

    function openDialog() {
        $('<div id="tempDialog">Creating Account..<div>').dialog({
            autoOpen: true,
            modal: true,
            resizable: false,
            width: 350,
            title: 'Temporary System Message'
        });
        return true;
    }
</script>

@{
    var returnUrl = ViewBag.returnUrl == null ? "/Shop/Index" : ViewBag.returnUrl;
}

<div class="noborder nomargin nopadding topmargin-sm bottommargin-sm">
    <div class="container clearfix">
        <div class="shop-checkout noborder topmargin">
            <div class="shop-category-header">
                <h2>Register</h2>
            </div>
            @Html.ValidationSummary(false, "Account creation was unsuccessful. Please correct the errors and try again.", new { @class="alert alert-danger", role="alert" })
            @using (Html.BeginForm("RegisterNewUser", "Account", new { returnUrl = returnUrl }, FormMethod.Post, new { onsubmit = "openDialog()" }))
            {
                <div class="col-xs-6">
                    <h3 style="margin-bottom:5px">Account Information</h3>
                    <p>Use the form below to create a new account.</p>
                    <div>
                        <label>* Title</label>
                        <div style="height: 32px; margin-bottom:11px;padding-top: 4px;">
                            <label for="lbMr" class="pull-left"><input id="lbMr" type="radio" value="Mr." name="Title" class="pull-left" required/>Mr.</label>
                            <label for="lbMrs" class="pull-left" style="margin-left:10px"><input id="lbMrs" type="radio" value="Mrs." name="Title" class="pull-left" />Mrs.</label>
                            <label for="lbMs" class="pull-left" style="margin-left:10px"><input id="lbMs" type="radio" value="Ms." name="Title" class="pull-left" />Ms.</label>
                        </div>
                    </div>
                    <div>
                        <label>* First Name</label>
                        @Html.TextBoxFor(model => model.FirstName, new { @class = "input-shop input-full bottommargin-xsm", required = "required" })
                    </div>
                    <div>
                        <label>* Last Name</label>
                        @Html.TextBoxFor(model => model.LastName, new { @class = "input-shop input-full bottommargin-xsm", required = "required" })
                    </div>
                    <div>
                        @Html.LabelFor(model => model.Company)
                        @Html.TextBoxFor(model => model.Company, new { @class = "input-shop input-full bottommargin-xsm" })
                    </div>
                    <div>
                        <label>* Street Address 1</label>
                        @Html.TextBoxFor(model => model.Address1, new { @class = "input-shop input-full bottommargin-xsm", required = "required" })
                    </div>
                    <div>
                        <label>Street Address 2</label>
                        @Html.TextBoxFor(model => model.Address2, new { @class = "input-shop input-full bottommargin-xsm" })
                    </div>
                    <div>
                        <label>* Country</label>
                        @Html.DropDownListFor(
                                                m => m.Country,
                                                Country.GetAllSortedByDisplayNameWithPreferenceAtTop<Country>(new string[] {
                                                    "United States", "Canada", "United Kingdom" },
                                                    "------------------------------------")
                                                .ToMVCSelectList("Iso", "Name", (((Client)ViewData[MagicStringEliminator.ViewDataKeys.Client]).Company.DefaultCountry.Iso)),
                                                String.Empty,
                                                new
                                                {
                                                    id = "CountryCombo",
                                                    @class = "input-shop input-full bottommargin-xsm",
                                                    required = "required"
                                                }
                                            )
                    </div>
                    <div>
                        <label>* State</label>
                        @Html.DropDownListFor(model => model.State, State.UnitedStates.ToMVCSelectList("Code", "Name"), String.Empty, new { id = "StateCombo", @class = "input-shop input-full bottommargin-xsm", required = "required" })
                    </div>
                    <div>
                        <label>* City</label>
                        @Html.TextBoxFor(model => model.City, new { @class = "input-shop input-full bottommargin-xsm", required = "required" })
                    </div>                    
                    <div>
                        <label>* Postal Code</label>
                        @Html.TextBoxFor(model => model.Zip, new { @class = "input-shop input-full bottommargin-xsm", required = "required" })
                    </div>
                    <div>
                        <label>* Phone Number</label>
                        @Html.DropDownListFor(model => model.PhoneCountryCode, new SelectList(Country.GetAll<Country>().Select(x => x.PhoneCode).Distinct().OrderBy(x => x), "+1"), new { id = "PhoneCodeCombo", @class = "input-shop bottommargin-xsm", required = "required", @style = "width:20%" })
                        @Html.TextBoxFor(m => m.PhoneAreaCode, new { @class = "input-shop bottommargin-xsm", @style = "width:30%", @size = "4", @maxlength = "4", placeholder = "Area code", required = "required" })
                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "input-shop bottommargin-xsm", @style = "width:48%", @size = "10", @maxlength = "10", placeholder = "Phone Number", required = "required" })
                    </div>
                    <div>
                        <label>* Email</label>
                        @Html.TextBoxFor(model => model.Email, new { @class = "input-shop input-full bottommargin-xsm", required = "required", type = "email" })
                    </div>
                    <br /><br/>
                    <div>
                        <label>* Username</label>
                        @Html.TextBoxFor(model => model.UserName, new { @class = "input-shop input-full bottommargin-xsm", required = "required" })
                    </div>
                    <div>
                        <label>* Password</label>
                        @Html.TextBoxFor(model => model.Password, new { @class = "input-shop input-full bottommargin-xsm", id = "userPassword", required = "required", type = "password" })
                    </div>
                    <div>
                        <label>* Confirm Password</label>
                        @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "input-shop input-full bottommargin-xsm", required = "required", type = "password" })
                        <span style="color:red" id="confirmPassword_validator"></span>
                    </div>
                    <br/>
                    <div>
                        @Html.Label("Join email List:")
                        @Html.CheckBoxFor(m => m.NewsLetterOptIn, new { @class = "rightmargin-xsm" })
                    </div>
                    <br />
                    <button class="button button-blue" id="submitButton" type="submit">CREATE ACCOUNT</button>
                </div>
            }
        </div>
    </div>
</div>

                        