﻿@model Jhm.Web.UI.Models.ForgotPasswordModel

<script>
    function showPasswordMessage(data, status, xhr) {
        if (data.error) {
            $("#errorChangePassword").html(data.message);
        }
        else {
            $("#changePasswordForm").hide();
            $("#changePasswordResult").show();
            $("#successChangePassword").html(data.message);
        }
    }
</script>
  
@if (Request.Url.ToString().ToLower().Contains("myaccount") || Request.Url.ToString().ToLower().Contains("logon"))
{
    Layout = null;
    <div id="changePasswordForm">
        <p>
            Use the form below to recover your password. <br />
            An email with instructions on how to recover password will be sent to your email address. If this is not the email address you registered with, you will not receive an email.
        </p>
        @using (Ajax.BeginForm("AjaxRequestPasswordChange", "Account", null, new AjaxOptions { HttpMethod = "Post", OnSuccess = "showPasswordMessage" }))
        {
            <div class="col4">
                <label>* Email</label>
                @if (Request.IsAuthenticated)
                {
                    @Html.TextBoxFor(m => m.Email, new { @class = "input-shop input-full bottommargin-xsm", @readonly = "readonly", style = "border:none" })
                }
                else
                {
                    @Html.TextBoxFor(m => m.Email, new { @class = "input-shop input-full bottommargin-xsm", required = "required" })
                }
                @Html.ValidationMessageFor(m => m.Email)
                <input class="button button-blue" type="submit" value="Send Password Change Request" />
            </div>
        }
    </div>
    <div id="changePasswordResult" style="display:none">
        <p id="errorChangePassword" style="color:red"></p>
        <p id="successChangePassword"></p>
        <input class="button button-blue" type="button" value="OK" onclick='$("#changePasswordResult").hide(); $("#changePasswordForm").show();' />
    </div>
}
else
{
    <div class="noborder nomargin nopadding topmargin-sm bottommargin-sm">
        <div class="container clearfix">
            <div class="tab-content noborder topmargin main-tab-content">
                <div class="shop-header shop-category-header">
                    <h2> Change Password</h2>
                </div>
                <div id="changePasswordForm">
                    <p>
                        Use the form below to recover your password. <br />
                        An email with instructions on how to recover password will be sent to your email address. If this is not the email address you registered with, you will not receive an email.
                    </p>
                    @using (Ajax.BeginForm("AjaxRequestPasswordChange", "Account", null, new AjaxOptions { HttpMethod = "Post", OnSuccess = "showPasswordMessage" }))
                    {
                    <div class="col4">
                        <label>* Email</label>
                        @if (Request.IsAuthenticated)
                        {
                            @Html.TextBoxFor(m => m.Email, new { @class = "input-shop input-full bottommargin-xsm", @readonly = "readonly", style = "border:none" })
                        }
                        else
                        {
                            @Html.TextBoxFor(m => m.Email, new { @class = "input-shop input-full bottommargin-xsm", required = "required" })
                        }
                        @Html.ValidationMessageFor(m => m.Email)
                        <input class="button button-blue" type="submit" value="Send Password Change Request" />
                    </div>
                    }
                </div>
                <div id="changePasswordResult" style="display:none">
                    <p id="errorChangePassword" style="color:red"></p>
                    <p id="successChangePassword"></p>
                    <input class="button button-blue" type="button" value="OK" onclick='$("#changePasswordResult").hide(); $("#changePasswordForm").show();' />
                </div>    
            </div>
        </div>
    </div>
}