﻿@model Jhm.Web.UI.Models.LogOnModel

<script type="text/javascript">
    jQuery(document).ready(function () {
        var action = jQuery("#sbLogon").attr("action") + '?ReturnUrl=' + escape('/cart/checkout');
       jQuery("#sbLogon").attr("action", action);
    });

</script>

@using (Html.BeginForm("Logon", "Account", FormMethod.Post, new { id = "sbLogon" }))
{ 
    @Html.LabelFor(m => m.UserName)
    @Html.TextBoxFor(m => m.UserName, new { @class = "input-shop input-full bottommargin-xsm", required="required" })
    @Html.LabelFor(m => m.Password)
    @Html.PasswordFor(m => m.Password, new { @class = "input-shop input-full bottommargin-xsm", required = "required" })
    <input class="button button-blue" type="submit" value="Login" />
}