﻿@using getv.donorstudio.core.Global
@model Jhm.em3.Core.Address

@using (Ajax.BeginForm("AddAddress", "Cart", new { addressType = "ShippingAddress" }, new AjaxOptions { HttpMethod = "Post", OnSuccess = "updateShippingAddress" } ))
{
    <label>* Address 1</label>
    @Html.TextBoxFor(m => m.Address1, new { @class = "input-shop input-full bottommargin-xsm", required = "required" })
    <label>Address 2</label>
    @Html.TextBoxFor(m => m.Address2, new { @class = "input-shop input-full bottommargin-xsm" })
    <label>* City</label>
    @Html.TextBoxFor(m => m.City, new { @class = "input-shop input-full bottommargin-xsm", required = "required" })
    <label>* Zip Code</label>
    @Html.TextBoxFor(m => m.PostalCode, new { @class = "input-shop input-full bottommargin-xsm" })
    <label>* Country</label>
    @Html.DropDownListFor(m => m.Country, Country.GetAllSortedByDisplayName<Country>().Select(c => new SelectListItem { Text = c.Name, Value = c.Iso }),
                                                string.Empty, new { @class = "input-shop input-full bottommargin-xsm", onchange = "set_city_state(this,'StateCode')", required = "required" })
    <label>* Region/State</label>
    @Html.DropDownListFor(m => m.StateCode, State.UnitedStates.Select(x => new SelectListItem { Text = x.DisplayName, Value = x.Code }),
                                                string.Empty, new { @class = "input-shop input-full bottommargin-xsm", required = "required" })
    <button class="button button-blue grid-6" type="button" onclick="closeNewShippingAddress()">Cancel</button>
    <input class="button button-blue grid-6" type="submit" value="Add New Address" />
}
