﻿@using Jhm.Web.Core.Models
@using getv.donorstudio.core.Global
@using Jhm.em3.Core

@model Jhm.Web.Core.Models.Modules.ECommerce.CheckoutOrderReviewViewModel

<div class="shop-table-wrap">   
    <h3 class="heading-border">Order Summary</h3>   
    @if(Model.CartItems.Where(m => m.Item is StockItem).Count() > 0)
    { 
        <h4>My Products</h4>
        <table class="shop-cart">
            <thead>
                <tr>
                    <th colspan="2">Product</th>
                    <th>Media Type</th>
                    <th>Quantity</th>
                    @*<th>Gift</th>*@
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @{ StockItem stockitem;}
                @foreach (CartLineItem item in Model.CartItems.Where(m => m.Item is StockItem))
                {
                    <tr>
                        @{stockitem = item.Item as StockItem;}
                        <td class="cart-img"><img src="@stockitem.ImageLocation" /></td>
                        <td class="cart-product">
                            <div class="cart-title yellow">@stockitem.ProductTitle</div>
                            <div class="cart-author">  @stockitem.AuthorDescription</div>
                        </td>
                        <td class="cart-media">
                            <div class="cart-media-type">@stockitem.MediaType.DisplayName</div>
                            <div class="cart-media-num"> Item Number: @item.Item.Code</div>
                        </td>
                        <td class="cart-quantity" style="text-align:center">
                            <div class="cart-media-num">@item.Quantity</div>
                        </td>
                        @*<td class="cart-gift">
                                <input type="checkbox" />
                            </td>*@
                        <td class="cart-total">@Model.FormatWithCompanyCulture("{0}{1:C}", string.Empty, @item.Item.Price * @item.Quantity)</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    @if (Model.CartItems.Where(m => m.Item is DonationCartItem).Count() > 0)
    {
        <h4>My Donations</h4>
        <table class="shop-cart">
            <thead>
                <tr>
                    <th>Donation</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @{ DonationCartItem donationItem;}
                @foreach (CartLineItem item in Model.CartItems.Where(m => m.Item is DonationCartItem))
                {
                    <tr>
                        @{
                    donationItem = item.Item as DonationCartItem;
                    int len = donationItem.Description.Length;
                    if (len > 100)
                    {
                        len = 100;
                    }
                    string description = donationItem.Description.Replace("<p>", "").Replace("</p>", "").Substring(0, len) + " ...";
                        }
                        <td class="cart-product">
                            <div class="cart-title yellow">@donationItem.Title</div>
                            <div class="cart-author">@Html.Raw(description)</div>
                            <div><b>Frequency : @donationItem.DonationFrequency</b></div>

                        </td>
                        <td class="cart-total">@Model.FormatWithCompanyCulture("{0}{1:C}", string.Empty, @item.Item.Price)</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
<div class="cart-shipping-summary shop-table-wrap">
    <h3 class="heading-border">Shipping Summary</h3>
    <table class="shop-cart">
        <thead>
            <tr>
                @*<th>Type</th>*@
                <th>Delivery Address</th>
                <th>Shipping Method</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @*<td><h4>Primary</h4></td>*@
                <td class="shippingInfo">
                    @string.Format("{0} {1}", Model.ShippingFirstName, Model.ShippingLastName)<br />
                    @(Model.ShippingAddressId > 0 ? string.Format("{0} {1}", Model.ShippingAddress.Address1, Model.ShippingAddress.Address2) : string.Empty)<br />
                    @(Model.ShippingAddressId > 0 ? string.Format("{0}, {1} {2}", Model.ShippingAddress.City, Model.ShippingAddress.StateCode, Model.ShippingAddress.PostalCode) : string.Empty)
                </td>
                <td class="shippingMethodInfo">@Html.Raw(string.IsNullOrWhiteSpace(Model.ShippingMethodValue) ? string.Empty : string.Format("<b>{0}</b><br/>{1}", Model.ShippingMethod.Description, Model.FormatWithCompanyCulture("{0}{1:C}", string.Empty, Model.ShippingCost)))</td>
            </tr>
            @*<tr>
                    <td><h4>Gift</h4></td>
                    <td>John Smith<br />15305 Dallas Parkway<br />Addison, TX 75001</td>
                    <td><b>Standard</b><br />$7.99</td>
                </tr>*@
        </tbody>
    </table>
</div>
<div class="cart-payment-summary">
    <h3 class="heading-border">Payment Summary</h3>
    <table class="payment-method-table">
        <thead>
            <tr>
                <th>Payment Method</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <p id="cardInfo">@Html.Raw(string.IsNullOrWhiteSpace(Model.PaymentList.Payments[0].PaymentNumber) ? string.Empty : string.Format("{0} card ending in <b>{1}</b>", Model.PaymentList.Payments[0].CreditCard.CreditCardType, CreditCardViewModel.LastFour(Model.PaymentList.Payments[0].PaymentNumber)))</p>
                    <h5>Billing Address</h5>
                    <div class="billingInfo">
                        @string.Format("{0} {1}", Model.FirstName, Model.LastName)<br />
                    @(Model.BillingAddressId > 0 && Model.BillingAddress != null ? string.Format("{0} {1}", Model.BillingAddress.Address1, Model.BillingAddress.Address2) : string.Empty)<br />
                    @(Model.BillingAddressId > 0 && Model.BillingAddress != null ? string.Format("{0}, {1} {2}", Model.BillingAddress.City, Model.BillingAddress.StateCode, Model.BillingAddress.PostalCode) : string.Empty)
                </div>
            </td>
        </tr>
    </tbody>
</table>
<table class="cart-summary-table">
    <thead>
        <tr>
            <th colspan="2">Cost Summary</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>SUBTOTAL:</td>
            <td id="subtotal">@Model.FormatWithCompanyCulture("{0}{1:C}", string.Empty, @Model.CartSubTotal - @Model.DonationstemsCartSubTotal)</td>
        </tr>
        <tr>
            <td>SALT PARTNER DISCOUNT:</td>
            <td>@Model.FormatWithCompanyCulture("{0}{1:C}", string.Empty, @Model.DiscountTotal)</td>
        </tr>
        <tr>
            <td>ONE TIME DONATION:</td>
            <td>@Model.FormatWithCompanyCulture("{0}{1:C}", string.Empty, @Model.DonationstemsCartSubTotal)</td>
        </tr>
        <tr>
            <td>SHIPPING:</td>
            <td id="shippingCost">@Model.FormatWithCompanyCulture("{0}{1:C}", string.Empty, Model.ShippingCost)</td>
        </tr>
        <tr class="cart-total-row">
            <td>TOTAL:</td>
            <td id="total">@Model.FormatWithCompanyCulture("{0}{1:C}", string.Empty, @Model.OrderTotal)</td>
        </tr>
    </tbody>
</table>
</div>
