﻿@using Jhm.Web.Core.Models
@using getv.donorstudio.core.Global
@using Jhm.em3.Core

@model Jhm.Web.Core.Models.Modules.ECommerce.CheckoutOrderReviewViewModel

<script type="text/javascript" src="@Url.Content("~/content/js/city_state.js")"></script>
<script>
    var addresses = @Html.Raw(Json.Encode(Model.AddressList));
    var creditCard = @Html.Raw(Json.Encode(Model.PaymentList.Payments[0].CreditCard));
    var isPaymentNeeded = @Html.Raw(Json.Encode(Model.ShouldDisplayPaymentMethods));
    var invalidFields = [];

    $(document).ready(function($) {

        var currentStep = @ViewBag.CurrentStep;
        var steps = $('[id^=step]');

        if(currentStep > 1)
        {
            $("#step1 h3 a").unbind("click");
            populateAddressFields($("input[type='radio'][name='BillingAddressId']:checked")[0], "BillingAddress",false);
            populateAddressFields($("input[type='radio'][name='ShippingAddressId']:checked")[0], "BillingAddress",false);
        }

        for(var step = 1; step < steps.length; step++)
        {
            var stepNumber = parseInt(steps[step].id.replace("step",""));
            $("#step" + stepNumber + " h3 a").unbind("click");
        }

        $('h3 a', $("#step2")[0]).click(function(index) {
            $('[id^=step] .slide-content').slideUp(300);
            $('div.group1').slideDown(300);
            return false;
        });

        $("#sameAddress").change( function(){
            if( $(this).is(':checked') ) {
                var addressId = $("input[type='radio'][name='ShippingAddressId']:checked").val();
                $("#Billing" +addressId).prop("checked","checked");
                populateAddressFields($("#Billing" +addressId)[0], "BillingAddress", true);
            }
        });

        showHideProcessOrderButton();
        //selectDefaultRadios();
    });

    function showHideProcessOrderButton()
    {
        invalidFields = [];
        if( isValidDeliveryData() && isValidBillingAddress() && isValidCreditCardData()){
            $("#processOrder").show();
        }
        else{
            $("#processOrder").hide();
        }
    }

    function isValidDeliveryData(){
        var selectedAddress = $("input[type='radio'][name='ShippingAddressId']:checked");
        var selectedMethod = $("input[type='radio'][name='ShippingMethodValue']:checked");
        if(selectedAddress.length > 0 && selectedMethod.length > 0){
            return true;
        }
        return false;
    }

    function isValidBillingAddress(){
        var selected = $("input[type='radio'][name='BillingAddressId']:checked");
        if(selected.length > 0){
            return true;
        }
        invalidFields.push("Billing Address");
        return false;
    }

    function isValidCreditCardData(){
        if($("#PaymentList_Payments_0__CreditCard_CreditCardType").val() !== ""
            && $("#PaymentList_Payments_0__CreditCard_NameOnCard").val() !== "" && $("#PaymentList_Payments_0__CreditCard_CreditCardNumber").val() !== ""
            && $("#PaymentList_Payments_0__CreditCard_CCExpirationMonth").val() !== "" && $("#PaymentList_Payments_0__CreditCard_CCExpirationYear").val() !== ""
            && $("#PaymentList_Payments_0__CreditCard_CID").val() !== ""){
            return true;
        }
        else{
            if(!isPaymentNeeded){
                return true;
            }
        }
        if($("#PaymentList_Payments_0__CreditCard_CreditCardType").val() == "" )
        {
            invalidFields.push("Credit Card Type");
        }
        if($("#PaymentList_Payments_0__CreditCard_NameOnCard").val() == "" )
        {
            invalidFields.push("Name On Card");
        }
        if($("#PaymentList_Payments_0__CreditCard_CreditCardNumber").val() == "" )
        {
            invalidFields.push("Credit Card Number");
        }
        if($("#PaymentList_Payments_0__CreditCard_CCExpirationMonth").val() == "" )
        {
            invalidFields.push("Credit Card Expiration Month");
        }
        if($("#PaymentList_Payments_0__CreditCard_CCExpirationYear").val() == "" )
        {
            invalidFields.push("Credit Card Expiration Year");
        }
        if($("#PaymentList_Payments_0__CreditCard_CID").val() == "" )
        {
            invalidFields.push("Credit Card CID");
        }
        return false;
    }

    function populateAddressFields(addressField, addressType, updateModel)
    {
        if (typeof addressField == 'undefined'){
            return;
        }

        var addressId = addressField.value;
        var address = {};

        if(addressId !== 0 && addresses.length > 0 && addressId !== "")
        {
            for (var i = 0 ; i < addresses.length; i++){
                if(addresses[i].DSAddressId.toString() == addressId.toString()){
                    address = addresses[i];
                    break;
                }
            }

            if(updateModel){
                var url = "@Url.Action("UpdateAddress", "Cart")" + "?addressId=" + addressId + "&addressType=" + addressType;

                var promise = $.get(url);

                promise.done(function (response) {
                    $("#continueStep2").show();
                });
            }

            var addressInfo= "@(string.Format("{0} {1}", Model.FirstName, Model.LastName))" +  "<br />" +
                                        address.Address1 + " " + address.Address2  +  "<br />" +
                                        address.City + ", " + address.StateCode + " " + address.PostalCode;

            if(addressType == "ShippingAddress"){
                $(".shippingInfo").html(addressInfo);
                $("#continueStep2").show();
            }
            else{
                $(".billingInfo").html(addressInfo);
                $("#continueStep4").show();
            }
        }
        else{

            if(addressType == "ShippingAddress"){
                $("#continueStep2").hide();
                $(".shippingInfo").html("<span style='color:red'>Go to Step 2 and select the Delivery Address</span>");
            }
            else{
                $("#continueStep4").hide();
                $(".billingInfo").html("<span style='color:red'>Go to Step 4 and select the Delivery Billing</span>");
            }
        }

        showHideProcessOrderButton();
    }

    function closeNewShippingAddress()
    {
        if($("#ShippingAddressId").val() !== ''){
            $("#continueStep2").show();
        }
        $('#newShippingAddress').hide()
    }

    function closeNewBillingAddress()
    {
        if($("#BillingAddressId").val() !== ""){
            $("#continueStep4").show();
        }
        $('#newBillingAddress').hide()
    }

    function continueStep(step)
    {
        var currentStep =  parseInt(step.id.replace("continueStep",""));
        var nextStep = currentStep +1;
        $('.slide-content', $("#step" + currentStep)[0]).slideUp(300);
        $('.slide-content', $("#step" + nextStep)[0]).slideDown(300);
        $('h3 a', $("#step" + nextStep)[0]).click(function(index) {
            $('[id^=step] .slide-content').slideUp(300);
            $('div.group' + currentStep).slideDown(300);
            return false;
        });
        $('h3 a', $("#step" + nextStep)[0]).addClass('active');

        if(currentStep == 3){
            setCreditCard();
        }
    }

    function selectDeliveryMethod(method){
        var shippingMethodId = method.value;
        var shippingAddressId = $("input[type='radio'][name='ShippingAddressId']:checked").val();
        var url = "@Url.Action("SelectShippingMethod", "Cart")" + "?shippingMethodId=" + shippingMethodId + "&shippingAddressId=" + shippingAddressId;

        var promise = $.get(url);

        promise.done(function (response) {
            if (response.error == '') {
                updateSummaryValues(response);
                $("#continueStep3").show();
                $("#errorSelection").html("");
            }
            else{
                $("#errorSelection").html(response.error);
                $("#continueStep3").hide();
                $(".shippingMethodInfo").html("<span style='color:red'>Go to Step 3 and select the Delivery Method</span>");
            }
        });
        showHideProcessOrderButton();
    }

    function updateSummaryValues(response) {
        $(".shippingMethodInfo").html("<b>" + response.shippingMethodName + "</b><br/>" + response.shippingCost);
        $("#shippingCost").html(response.shippingCost);
        $("#total").html(response.total);
    }

    function updateShippingAddress(data, status, xhr)
    {
        addNewAddress(data.address);
        var address= $("#Shipping" + data.address.DSAddressId);
        address.prop("checked","checked");
        populateAddressFields(address[0], "ShippingAddress", false);
        closeNewShippingAddress();
    }

    function updateBillingAddress(data, status, xhr)
    {
        addNewAddress(data.address);
        var address= $('#Billing' + data.address.DSAddressId);
        address.prop("checked","checked");
        populateAddressFields(address[0], "BillingAddress", false);
        closeNewBillingAddress();
    }

    function addNewAddress(address)
    {
        addresses.push(address);
        $('#shippingAddresses').append('<label for="Shipping' + address.DSAddressId + '" class="pull-left" style="text-transform:none;letter-spacing:normal;font-size:14px;">' +
            address.Address1 +  ' ' + address.Address2 + ', ' + address.City + ', ' + address.StateCode + ' ' + address.PostalCode +
            '<input type="radio" name="ShippingAddressId" id="Shipping' + address.DSAddressId + '" value="' + address.DSAddressId + '"  class="pull-left" /></label><br/>');

        $('#billingAddresses').append('<label for="Billing' + address.DSAddressId + '" class="pull-left" style="text-transform:none;letter-spacing:normal;font-size:14px;">' +
                   address.Address1 +  ' ' + address.Address2 + ', ' + address.City + ', ' + address.StateCode + ' ' + address.PostalCode +
                   '<input type="radio" name="BillingAddressId" id="Billing' + address.DSAddressId + '" value="' + address.DSAddressId + '"  class="pull-left" /></label><br/>');
    }

    function addPayment(step){
        invalidFields = [];

        if(isValidBillingAddress() && isValidCreditCardData()){
            fillCreditCardData()
            var url = "@Url.Action("GetCreditCardToken", "Cart")";

            var promise = $.post(url, { creditCard : creditCard });

            promise.done(function (response) {
                if (response.error == '') {
                    $("#errorPayment").html("");
                    var cardType = creditCard.CreditCardType;
                    var lastNumbers = response.lastNumbers;
                    $("#cardInfo").html(cardType + " card ending in <b>" + lastNumbers + "</b>");
                    continueStep(step);
                }
                else{
                    $("#cardInfo").html("");
                    $("#errorPayment").html(response.error);
                    $("#processOrder").hide();
                }
            });

            if($("#ShippingAddressId").val()=="")
            {
                $("#ShippingAddressId").val($("#BillingAddressId").val());
                populateAddressFields($("#ShippingAddressId")[0], "ShippingAddress", true);
            }
        }
        else{
            var errors = '';
            for(var i = 0; i < invalidFields.length; i ++){
                if(errors == ''){
                    errors = "<li>" +  invalidFields[i] + "</li>";
                }
                else{
                    errors = errors + "<li>" +  invalidFields[i] + "</li>";
                }
            }
            var errorPayment = $("#errorPayment");
            errorPayment.html("<div class=\"validation-summary-errors alert alert-danger\" role=\"alert\"><span>Please complete the required fields</span><ul>" + errors + "</ul></div>");
        }
        showHideProcessOrderButton();
    }

    function fillCreditCardData(){
        creditCard.NameOnCard = $("#PaymentList_Payments_0__CreditCard_NameOnCard").val();
        creditCard.CreditCardNumber = $("#PaymentList_Payments_0__CreditCard_CreditCardNumber").val();
        creditCard.CCExpirationMonth = $("#PaymentList_Payments_0__CreditCard_CCExpirationMonth").val();
        creditCard.CCExpirationYear = $("#PaymentList_Payments_0__CreditCard_CCExpirationYear").val();
        creditCard.CID = $("#PaymentList_Payments_0__CreditCard_CID").val();
        creditCard.BillingAddressId = $("input[type='radio'][name='BillingAddressId']:checked").val();
    }

    function setCreditCard(){
        var creditCardInput = $('#@Html.IdFor(x => x.PaymentList.Payments[0].CreditCard.CreditCardNumber)');
        creditCardInput.validateCreditCard(function(result) {
            $(".card_number").removeClass("valid");
            $(".card_number_input").removeClass("valid");
            if(result.card_type){
                $("."+result.card_type.name).addClass("valid");
                creditCard.CreditCardType= result.card_type.name;
            }
            if(result.valid)
                $(".card_number_input").addClass("valid");


        }, {accept:['visa', 'mastercard', 'discover', 'amex']});
    }

    function selectDefaultRadios(){
        
        //Address
        var addressRadios = $("input[name = '@Html.NameFor(m => m.ShippingAddressId)']");
        if(addressRadios.length == 1){
            addressRadios.click();
        }

        //Address
        var shippingRadios = $("input[name= '@Html.NameFor(m => m.ShippingMethodValue)']");
        if(shippingRadios.length == 1){
            shippingRadios.click();
        }

    }

</script>

<div class="noborder nomargin nopadding topmargin-sm bottommargin-sm">
    <div class="container clearfix">
        <div class="shop-checkout noborder topmargin">
            <div class="shop-header shop-category-header">
                <h2>Checkout</h2>
                <div class="shop-item-sort">
                    <a href="/">Home</a> / @Html.ActionLink("Shop", "Index", "Shop") / @Html.ActionLink("Shopping Cart", "Index", "Cart") / Checkout
                </div>
            </div>
            <div class="slide-wrapper">
                <div class="slide-group" id="step1" @(!Request.IsAuthenticated ? "name=stepActive" : "name=lastStep")>
                    <div class="slide-title">
                        <h3>Step 1: Checkout</h3>
                    </div>
                    @if (!Request.IsAuthenticated)
                    {
                        <div class="slide-content">
                            <div class="col-xs-6">
                                <h3>New Customer</h3>
                                @*<h5>I am a new customer</h5>*@
                                @*<p>If you don't have a JHM account please click the button below to create a new account.</p>*@
                                <a class="button button-3d" href="/Account/Register?ReturnUrl=/Cart/Checkout" style="margin-top:135px;"><span>Create Account</span></a>
                            </div>
                            <div class="col-xs-6">
                                <h3>Returning Customer</h3>
                                @*<h5>I am a returning customer</h5>*@
                                @Html.Partial("_LogOn", new Jhm.Web.UI.Models.LogOnModel())
                            </div>
                        </div>
                    }
                </div>
                <div class="slide-group" id="step2" @(Request.IsAuthenticated ? "name=stepActive" : string.Empty)>
                    <div class="slide-title">
                        <h3>Step 2: Shipping Information</h3>
                    </div>
                    @if (Request.IsAuthenticated)
                    {
                        <div class="slide-content">
                            <div class="col-xs-6">
                                <label>First Name</label>
                                <label style="text-transform:none;letter-spacing:normal;font-size:14px;padding:10px;font-weight:normal;">@Model.ShippingFirstName</label>
                                <label>Last Name</label>
                                <label style="text-transform:none;letter-spacing:normal;font-size:14px;padding:10px;font-weight:normal;">@Model.ShippingLastName</label>
                                <label>Email</label>
                                <label style="text-transform:none;letter-spacing:normal;font-size:14px;padding:10px;font-weight:normal;">@Model.Email</label>
                            </div>
                            <div class="col-xs-6">
                                <h3 class="heading-border">Delivery Address</h3>
                                <div id="shippingAddresses" style="padding: 15px; width: calc(100% - 30px); float: left;">
                                    @foreach (var address in Model.AddressList)
                                    {
                                        <label for="@("Shipping" + address.DSAddressId)" class="" style="text-transform:none;letter-spacing:normal;font-size:14px;">
                                            @(string.Format("{0} {1}, {2}, {3} {4}", address.Address1, address.Address2, address.City, address.StateCode, address.PostalCode))
                                            @Html.RadioButtonFor(model => model.ShippingAddressId, address.DSAddressId, new { @class = "pull-left", id = "Shipping" + address.DSAddressId, onClick = "populateAddressFields(this, 'ShippingAddress', true); closeNewShippingAddress();" })
                                        </label>
                                    }
                                </div>
                                <input class="button button-blue" type="submit" value="Add new address" onclick="$('#newShippingAddress').show();" />
                                <div id="newShippingAddress" style="display:none">
                                    @Html.Partial("_NewShippingAddress", new Address())
                                </div>
                            </div>
                            <div style="padding: 15px; width: calc(100% - 30px); float: left;">
                                <a class="fright button button-3d" id="continueStep2" onclick="continueStep(this)" @(Model.ShippingAddressId == 0 ? "style=display:none" : string.Empty)><span>Continue</span></a>
                            </div>
                        </div>
                    }
                </div>
                <div class="slide-group" id="step3">
                    <div class="slide-title">
                        <h3>Step 3: Delivery Options</h3>
                    </div>
                    @if (Request.IsAuthenticated)
                    {
                        <div class="slide-content">
                            <table class="shop-cart">
                                <thead>
                                    <tr>
                                        <th>Deliver To</th>
                                        <th>Select Delivery Method</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="shippingInfo" width="30%">
                                            @string.Format("{0} {1}", Model.ShippingFirstName, Model.ShippingLastName)<br />
                                            @(Model.ShippingAddressId > 0 ? string.Format("{0} {1}", Model.ShippingAddress.Address1, Model.ShippingAddress.Address2) : string.Empty)<br />
                                            @(Model.ShippingAddressId > 0 ? string.Format("{0}, {1} {2}", Model.ShippingAddress.City, Model.ShippingAddress.StateCode, Model.ShippingAddress.PostalCode) : string.Empty)
                                        </td>
                                        <td width="70%">
                                            @foreach (var method in Model.ShippingMethods)
                                            {
                                                var methodDescription = string.Empty;
                                                switch (method.DSValue)
                                                {
                                                    case "STANDARD":
                                                        methodDescription = string.Format("{0}: 10-15 business days", method.DisplayName);
                                                        break;
                                                    case "GROUND":
                                                        methodDescription = string.Format("{0}: 7-10 business days", method.DisplayName);
                                                        break;
                                                    case "RUSH":
                                                        methodDescription = string.Format("{0}: 5-7 business days", method.DisplayName);
                                                        break;
                                                    case "INTER":
                                                        methodDescription = string.Format("{0}: 4-6 weeks", method.DisplayName);
                                                        break;
                                                    default: methodDescription = method.DisplayName;
                                                        break;
                                                }
                                                <label for="@("Delivery" + method.Value)" class="pull-left" style="text-transform:none;letter-spacing:normal;font-size:14px;width:80%">
                                                    @methodDescription
                                                    @Html.RadioButtonFor(model => model.ShippingMethodValue, method.Value, new { @class = "pull-left", id = "Delivery" + method.Value, onClick = "selectDeliveryMethod(this);" })
                                                </label>
                                            }
                                            <p id="errorSelection" style="color:red"></p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <a class="fright button button-3d" id="continueStep3" onclick="continueStep(this)" @(string.IsNullOrWhiteSpace(Model.ShippingMethodValue) ? "style=display:none" : string.Empty)><span>Continue</span></a>
                        </div>
                    }
                </div>
                <div class="slide-group" id="step4">
                    <div class="slide-title">
                        <h3>Step 4: Payment Method</h3>
                    </div>
                    @if (Request.IsAuthenticated)
                    {
                        <div class="slide-content">
                            <div class="heading-border">
                                <input type="checkbox" id="sameAddress" class="rightmargin-xsm" />My delivery and billing addresses are the same.
                            </div>
                            <div class="col-xs-6">
                                <h3 class="heading-border">Payment Details</h3>
                                @if (Model.ShouldDisplayPaymentMethods)
                                {
                                    @*<label>* Card Type</label>
                                        @Html.DropDownListFor(m => m.PaymentList.Payments[0].CreditCard.CreditCardType, CreditCardType.GetAll<CreditCardType>().Select(c => new SelectListItem { Text = c.DisplayName, Value = c.Value }),
                                        "(Select card type)", new { @class = "input-shop input-full bottommargin-xsm" })*@

                                    <label>* Name on Card</label>
                                    @Html.TextBoxFor(m => m.PaymentList.Payments[0].CreditCard.NameOnCard, new { @class = "input-shop input-full bottommargin-xsm", required = "required", @size = "32", @maxlength = "32", @autocomplete = "off" })
                                    <label>* Card Number</label>
                                    <div class="creditCardNumberContainer">
                                        @Html.TextBoxFor(m => m.PaymentList.Payments[0].CreditCard.CreditCardNumber, new { @class = "input-shop input-full bottommargin-xsm card_number_input card_number_tick", required = "required" })
                                        <div class="creditCardImages">
                                            <div class="card_number visa"></div>
                                            <div class="card_number mastercard"></div>
                                            <div class="card_number discover"></div>
                                            <div class="card_number amex"></div>
                                        </div>
                                    </div>
                                    <label>* Expiration Date</label>
                                    @Html.DropDownListFor(m => m.PaymentList.Payments[0].CreditCard.CCExpirationMonth,
                                                new SelectList
                                                    (
                                                    new List<object>
                                                        {
                                                            new {text = String.Empty, value = String.Empty},
                                                            new {text = "01 - January", value = "01"},
                                                            new {text = "02 - February", value = "02"},
                                                            new {text = "03 - March", value = "03"},
                                                            new {text = "04 - April", value = "04"},
                                                            new {text = "05 - May", value = "05"},
                                                            new {text = "06 - June", value = "06"},
                                                            new {text = "07 - July", value = "07"},
                                                            new {text = "08 - August", value = "08"},
                                                            new {text = "09 - September", value = "09"},
                                                            new {text = "10 - October", value = "10"},
                                                            new {text = "11 - November", value = "11"},
                                                            new {text = "12 - December", value = "12"}
                                                        },
                                                    "value",
                                                    "text",
                                                    String.Empty
                                                    ),
                                                    new { @class = "input-shop input-half bottommargin-xsm" })

                                    @Html.DropDownListFor(m => m.PaymentList.Payments[0].CreditCard.CCExpirationYear, Model.PaymentList.Payments[0].CreditCard.GetNext10YearsList(), String.Empty, new { @class = "input-shop input-half bottommargin-xsm" })
                                    <label>* CV2/CID</label>
                                    @Html.TextBoxFor(m => m.PaymentList.Payments[0].CreditCard.CID, new { @class = "input-shop input-full bottommargin-xsm", size = "4", maxlength = "4", autocomplete = "off", required = "required" })
                                }
                                else
                                {
                                    <label>
                                        Your order does not require a payment.
                                    </label>
                                }
                                <p id="errorPayment" style="color:red"></p>
                            </div>
                            <div class="col-xs-6">
                                <h3 class="heading-border">Billing Address</h3>
                                <div id="billingAddresses" style="padding: 15px; width: calc(100% - 30px); float: left;">
                                    @foreach (var address in Model.AddressList)
                                    {
                                        <label for="@("Billing" + address.DSAddressId)" class="pull-left" style="text-transform:none;letter-spacing:normal;font-size:14px;">
                                            @(string.Format("{0} {1}, {2}, {3} {4}", address.Address1, address.Address2, address.City, address.StateCode, address.PostalCode))
                                            @Html.RadioButtonFor(model => model.BillingAddressId, address.DSAddressId, new { @class = "pull-left", id = "Billing" + address.DSAddressId, onClick = "populateAddressFields(this, 'BillingAddress', true); closeNewBillingAddress();" })
                                        </label>
                                        <br />
                                    }
                                </div>
                                <input class="button button-blue" type="submit" value="Add new address" onclick="$('#newBillingAddress').show();" />
                                <div id="newBillingAddress" style="display:none">
                                    @Html.Partial("_NewBillingAddress", new Address())
                                </div>
                            </div>
                            <div style="padding: 15px; width: calc(100% - 30px); float: left;">
                                <a class="fright button button-3d" id="continueStep4" onclick="addPayment(this)"><span>Continue</span></a>
                            </div>
                        </div>
                    }
                </div>
                <div class="slide-group" id="step5">
                    <div class="slide-title">
                        <h3>Step 5: Summary</h3>
                    </div>
                    @if (Request.IsAuthenticated)
                    {
                        <div class="slide-content">
                            @Html.Partial("_OrderSummary", Model)
                            <a style="clear:right;display:none" id="processOrder" class="fright button button-3d button-large" href='@(Url.Action("ProcessOrder", "Cart"))'><span>Process</span></a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>