﻿@using Jhm.Web.Core.Models

@model Jhm.Web.Core.Models.Modules.ECommerce.CartViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var stockItems = Model.CartItems.Where(m => m.Item is StockItem);
    StockItem stockitem;
    var donationsItems = Model.CartItems.Where(m => m.Item is DonationCartItem);
    DonationCartItem donationItem; 
    var CompanyCultureFormat = ViewBag.CompanyCultureFormat;
    var emptyRowVisibility = string.Empty;
}

<div class="noborder nomargin nopadding topmargin-sm bottommargin-sm">
    <div class="container clearfix">
        <div class="shop-category noborder topmargin">
            <div class="shop-category-header">
                <h2>Shopping Cart</h2>
                <div class="shop-item-sort">
                    <a href="@Url.Content("~/")">Home</a> / <a href="@Url.Content("~/Shop/")">Shop</a> / Shopping Cart
                </div>
            </div>
            <div class="shop-table-wrap"> 
                <h3>My Products</h3>
                <table id="cartTable" class="shop-cart">
                    <thead>
                        <tr>
                            <th colspan="2">Product</th>
                            <th>Media Type</th>
                            <th style="text-align:center" >Quantity</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (stockItems.Any())
                        {
                            emptyRowVisibility = "style=display:none";
                        }

                        <tr id="cartEmptyRow" @emptyRowVisibility>
                            <td colspan="5" style="text-align:center">
                                Your cart is empty. Please visit our catalog by clicking @Html.ActionLink("here", "Index", "Shop")
                            </td>
                        </tr>

                        @foreach (CartLineItem item in stockItems)
                        {
                            stockitem = item.Item as StockItem;
                            <tr id="@string.Format("rowId_{0}{1}", stockitem.ProductCode, stockitem.MediaType.Value)">
                                <td class="cart-img"><img src="@stockitem.ImageLocation" /></td>
                                <td class="cart-product">
                                    <div class="cart-title yellow">@stockitem.ProductTitle</div>
                                    <div class="cart-author">  @stockitem.AuthorDescription</div>
                                </td>
                                <td class="cart-media">
                                    <div class="cart-media-type">@stockitem.MediaType.DisplayName</div>
                                    <div class="cart-media-num"> Item Number: @item.Item.Code</div>
                                </td>
                                <td class="cart-quantity" align="center">
                                    <input class="quantityItemInput" data-code="@stockitem.ProductCode" data-mediatype="@stockitem.MediaType.Value" type="number" value="@item.Quantity" style="text-align:center" size="2" tep="1" min="1" max="99" />&nbsp;
                                    <a class="removeItem" style="color:#337ab7" data-sku="@stockitem.ProductCode" data-mediatype="@stockitem.MediaType.Value" href="#"> Remove </a>
                                </td>
                                <td class="cart-total" id="Total_@stockitem.ProductCode@stockitem.MediaType.Value">@Model.FormatWithCompanyCulture(CompanyCultureFormat, string.Empty, @item.Item.Price * @item.Quantity)</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div id="donationContainer">
                    <h3>My Donations</h3>
                    <table id="cartDonationTable" class="shop-cart">
                        <thead>
                            <tr>
                                <th>Donation</th>
                                <th style="text-align:center">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (CartLineItem item in donationsItems)
                            {
                                donationItem = item.Item as DonationCartItem;
                                <tr id="@string.Format("rowId_{0}{1}", donationItem.ProjectCode, "_Donation")">
                                    <td class="cart-product">
                                        <div class="cart-title yellow">@donationItem.Title</div>
                                        <div class="cart-author">Frequency : @donationItem.DonationFrequency</div>
                                    </td>
                                    <td class="cart-total" id="Total_@donationItem.ProjectCode" align="center">
                                        @Model.FormatWithCompanyCulture(CompanyCultureFormat, string.Empty, donationItem.Price) &nbsp;
                                        <a class="removeDonation" style="color:#337ab7; font-size:14px; font-weight:400" data-code="@donationItem.ProjectCode" href="#"> Remove </a>
                                    </td>
                                </tr>
                            }
                            <tr id="noDonations" class="hide">
                                <td colspan="2" style="text-align:center">
                                    There isn't any donation in your cart.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="cart-next">
                <h3>What would you like to do next?</h3>
                @*<p>Choose if you have a Promo Code, Donation or Gift Card or would like to estimate your delivery cost.</p>*@
                <div class="slide-wrapper">
                    <div class="slide-group">
                        <div class="slide-title">
                            <h3>Use Promo Code</h3>
                        </div>
                        <div class="slide-content">
                            Enter promo code: <input id="addPromoCodeValue" class="input-shop" type="text" placeholder="#000=000" /><input id="addPromoCodeBtn"class="button button-blue button-small" type="submit" value="Apply Code" />
                        </div>
                    </div>
                    <div class="slide-group">
                        <div class="slide-title">
                            <h3>One-time Donation</h3>
                        </div>
                        <div class="slide-content" id="OneTimeDonationBox">
                            Enter donation here: <input id="addOneTimeDonationValue" class="input-shop" type="text" placeholder="$50.00" /><input id="addOneTimeDonationBtn" class="button button-blue button-small" type="submit" value="Apply Donation" />
                        </div>
                    </div>
                    @*<div class="slide-group">
                        <div class="slide-title">
                            <h3>Estimate Shipping</h3>
                        </div>
                        <div class="slide-content">
                            Enter zip code: <input class="input-shop" type="text" placeholder="12345" /><input class="button button-blue button-small" type="submit" value="Estimate" />
                        </div>
                    </div>*@
                </div>
            </div>
            <div class="cart-summary">
                <table class="cart-summary-table">
                    @Html.Partial("_CartSummary", Model)
                </table>
            </div>
            <div class="cart-actions">
                @Html.ActionLink("Continue Shopping", "Index", "Shop", null, new { @class = "button button-blue button-3d button-large" })
                @Html.ActionLink("Submit Order", "Checkout", "Cart", null, new { @class = "fright button button-3d button-large" })
            </div>

        </div>

    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $("#addOneTimeDonationBtn").on("click", function (e) {
            var value = $("#addOneTimeDonationValue").val()
            $.get("/Cart/AddOneTimeDonation?OneTimeDonationValue=" + value, null, function (data) {
                if (data.success)
                {
                    document.location.href = '../Cart/Index';
                }
                else
                {
                    $("#OneTimeDonationBox").append('<span style="color: red;">' + data.message + '</span>');
                }
            }, "json")
            .fail(function (data) {
                console.error("An error occurred when trying to save the One-time Donation");
            });
        });

        $("#addPromoCodeBtn").on("click", function (e) {
            e.preventDefault();
            var value = $("#addPromoCodeValue").val();
            $.get("/Cart/ApplyDiscountCode?PromoCode=" + value, null, function (data) {
                $(".DiscountSummary").text(data.discount);
                $(".cartTotal").text(data.total);
            }, "json")
            .fail(function (data) {
                console.error("An error occurred when trying to save the One-time Donation");
            });
        });

        $(".quantityItemInput").on("change copy keyup", function (e) {
            e.preventDefault();

            var regExp = /^[0-9]{1,3}$/gm;
            var elem = $(this);
            var code = $(this).data("code");
            var mediatype = $(this).data("mediatype");
            var quantity = $(this).val();

            if (quantity != null && quantity.match(regExp) && (parseInt(quantity) != 0)){
                updateItemTotal(code, quantity, mediatype);
            }
            else {
                setTimeout(function () {
                    if (!elem.val().match(regExp)) {
                        elem.val(1);
                        updateItemTotal(code, 1, mediatype);
                    }                        
                }, 2000)
                
            }
        });

        function updateItemTotal(code, quantity, mediatype) {
            var url = '@Url.Action("UpdateCart", "Cart")' + '?code=' + code + '&quantity=' + quantity + '&mediaType=' + mediatype;
            $.get(url, null, function (data) {
                updateCartSummaryValues(data);
                $("#Total_" + code + mediatype).text(data.itemTotal);
            }, "json");
            itemCartQuantity.change();
        };

        $(".removeDonation").click(function (e) {
            e.preventDefault();
            var code = $(this).data("code");
            $.get("/Cart/RemoveDonation?code=" + code , null, function (data) {
                updateCartSummaryValues(data);
                $('.OneTimeDonationSummary').text(data.OneTimeDonation);
                $('#rowId_' + code + '_Donation').remove();
                if (data.success) {
                    if (!data.showDonationTable)
                        $('#noDonations', '#donationContainer').removeClass('hide');
                    else
                        $('#noDonations', '#donationContainer').addClass('hide');
                };
                itemCartQuantity.change();
            }, "json")
            .fail(function (data) {
                console.error("An Error occured when trying remove the donation")
            });
        });

        @if (donationsItems.Count() == 0) { 
            <text>
        $('#noDonations', '#donationContainer').removeClass('hide');
            </text>
        }

        $(".removeItem").click(function (e) {
            e.preventDefault();

            var sku = $(this).data("sku");
            var mediaType = $(this).data("mediatype");

            removeItem(sku, mediaType);
            itemCartQuantity.change();
        });

        function removeItem(sku, mediaType) {
            var url = "@Url.Action("RemoveItem", "Cart")" + "?sku=" + sku + "&mediaType=" + mediaType;

            var promise = $.get(url);

            promise.done(function (response) {
                if (response.itemRemoved) {
                    var rowId = "#rowId_" + sku + mediaType;
                    var row = $(rowId);

                    if (row != null) {
                        row.remove();

                        updateCartSummaryValues(response);
                    }
                    itemCartQuantity.change();
                }
            });
        };

        function updateCartSummaryValues(response) {
            $(".cartSubtotal").html(response.subTotal);
            $(".cartTotal").html(response.total);

            if (response.itemsInCart == 0){
                $("#cartEmptyRow").show();
            }

        };
    });
</script>
