﻿@using Jhm.Web.Core.Models
@using getv.donorstudio.core.Global
@using Jhm.em3.Core

@model Jhm.Web.Core.Models.Modules.ECommerce.CheckoutOrderReviewViewModel

<script>
    function openPrinterFriendlyWindow(printLink) {
        printLink.parentNode.style.visibility = "hidden";
        jQuery(".no-print").hide();
        var w = window.open('', '', 'status=0,scrollbars=1,width=800,height=500');

        w.document.open("text/html");
        w.document.write("<div id='content'><div id='section-receipt'>" + document.getElementById('section-receipt').innerHTML + "</div></div>");

        addStyleSheet(w, "/content/css/print-html-reset.css");
        addStyleSheet(w, "/content/css/defaults.css");
        addStyleSheet(w, "/content/css/print-layout-fixed.css");
        addStyleSheet(w, "/content/css/print-pages.css");
        addStyleSheet(w, "/content/css/print-ecommerce.css");
        addStyleSheet(w, "/content/css/print-blocks.css");
        addStyleSheet(w, "/content/css/print.css");

        w.document.close();
        w.print();
        jQuery(".no-print").show();
        printLink.parentNode.style.visibility = "visible";
    }

    function addStyleSheet(w, cssFilePath) {
        var fileref = w.document.createElement("link");
        fileref.setAttribute("rel", "stylesheet");
        fileref.setAttribute("type", "text/css");
        fileref.setAttribute("href", cssFilePath);
        w.document.getElementsByTagName("head")[0].appendChild(fileref);
    }
</script>


<div class="noborder nomargin nopadding topmargin-sm bottommargin-sm">
    <div class="container clearfix">
        <div class="shop-checkout noborder topmargin">
            <div class="shop-header shop-category-header">
                <h2>Receipt</h2>
                <div class="shop-item-sort">
                    <a href="/">Home</a> / @Html.ActionLink("Shop", "Index", "Shop") / @Html.ActionLink("Shopping Cart", "Index", "Cart") / Receipt
                </div>
            </div>
            <div class="shop-table-wrap" id="section-receipt">
                <h3 class="heading-border">Thank you for your purchase!</h3>
                <p class="order-message">Your order has been submitted for processing. You should receive a confirmation of payment by e-mail, as well as information on when to expect to receive your order. Please print this page for your records.</p>
                @if (Model.ContainsDownloadableItem())
                {
                <p class="order-message">
                    You will receive an email with a link to download your digital purchases.
                </p>
                }
                <div class="cart-author">
                    <label class="cartlabel">Approval Code #: @Model.ApprovalCode</label><br />
                    <label class="cartlabel">Order date: @Model.OrderDate.ToLongTimeString()</label>
                </div>
                @Html.Partial("_OrderSummary", Model)
            </div>
            <div class="cart-actions">
                @Html.ActionLink("Return Home", "Index", "Shop", null, new { @class = "button button-blue button-3d button-large" })
                <a class="fright button button-3d button-large" onclick="openPrinterFriendlyWindow(this);">Print my Receipt</a>
            </div>
        </div>
    </div>
</div>
