﻿@using Jhm.Web.Core.Models.Modules.ECommerce
@using Jhm.Web.UI.Controllers
@using Jhm.Web.UI.Views
@using Jhm.Common.Framework.Extensions
@using Jhm.Web.Core

@model DonationFormViewModel
@{
    ViewBag.Title = "DonationForm";
    var detailLink = Url.RouteUrl(Jhm.Web.Core.MagicStringEliminator.Routes.Donation_Detail.RouteName, new { donationCode = Model.DonationCode });
    int i = 1;
    string returnToUrl = Url.Action("Index", "Cart");
    var selectedChoiceName = ViewData[DonationFormViewModel.SelectedChoiceName];
}

<script type="text/javascript">
    $(document).ready(function () {
        $(".user-donation").focus(function () {
            if (this.value == '0.00') {
                this.value = '';
            }
        });
    });
</script>

<section id="content">
    <div class="noborder nomargin nopadding topmargin-sm bottommargin-sm">
        <div class="container clearfix">

            <div id="content-header">
                <h2>
                    Giving Opportunities
                </h2>
            </div>
            <div>
                <div>
                    <h2>@Model.Title</h2>
                    @if (Model.FormViewImageUrl.IsNot().NullOrEmpty())
                    {
                        <div class="product-photo">
                            <img alt="@Model.Title" src="@Url.Content(Model.FormViewImageUrl)" />
                        </div>
                    }
                    <div class="content">
                        <div>
                            <div>
                                @Html.Raw(Jhm.Web.Core.Models.DonationOption.ReplaceDonationFormat(Model.Body, Model.Client).TruncateAt(240, @"... <span class="" more-link""><a href="" {0}"">Read More</a></span>".FormatWith(detailLink)))
                                <div>
                                    @using (Html.BeginForm(new { returnToUrl = returnToUrl }))
                                    {

                                        @Html.ValidationSummary(false, "Adding to Cart was unsuccessful. Please correct the errors and try again.", new { @class = "alert alert-danger", role = "alert" })


                                        @Html.FormKeyValueMatchAttributeHiddenField()
                                        @Html.FormKeyValueMatchAttribute_EasyButton_ValueSet_FormSubmitJavascript()

                                        foreach (var option in Model.DonationOptions)
                                        {
                                            <div class="@(i == 1 ? "donation-wrapper one" : "donation-wrapper auto")">
                                                <div>
                                                    @if (Model.DonationOptions.Count().Is().GreaterThan(1))
                                                    {
                                                        <input id="@string.Format("{0}{1}", DonationFormViewModel.SelectedChoiceName, @option.SortOrder)"
                                                               name="@DonationFormViewModel.SelectedChoiceName"
                                                               type="radio"
                                                               value="@option.Id"
                                                               tabindex="@option.SortOrder">
                                                        @(selectedChoiceName != null && selectedChoiceName.ToString() == option.Id.ToString() ? "checked" : string.Empty)
                                                    }
                                                    else
                                                    {
                                                        @Html.Hidden(DonationFormViewModel.SelectedChoiceName, option.Id)
                                                    }

                                                    @Html.Raw(@Html.RenderPartialEditByTypeName(option, "~/Views/Shared/PartialViews/ObjectDisplayEditControls/Donation/Options/", useRazorEngine: true))
                                                </div>
                                            </div>
                                                    i++;
                                        }

                                        <input type="submit" class="button button-blue" value="Add to Cart">
                                    }


                                    @*<%-- <p>
                                            <hr />--%>
                                            <%: Html.FormKeyValueMatchAttribute_EasyButtonLink(new EasyButton(MagicStringEliminator.EasyButtonLabel.AddToCart, icon: MagicStringEliminator.EasyButtonIcon.Buy))%>
                                            <%--
                                        </p>--%>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .donation-wrapper {
        background-color: #EFEFEF;
        border: 1px solid #DDD;
        border-radius: 4px;
        padding: 10px;
        margin-bottom: 15px;
    }

        .donation-wrapper.auto {
            background-color: #FFF;
        }

        .donation-wrapper input[type=radio] {
            float: left;
            width: 5%;
        }

        .donation-wrapper label:first-child {
            float: left;
            width: 94%;
        }

        .donation-wrapper ul, .donation-wrapper ol {
            margin-left: 20px;
        }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        updateSelected();


        $("input[name=SelectedChoice]").click(function () {
            updateSelected();
        });

        function updateSelected() {
            $("div.donation-wrapper").addClass("auto");
            $("div.donation-wrapper").has("input:checked").removeClass("auto");
        }
    });
</script>