
/*
 * Navigation Styling
 * ----------------------------------------------------------------------------
 */



/*EDIT HERE FOR MENU DROP DOWN*/
/** 2nd Level Main Menu **/
#main-menu ul ul {
	display: none;
	position: absolute;
	top: 42px;
	width: 180px;
	height: auto;
	/*background-color: #065276;*/
	background-color: #8A0508; /*For Christmas*/
	background-image: none;
	/*border: 1px solid #70b6cf;*/
	border: 1px solid #EB000B; /*For Christmas*/
	font-size: 0.875em;
	margin: 0;
	padding: 0;
}

/*EDIT HERE FOR MENU DIVIDER*/				
#main-menu ul ul li {
	float: none;
	display: block;
	height: auto;
	border: none;
	/*border-bottom: 1px dashed #4e8daa;*/
	border-bottom: 1px dashed #C19403; /*For Christmas*/
	margin: 0;
	padding: 0 16px;
}

/*EDIT HERE FOR MENU HOVER OVER COLOR*/
#main-menu ul ul li:hover {
	/*background-color: #09769d;*/
	background-color: #B40009; /*For Christmas*/
}

/*
 * Secondary menu links
 * ----------------------------------------------------------------------------
 */

#secondary-menu ul li{
	display: block;
	background: url('../../../images/Themes/Christmas/secondary-menu-bg-red.png') top left repeat;
	float: left;
	height: 38px;
	margin: 0 5px 0 0;
	position: relative;
	/*padding-left: 53px;*/
	font-size: 16px;
	margin-right: 5px;
	width: 135px;
}

#secondary-menu ul li:hover {
	background: url('../../../images/Themes/Christmas/subMenuBg-ltgold.png') top left repeat;
}

.donateNow a
{
    float: right;
    padding-right: 10px;
    padding-bottom: 10px;
    color: #AC0100 !Important;
    font-weight: bold !Important;
}

/*EDIT HERE FOR MENU HOVER DEFAULT COLOR*/
#secondary-menu ul ul li{
	background-image: url('../../../images/Themes/Christmas/subMenuBg-red.png'); /*For Christmas*/
	background-repeat: repeat;
	margin-right: 0;
}

/*
 * Block menu links
 * ----------------------------------------------------------------------------
 */

/*EDIT HERE FOR LINK COLORS*/
/*form Christmas*/
.block ul.links a,
.block ul.links a:link,
.block ul.links a:visited,
.block ul.links a:active {
  color: #8A0E0D;
  display: block;
}

.block ul.links a:hover,
.block ul.links li.current > a {
	color: #fff;
  background-color: #b77c30;
}

/*EDIT HERE FOR MENU ICONS*/
.block ul.links .menu_node {
	float: left;
	position: absolute;
	left: 22px;
  display: block;
  height: 16px;
  width: 16px;  
  border: none;
  cursor: pointer;
  background: transparent url('../../../images/Themes/Christmas/navnode-christmas.png') no-repeat 0 0;
  /*background: transparent url('../../../images/navnode.png') no-repeat 0 0;*/
  margin: 0;
  padding: 0;
  z-index: 20;
}


#login-menu li a{
	color: #643B00;
	position: relative;
	display: block;
	float: left;
	padding: 0 13px;
}