
/*
 * Page Background Styling
 * ----------------------------------------------------------------------------
 */


body {
	background: #011620 url('../../../images/Themes/Christmas/body-bg.jpg') top center no-repeat;
	background-attachment: fixed; 
}

#page-wrapper {
	background: url('../../../images/Themes/Christmas/page-wrapper-bg.jpg') top center repeat-x;
}

#page {
	background: url('../../../images/Themes/Christmas/page-bg.jpg') top center no-repeat;
}

.sidebar-second #main-wrapper {
	background: url('../../../images/main-second-sidebar-bg.png') top left repeat-y;
}

#main-wrapper, #main-wrapper h1, #main-wrapper h2, #main-wrapper h4, #main-wrapper a, font[color='#000000'], font[color='#0000FF'] ,#main-wrapper b {
    color:#FFFFFF !important;
}

#main-wrapper a {
    text-decoration: underline;
}

#main-wrapper .block a, #main-wrapper .easybutton {
    color: inherit !important;
    text-decoration:inherit !important;
}

#main-wrapper .block, #main-wrapper .block b, #main-wrapper .block h4, #main-wrapper .post, #main-wrapper .post b, #main-wrapper .post h4, #main-wrapper .post a, #main-wrapper .tab-content, #main-wrapper .tab-content a, #main-wrapper .tabs a, #main-wrapper a.easybutton, #main-wrapper .product-content, #main-wrapper .product-content b, #main-wrapper .product-content h4, #main-wrapper .product-display, #main-wrapper .product-display b, #main-wrapper .product-display h4 {
    color:#0c3249 !important;
}

#main-wrapper .block h1, #main-wrapper .post h1, #main-wrapper .tab-content h1, #main-wrapper h1.title, #main-wrapper .product-content h1 {
    color:#643b00 !important;
}

#main-wrapper .block h2, #main-wrapper .post h2, #main-wrapper .tab-content h2, #main-wrapper h2.title, #main-wrapper .product-content h2 {
    color:#643b00 !important;
}

#main-wrapper .region-sidebar-second a {
    color: #fff !important;
}

#main-wrapper .region-sidebar-second li {
    border-bottom-color: #fff !important;
}

#main-wrapper img[alt="JHM Sacramento"] + h3 + h1, #main-wrapper img[alt="JHM Sacramento"] + h3 + h1 + h2
{
    color: #000000 !important;
}