@font-face {
    font-family: 'QuicksandBook';
    src: url('/content/dm/css/fonts/quicksand/quicksand_book-webfont.eot');
    src: url('/content/dm/css/fonts/quicksand/quicksand_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('/content/dm/css/fonts/quicksand/quicksand_book-webfont.woff') format('woff'),
         url('/content/dm/css/fonts/quicksand/quicksand_book-webfont.ttf') format('truetype'),
         url('/content/dm/css/fonts/quicksand/quicksand_book-webfont.svg#QuicksandBook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'QuicksandLight';
    src: url('/content/dm/css/fonts/quicksandLight/quicksand_light-webfont.eot');
    src: url('/content/dm/css/fonts/quicksandLight/quicksand_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/content/dm/css/fonts/quicksandLight/quicksand_light-webfont.woff') format('woff'),
         url('/content/dm/css/fonts/quicksandLight/quicksand_light-webfont.ttf') format('truetype'),
         url('/content/dm/css/fonts/quicksandLight/quicksand_light-webfont.svg#QuicksandLight') format('svg');
    font-weight: normal;
    font-style: normal;
}