﻿@model Jhm.Web.Core.Models.DonationOption

@using Jhm.Common.Framework.Extensions
@using Jhm.Web.Core.Models.Modules
@using Jhm.Web.Core.Models.Modules.ECommerce


@if (Model.OptionFieldIsEnabled())
{
    <div class="donation-option-certificate">
    <br />
    @Model.OptionField.LabelText
    @Html.TextBox(
    DonationFormViewModel.CertificateTextBoxName(Model.Id),
    ViewData[DonationFormViewModel.CertificateTextBoxName(Model.Id)] ?? string.Empty,
    Model.OptionField.MaxLength > 0 ? new{@maxlength=Model.OptionField.MaxLength.ToString()} : null
    )    
    @if (Model.OptionFieldIsRequired())
    {
        <span class="form-required">*</span>   
    }
    </div>
}

