﻿@model Jhm.Web.Core.Models.DonationOption

@using Jhm.Common.Framework.Extensions
@using Jhm.Web.Core.Models
@using Jhm.Web.Core.Models.Modules.ECommerce
@using Jhm.Web.UI.Views

@{
    var certificateTextBox = ViewData[DonationFormViewModel.CertificateTextBoxName(Model.Id)];
}

@helper RenderValueInput(object value)
{
    <div class="donation-option-certificate-input">
        @Html.TextBox(DonationFormViewModel.CertificateTextBoxName(Model.Id), value, Model.OptionField.MaxLength > 0 ? new { @maxlength = Model.OptionField.MaxLength.ToString() } : null)

        @if (Model.OptionFieldIsRequired())
        {
            <span class="form-required">*</span>
        }
        <a name="Remove" href="#" class="easybutton mini" style="position:inherit;">Remove</a>
    </div>
}

@if (Model.OptionFieldIsEnabled())
{
    var certValue = certificateTextBox.IsNot().Null() ? certificateTextBox.ToString() : string.Empty;
    var certValues = certValue.IsNot().NullOrEmpty() ? certValue.TrimEnd(',').Split(',') : new string[] { };

    <div class="donation-option-certificate">
        <br />@Model.OptionField.LabelText<br />
        <div>
            <ol id="certificates">
                @foreach (var item in certValues)
                {
                    <li>
                        @RenderValueInput(item)
                    </li>
                }
                @if (ViewData["ShouldShowDefaultInput"] == null || ((bool)ViewData["ShouldShowDefaultInput"]))
                {
                    <li>
                        @RenderValueInput(string.Empty)
                    </li>
                }
            </ol>
        </div>
        <div class="donation-option-AddNewCertificate">
            <a name="AddNew" href="#" class="button button-3d button-medium" style="position:inherit;">Add New</a>
        </div>
    </div>
    <div class="donation-option-certificate-add">
    </div>

    <script type="text/javascript">
        $(document).ready(function () {

            var quantityInput = $('input[name=@DonationFormViewModel.QuantityTextBoxName(Model.Id)]');
            quantityInput.css('border', 'none');
            quantityInput.css('font-weight', 'bold');
            quantityInput.attr("readonly", true);
            quantityInput.val($(".donation-option-certificate-input").size());

            $(document).on('click', "a[name='AddNew']", function () {
                AddNew();
                IncrementCount();

                return false;
            });

            $(document).on('click', "a[name='Remove']", function () {
                RemoveItem($(this));
                IncrementCount();
                return false;
            });

            function IncrementCount() {
                quantityInput.val($(".donation-option-certificate-input").size());
            };

            function AddNew() {
                $('#certificates').append('<li><div class="donation-option-certificate-input" style="margin-top: 5px;"> @Html.TextBox(DonationFormViewModel.CertificateTextBoxName(Model.Id), string.Empty,Model.OptionField.MaxLength > 0 ? new{@maxlength=Model.OptionField.MaxLength.ToString()} : null) <span class="form-required">*</span> <a name="Remove" href="#" class="easybutton mini" style="position:inherit;">Remove</a> </div></li>');
            };

            function RenameRemove(obj) {
                obj.attr("name", "Remove");
                obj.text("Remove");
            };

            function RemoveItem(obj) {
                if ($(".donation-option-certificate-input").size() > 1) {
                    obj.parent().parent().remove();
                }
            }
        });
    </script>
}
