﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl<Jhm.Web.Core.Models.DonationOption>" %>
<%@ Import Namespace="Jhm.Common.Framework.Extensions" %>
<%@ Import Namespace="Jhm.Web.Core.Models" %>
<%@ Import Namespace="Jhm.Web.Core.Models.Modules.ECommerce" %>
<%if (Model.DonationFrequencyOptions.Count().Is().GreaterThan(1))
  {
      var vdSelectedFrequency =
          DonationFrequency.TryGetFromDisplayName<DonationFrequency>(
              ViewData[DonationFormViewModel.DonationFrequencySelectListName(Model.Id)] as string) ?? DonationFrequency.OneTime;
      %>
      <div class="donation-option-donationfrequency">
      Please select the frequency of your donation:
  <%: Html.DropDownList(DonationFormViewModel.DonationFrequencySelectListName(Model.Id), 
                                Model.DonationFrequencyOptions.Select(frequency => new SelectListItem(){
                                    Selected = vdSelectedFrequency == frequency,
                                      Text = frequency.DisplayName, 
                                      Value = frequency.DisplayName})) %><span class="form-required">*</span>

                                      </div>

<%}
  else
  { %>
        <%: Html.Hidden(DonationFormViewModel.DonationFrequencySelectListName(Model.Id), 
                        Model.DonationFrequencyOptions.Count() ==1 ? 
                                Model.DonationFrequencyOptions.ToArray()[0] : 
                                DonationFrequency.OneTime)%>
<%} %>
