﻿@model Jhm.Web.Core.Models.DonationOption
    
@using System.Threading
@using Jhm.Web.Core
@using Jhm.Web.Core.Models
@using Jhm.Common.Framework.Extensions
@using Jhm.Web.Core.Models.Modules
@using Jhm.Web.Core.Models.Modules.ECommerce

@{
    var client = (Client)ViewData[MagicStringEliminator.ViewDataKeys.Client];
}

@if (Model is FixedAmountDonationOption && Model.Amount.Is().GreaterThan(0))
{
    @Model.Amount.FormatWithClientCulture(client, "C")
}

<label for="@string.Format("{0}{1}", DonationFormViewModel.SelectedChoiceName, Model.SortOrder)">@DonationOption.ReplaceDonationFormat(Model.Title, client)</label>
@if (Model.ImageUrl.IsNot().NullOrEmpty())
{
    <div class="donation-option-image">
        <img src="@Model.ImageUrl" alt="@Model.Title" />
    </div>
}
<p>
    @DonationOption.ReplaceDonationFormat(Model.Description, client)
</p>

@if (Model.IncludedStockItems.IsNot().Empty())
{
    <div class="donation-option-stockItems">
        For Your Donation, You Will Receive:
        <ul>
            @foreach (var includedStockItems in Model.IncludedStockItems)
            {
                <li>
                    @Html.Raw(Html.RenderPartialEditByTypeName(includedStockItems, "~/Views/Shared/PartialViews/ObjectDisplayEditControls/Donation/Options/DonationOption/"))
                </li>
            }
        </ul>
    </div>
}
@if (Model.StockItemChoices.IsNot().Empty())
{
    <div class="donation-option-stockItemChoices">
        Please Choose one of the following:
        @Html.DropDownList(DonationFormViewModel.SelectedStockItemChoiceListName(Model.Id),
        Model.StockItemChoices.Select(stockItemChoice => new SelectListItem()
        {
            Selected = ViewData[DonationFormViewModel.SelectedStockItemChoiceListName(Model.Id)].TryConvertTo<Guid>() == stockItemChoice.Id,
            Text = stockItemChoice.Title,
            Value = stockItemChoice.Id.ToString()
        
        }).AddNoSelection())<span class="form-required">*</span>
        
    </div>
}
