﻿

<div class="noborder nomargin nopadding topmargin-sm bottommargin-sm">
    <div class="container clearfix">
        <div class="shop-category noborder topmargin">
            <div class="shop-header shop-category-header">
                @(Html.Raw(ViewData["ErrorMessage"]))
                <div class="shop-item-sort">
                    <a href="/">Home</a> / Error
                </div>
            </div>  
        </div>
    </div>
</div>
