
/*
 * Page Background Styling
 * ----------------------------------------------------------------------------
 */


body {
	background: #011620 url('../../../images/Themes/Spring/body-bg.jpg') top center no-repeat;
	background-attachment: fixed; 
}

#page-wrapper {
	background: url('../../../images/Themes/Spring/page-wrapper-bg.jpg') top center repeat-x;
}

#page {
	background: url('../../../images/Themes/Spring/page-bg.jpg') top center no-repeat;
}

.sidebar-second #main-wrapper {
	background: url('../../../images/Themes/Spring/main-second-sidebar-bg.png') top left repeat-y;
}
