﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>From the desk of Pastor John Hagee</title>
<style type="text/css">
body {
	width: auto;
	height:800px;
	background-position:center;
	background-image:url(images/background.jpg);
	background-color: #FFF;
	background-repeat:no-repeat;
	}
a {color:#C93;}
img {border:none;}
body,td,th {
	color: #000;
}
</style>
</head>

<body>
<table width="650" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr valign="top">
    <td valign="top"><img src="<%IMAGES_PATH%>header.jpg" width="650" height="151" alt="Thank You for your Recent Purchase" /></td>
  </tr>
  <tr>
      <td align="center">
          <a href="http://www.jhm.org/">
              <img src="<%IMAGES_PATH%>CyberMonday_body.jpg" width="650" height="567" alt="Thank You for Participating in Our Cyber Monday Sale 10% Off" />
          </a>
      </td>
      </tr>
      </table></td>
  </tr>
    </table>
<p align="center">
 <span style="font-weight: bold; font-size: 11px; color: #ffffff; font-family: Arial;">DO NOT REPLY TO THIS E-MAIL - THIS E-MAIL WAS SENT FROM AN ACCOUNT THAT IS NOT MAINTAINED.</span> <br />
<span style="font-weight: bold; font-size: 11px; color: #ffffff; font-family: Arial;">This e-mail was sent to the following e-mail address: <a href="mailto:noreply@jhm.org">noreply@jhm.org</a></span></p>
</body>
</html>
