/**** STYLES ADDED BY MICAH ****/
.container {
    position: relative;
}

#unsubscribe {
    
}

#unsubscribe textarea {
    height: 100px;
}

.contact-page-form {
  clear: both;
  border-top: 5px solid #eee;
  padding-top:  40px;
}

#destination-trigger {
    background-color: #0086c6;
    background-image: url('../images/arrow-right.png');
    background-position: 50% 50%;
    background-size: 7.5px 12.5px;
    background-repeat: no-repeat;
    display: block;
    height: 100% !important;
    position: absolute;
    width: 30px !important;
    z-index: 999;
}

#destination-trigger.open {
    background-image: url('../images/arrow-down.png');
    background-size: 12.5px 7.5px;
}

.dt-slider {
  background-position: 50% 95% !important;
  background-repeat: no-repeat;
  height: 365px !important;
}

.dt-slider .slider-caption {
  top: 150px !important;
}

.dt-single .slider-caption {
  top: 136px !important;
}

.daily-truth-return {
  background: #1498be none repeat scroll 0 0;
  border-radius: 5px;
  color: #fff;
  display: block;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 163px;
  width: 100px;
}

h3.daily {
  margin-bottom: 0;
}

h3.daily a {
  text-decoration: none !important;
}

#dt-date-nav {
  border-bottom: 1px solid #ccc;
  padding: 18px 0;
}

.is-sticky #dt-date-nav {
  background: #fff none repeat scroll 0 0;
  position: fixed !important;
  width: 100%;
  z-index: 999;
}

#dt-date-nav .si-share div, .dt-single-social .si-share div {
    float: none;
    width: 260px;
    margin: 0 auto;
}

.dt-date-click {
  background-size: 115px 27px;
  background-repeat: none;
  background-position: 0 0;
  text-indent: -9999px;
  display: block;
  height: 27px;
  left: 0;
  position: absolute;
  top: 11px;
  width: 115px;
}

.dt-date-click.prev {
    background-image: url(../images/daily-truth/prev-day.gif);
}

.dt-date-click.next {
    right: 0;
    left: auto;
    background-image: url(../images/daily-truth/next-day.gif);
}

.dt-single-title {
  border-bottom: 1px solid #ddd;
  float: left;
  width: 100%;
  padding: 0 0 12px 0;
  margin-bottom: 12px;
}

#dt-date-nav .dt-single-title {
  border-bottom: none;
  float: left;
  margin-bottom: 0;
}

.dt-single-title img {
  float: right;
  height: 24px;
  margin: 12px 0 0;
  width: auto;
}

.dt-single-title h3 {
  line-height: 24px;
  margin-top: 8px;
  font-size: 21px;
}

.dt-single-title h3 span {
  display: block;
  font-size: 75%;
  color: #bbb;
  font-weight: normal;
}

.dt-single-center {
    text-align: center;
}

.dt-single-social {
  padding: 18px 0;
  border-top: 1px solid #ddd;
}

/*JHM Publications
#portfolio-filter-wrap {
    width: 40%;
    position: relative;
    margin-bottom: 30px;
}
#portfolio-filter {
    float: none;
    border-radius: 0;
    border: none;
    background: #d9ac05;
    overflow: hidden;
    position: absolute !important;
    width: 100%;
    float: none;
}

#portfolio-filter li {
    float: none;
}

#portfolio-filter li a, #portfolio-filter li a:hover {
    border: none;
    color: #fff;
    padding: 10px 0 !important;
}

#portfolio-filter li a .icon-down-arrow {margin-top: 4px;}

.portfolio-filter-sub {display: none;}
*/

/*JHM Connect*/
.connect-text {
  font-size: 15px;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  padding: 39px 0 51px;
  text-align: left;
  width: 150px;
}

/*slider fixes*/
.slider-caption {opacity: 1 !important;}
#slider2 {transform: translate(0) !important; height: 650px !important; position: relative;}
#slider2 .swiper-slide {height: 650px !important}
#slider2 .slider-caption {top: 260px !important}

/*ways to watch*/
#processTabs .process-steps li .button {
    text-transform: none !important;
}

.watch-box img {margin-bottom: 10px;}
.watch-box h4 {margin-bottom: 15px; text-transform: none;}

@media all and (max-width: 1124px) {
    #primary-menu ul li a {
        padding: 0 3px;
    }
    
    #primary-menu ul li.primary-home {
        display: none;
    }
}

@media all and (max-width: 991px) and (min-width: 480px) {
     #top-cart {
        right: 30px;
    }

    #top-search > a {
      right: 60px;
    }
    
    #side-panel-trigger {
        right: 94px;
    }
}

@media all and (max-width: 991px) {
    /** ADDED BY MICAH **/
    
    #header.full-header .container, .container-fullwidth {
        padding: 0 0 0 44px !important;
        width: auto !important;
    }
    
    #logo {
        text-align: left !important;
    }

    .dt-single #slider {
      height: 124px !important;
    }

    .dt-single .slider-caption {
      top: 20px !important;
    }
    
    .dt-single .container {
      padding-bottom: 0 !important;
    }

    .daily-truth-return {
      top: 45px;
    }
    
    .is-sticky #dt-date-nav {
        top: 0px !important;
    }
    
    .team .si-share {padding-left: 0;}
    
    .team .si-share div {
        float: none;
    }

    .team-desc .col_half {
      clear: both;
      text-align: left;
      width: 100%;
    }
    
    .break-early .team.team-list .team-image {
        float: none;
        width: auto;
        margin: 0 auto 30px auto;
    }
    
    .break-early .team.team-list .team-image img {width: 100%; height: auto;}
    .break-early .col_one_fourth {width: 46%;}
    .featured-speakers .col_one_fourth img {max-width: 175px; margin: 0 auto}
    
    .daily-truth .post-grid.grid-2 .entry, .daily-truth .post-grid.grid-3 .entry {
        margin-right: 2%;
        width: 31%;
    }
    
}

@media all and (max-width: 767px) {
    
    .daily-truth-return {
        bottom: 15px;
        left: 50%;
        margin-left: -50px;
        top: auto;
    }
    .slider-caption img {
        padding-bottom: 18px;
    }
    
    #dt-date-nav h3 {
        font-size: 12px;
        margin-bottom: 10px;
    }
    
    .dt-date-click {
        background-position: -14px -5px;
        background-size: 115px 27px;
        display: block;
        height: 13px;
        left: 0;
        top: 0;
        width: 28px;
    }
    
    .dt-date-click.prev {
        background-position: -29px -4px;
        width: 49px;
        height: 14px;
    }
    
    .dt-single-title {
        text-align: center;
    }
    
    .dt-single-title img {
        float: none;
        margin: 0;
    }
    
    #connect-jhm .col_respon {
        clear: both;
        margin-bottom: 16px !important;
        min-height: 97px;
    }
    
    
    #processTabs .process-steps li {
        float: left;
        width: 30% !important;
        margin: 0 1.5%;
    }
    
    #processTabs .process-steps li .button {
        font-size: 11px;
        height: auto;
        letter-spacing: 0;
        line-height: 14px;
        margin: 0;
        outline: medium none;
        padding: 7px 10px;
        white-space: normal;
    }
    #jhm-shop .col_one_third {
        width: 30.63% !important;
        float: left !important;
        margin-right: 4% !important;
        text-align: center !important;
      }
      
    #jhm-shop .col_one_third.col_last {margin-right: 0 !important;}
    #jhm-shop .feature-box.fbox-center .fbox-icon {width: auto;}
      #jhm-shop .col_one_third img {
        height: 50px;
        width: auto;
        margin: 0 auto
      }
      
      .break-early .col_one_fourth {width: 100%;}
      #portfolio-filter-wrap {width: 100%;}
      .filter-dropdown li {margin-bottom: 0 !important;}
      .filter-dropdown li a {text-align: left !important;}
    
}
.post-timeline .alt .entry-timeline {top: 90px} /*override*/