body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

/**** FILTERS ****/
.gl-filters {
  margin: 0 auto;
  position: relative;
  text-align: center;
  margin-top: -100px;
  width: 100%;
  z-index: 99;
  float: left;
}

.dt-filters-inner {
    margin: 0 auto;
    width: 700px;
    position: relative;
}

.filter-button {
    background: #0787c9 none repeat scroll 0 0;
    box-shadow: 0 0 3px #107cb3 inset;
    border-radius: 2px;
    color: #fff;
    display: block;
    float: left;
    font-size: 16px;
    line-height: 42px;
    padding: 0 12px;
    width: calc(49% - 24px);
}

.filter-button.filter-button-right {
    float: right;
}

.filter-button.filter-button-full {
    width: calc(100% - 24px);
}

.filter-button.filter-button-red {
    box-shadow: 0 0 3px #cc694e inset;
}

.filter-button.open {
    padding-bottom: 6px;
}

.filter-dropdown {
    background: #0787c9;
    clear: both;
    padding: 0 18px;
    position: absolute;
    width: calc(100% - 36px);
    top: 45px;
    display: none;
    z-index: 99;
}

.filter-dropdown.filter-dropdown-red, .filter-button.filter-button-red {
    background: #e36d52;
}

.filter-dropdown li a {
    border-bottom: 1px solid #198eca;
    color: #f6f6f6;
    display: block;
    line-height: 44px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
}

.filter-dropdown.filter-dropdown-red li a {
    border-bottom-color: #eb9885;
}

.filter-dropdown li a:hover {
    color: #fff;
}

.icon-arrow-down {
    display: inline-block;
    background: url("../img/arrow-down.png") 0 0 / 12.5px 7.5px no-repeat;
    background-size: 12.5px 7.5px;
    height: 7.5px;
    margin: 17px 0 0 0;
    width: 12.5px;
    float: right;
}

/**** EVENT CALENDAR ****/
#gl-cal {
  color: #fff;
  padding: 18px 0;
  position: relative;
}

#gl-cal > h2 {
  color: #fff;
  text-align: center;
}

#gl-cal a {
  color: #fff;
}

.load-cal {
  position: absolute;
  top: 25px;
  background-size: 7.5px 12.5px;
  background-position: 0 0;
  width: 7.5px;
  height: 12.5px;
  text-indent: -9999px;
  display: block;
}

.load-cal-prev {
  background-image: url("../img/arrow-left.png");   
}

.load-cal-next {
  right: 0;
  background-image: url("../img/arrow-right.png");
}

table.calendar {
  width: 100%;
}

.calendar-row-head {
  background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
}

.calendar-day-head {
  font-size: 11px;
  font-weight: 600;
  padding: 1px 0;
  text-align: center;
  text-transform: uppercase;
}

.calendar-day a {
  background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
  border-radius: 3px;
  display: block;
  font-size: 18px;
  font-weight: 300;
  line-height: 33px;
  margin: 3px;
  text-align: center;
}

.calendar-day a:hover {
    background: rgba(0,0,0,.4);
}