.ui-pnotify {
    top: 25px;
    right: 25px;
    position: absolute;
    height: auto;
    z-index: 9999;
}

html > body > .ui-pnotify {
    position: fixed;
}

.ui-pnotify .ui-pnotify-shadow {
    -webkit-box-shadow: 0 2px 10px rgba(50,50,50,.5);
    -moz-box-shadow: 0 2px 10px rgba(50,50,50,.5);
    box-shadow: 0 2px 10px rgba(50,50,50,.5);
}

.ui-pnotify-container {
    background-position: 0 0;
    padding: .8em;
    height: 100%;
    margin: 0;
}

    .ui-pnotify-container.ui-pnotify-sharp {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }

.ui-pnotify-title {
    display: block;
    margin-bottom: .4em;
    margin-top: 0;
}

.ui-pnotify-text {
    display: block;
}

.ui-pnotify-icon, .ui-pnotify-icon span {
    display: block;
    float: left;
    margin-right: .2em;
}

.ui-pnotify.stack-bottomleft, .ui-pnotify.stack-topleft {
    left: 25px;
    right: auto;
}

.ui-pnotify.stack-bottomleft, .ui-pnotify.stack-bottomright {
    bottom: 25px;
    top: auto;
}

div.alert.ui-pnotify-container.alert-success {
    background-color: #1D475D;
    border-color: #385361;
    color: #D8AB04;
}

.button {
    letter-spacing:normal;
}
