.sub-header {display: block; font-size: 85%; text-transform: none; color: #676767 !important;}
.clearfix::before, .clearfix::after, .dl-horizontal dd::before, .dl-horizontal dd::after, .container::before, .container::after, .container-fluid::before, .container-fluid::after, .row::before, .row::after, .form-horizontal .form-group::before, .form-horizontal .form-group::after, .btn-toolbar::before, .btn-toolbar::after, .btn-group-vertical > .btn-group::before, .btn-group-vertical > .btn-group::after, .nav::before, .nav::after, .navbar::before, .navbar::after, .navbar-header::before, .navbar-header::after, .navbar-collapse::before, .navbar-collapse::after, .pager::before, .pager::after, .panel-body::before, .panel-body::after, .modal-footer::before, .modal-footer::after {
    display: block;
}

h1 {
    margin-bottom: 36px;
}


#shop-nav {
  float: left;
  width: 100%;
  margin: 0 0 60px 0;
  height: 60px;
  border-bottom: 1px solid #ddd;
}

#shop-nav > ul {
  margin: 0;
}

#shop-nav li {
  float: left;
  list-style: outside none none;
}

#shop-nav li a {
  border-right: 1px solid #ddd;
  color: #676767;
  display: block;
  font-size: 19px;
  line-height: 60px;
  padding: 0 45px;
}

#shop-nav li a:hover, #shop-nav li.active a {
    background: #eee;
}

.shop-item {
    float: left;
    margin: 0 0 36px;
    overflow: hidden;
    padding: 0 1%;
    text-align: center;
    position: relative;
}

.col4 {
  width: 25%;
}

/*.col4:nth-of-type(4n+1) {
    clear: both;
}*/

.col5 {
    width: 20%;
}

/*.col5:nth-of-type(5n+1) {
    clear: both;
}*/

.shop-item img {
    margin-bottom: 6px;
    max-width: 90%;
}

.shop-item h3 {
    margin-bottom: 10px;
}

.shop-item h4 {
    text-transform: none;
    font-size: 15px;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    display: block;
}

.view-item {
    border: 1px solid #0d577f;
    border-radius: 2px;
    color: #0d577f;
    display: inline-block;
    line-height: 35px;
    padding: 0 20px;
}

.view-item.view-item-yellow, .yellow {border-color: #d4a700; color: #d4a700;}



.tab-content {
    display: none;
}

.tab-content-active {
    display: block !important;
}

.shop-category-header {
    border-bottom: 3px solid #125075 !important;
    padding-bottom: 15px;
    margin-bottom: 30px;
    position: relative;
}

.shop-category-header h2 {
    margin-bottom: 10px;
}

.shop-category-header h4 {
    margin-bottom: 0;
}

.shop-item-count {
    color: #d1a300;
    font-size: 16px;
}

.shop-item-sort {
    position: absolute;
    right: 0;
    bottom: 15px;
  font-size: 16px;
}

.shop-sort-by {
  color: #999;
  margin-bottom: 10px;
}

.shop-category-sort {
    font-weight: bold;
    color: #000;
}

/** CART **/
table.shop-cart, table.cart-summary-table, table.payment-method-table {
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  width: 100%;
}

.shop-cart td, .shop-cart th, .cart-summary-table td, .cart-summary-table th, .payment-method-table td, .payment-method-table th {
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  padding: 10px 15px;
  vertical-align: middle;
}

td.cart-img, td.cart-img img {width: 65px;}
.cart-title, .cart-media-type {font-size: 18px; font-weight: bold;}
.cart-quantity input {text-align: right; border: 1px solid #ddd;}
.cart-total {font-weight: bold; font-size: 16px;}
.cart-summary {width: 100%;float: left; padding-top: 30px;}
table.cart-summary-table {width: 32%; min-width: 280px; float: right;}
.cart-summary-table td {text-align: right;}
.cart-total-row {background: #eee; font-weight: bold; font-size: 17px;}
table.payment-method-table {width: 65%; height: 257px; float: left;}

/** PRODUCT DETAIL **/
.product-img {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  float: left;
  margin: -15px 0 15px -15px;
  padding: 15px 2%;
  text-align: center;
  width: 36%;
}

.product-info {
  float: right;
  width: 62%;
}

.product-info h1, .product-info h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.product-headline {
  text-align: center;
  padding: 5px 0;
  border-top: 1px solid #bbb;
  border-bottom:  1px solid #bbb;
  margin-top: 10px;
  font-weight: bold;
}

.product-ind-headline {
  margin-bottom: 10px;
  border-bottom: 2px solid #d4a700;
}

.product-desc {
  border-bottom: 1px solid #bbb;
}

.product-price {
  font-size: 22px;
  margin-bottom: 0;
}

.product-status-in-stock {
    color: green;
    font-weight: 600;
}

#product-nav {
    margin-bottom: 15px;
    float: left;
    width: 100%;
}

#product-nav li {
  list-style: none;
  float: left;
  margin-right: 5px;
}

#product-nav li a {
  background: #999 none repeat scroll 0 0;
  color: #fff;
  display: block;
  font-size: 21px;
  line-height: 42px;
  padding: 0 15px;
  width: 250px;
}

#product-nav li.active a {
    background: #d4a700;
}

/** SLIDERS **/
.slide-wrapper .slide-group {border: 1px solid #eee; clear: both; float: left; width: calc(100% - 2px);}
.slide-wrapper h3 {margin-bottom: 1px;}
.slide-wrapper h3 a, .slide-wrapper h3 a:visited {display: block; text-decoration: none !important; padding: 15px 20px; color: #000 !important; background: #ededed; font-size: 15px;}
.slide-wrapper h3 a:hover {background: #0086c6; color: #fff !important;}
.slide-wrapper h3 a.active {background: #125075; color: #fff !important; text-decoration: none !important;}
.slide-wrapper h3.last-slide {margin-bottom: 0 !important;}
.slide-wrapper .slide-content {padding: 15px; width: calc(100% - 30px); float: left;}

/** FORM ELEMENTS **/
label {display: block; margin-bottom: 2px;}
.input-shop {border:1px solid #ddd; height: 32px;}
.input-full {width: calc(100% - 2px)}
.input-half {margin-right: 2%; width: 47%;}

/** MISC **/
.heading-border {padding-bottom: 5px; border-bottom: 1px solid #ddd; margin-bottom: 20px !important;}
.heading-yellow-border {border-bottom: 2px solid #d4a700;}
.simple-clear {clear: both;}

@media all and (max-width:767px) {
    .col4, .col5 {
        width: 50%;
    }
    
    .col5:nth-of-type(5n+1) {
        clear: none;
    }
    
    .col-xs-6 {
        width: calc(100% - 30px);
        clear: both;
        margin-bottom: 20px;
    }
    
    #shop-nav {
        height: 45px;
        margin: 0 0 30px;
    }
    
    #shop-nav li {
        width: 25%;
    }
    
    #shop-nav li a {
        display: table-cell;
        font-size: 14px;
        height: 45px;
        line-height: 15px;
        padding: 0;
        text-align: center;
        vertical-align: middle;
        width: 100%;
    }

    #shop-nav li span {
        display: table;
        height: 45px;
        width: 100%;
    }

    #shop-nav li.active span {
        background: #eee;
    }

    
    .shop-table-wrap {
        overflow-x: auto;
    }
    
    table.shop-cart {
        width: 800px;
    }
    
    table.payment-method-table, table.cart-summary-table {
        width: calc(100% - 2px);
    }
    
    .product-img, .product-info {
        width: 95%;
        float: none;
        margin: 0 auto;
        clear: both;
        border: none;
    }
    
    .shop-item-sort {
        bottom: auto;
        font-size: 12px;
        position: relative;
        right: auto;
    }
    
}

@media all and (max-width:480px) {
    .col4, .col5 {
        width: 100%;
        padding: 0;
    }
}