
/*
 * Page Background Styling
 * ----------------------------------------------------------------------------
 */

/*EDIT HERE FOR PAGE BODY BACKGROUND*/
body {
	background: #011620 url('../../../images/Themes/Classic/body-bg.jpg') top center no-repeat;
	background-attachment: fixed; 
}

#page-wrapper {
	background: url('../../../images/Themes/Classic/page-wrapper-bg.jpg') top center repeat-x;
}

/*EDIT HERE FOR PAGE HEADER BACKGROUND*/
#page {
	background: url('../../../images/Themes/Classic/page-bg.jpg') top center no-repeat;
}

.sidebar-second #main-wrapper {
	background: url('../../../images/main-second-sidebar-bg.png') top left repeat-y;
}