﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Views/Shared/Site.Master" Inherits="System.Web.Mvc.ViewPage<dynamic>" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TitleContent" runat="server">
	NewsletterArchive
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">

    <h2>NewsletterArchive</h2>
    <iframe src="http://newsletter.test.jhm.org" width="100%" height="800" scrolling="auto" style="border:solid 1px #A1710A; background-color:White;"></iframe>
</asp:Content>




