﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Views/Shared/Site.Master" Inherits="System.Web.Mvc.ViewPage<dynamic>" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TitleContent" runat="server">
	SalvationMessage
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
<div style="padding:14px;">
    <h1>Salvation Message</h1>
    
    <iframe id="videoIframe" width="860" height="484" style="margin: 0; padding: 6px; background: black url(/Content/images/loading-animation.gif) no-repeat center 50%"
                    scrolling="no" src="https://www.getv.org/Videos/EmbedWithSize/4033ba7c-2fe6-4090-981a-26c4a11a197b?width=860&height=484"
                    frameborder="0" allowfullscreen="true"></iframe>
                    </div>
</asp:Content>


