﻿@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@inherits WebViewPage<dynamic>

@section MainContent
{
    <h2>
        Our Mission
    </h2>
    <p>
        "The mission of John Hagee Ministries is to aggressively fulfill the commission
        that Jesus Christ gave to His followers to go into the world and make disciples
        of all people. Our purpose is to bring the lost to Jesus Christ and to build up
        and encourage those who are already believers. We pledge to our viewers &amp; supporters
        to take <b><i>The Gospel to all the World and to all Generations</i></b>."
    </p>
}