﻿@{
    ViewBag.Title = "The Difference";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@inherits WebViewPage<dynamic>

@section MainContent
{
    <table width="100%" cellspacing="5" cellpadding="0" border="0">
        <tbody>
            <tr>
                <td>
                    <div style="text-align: left">
                        <img border="0" runat="server" src="~/Content/Images/DifferenceHeader.png" width="502" height="184"
                            style="Filter: Alpha(Opacity=120, FinishOpacity=20, Style=3, StartX=0, StartY=0, FinishX=0, FinishY=0)"/>&nbsp;
                    </div>
                    <div class="PageBody">
                        <p>
                            Pastor Matthew Hagee has started a new and exciting program known as THE DIFFERENCE.
                        </p>
                        <p>
                            THE DIFFERENCE is an interactive multimedia ministry targeted at drawing all
                            generations back to the foundations of faith that America was established on.
                            THE DIFFERENCE takes a new approach in sharing the Gospel by using the latest technologies
                            (such as the internet and podcasting) along with a national broadcast.
                        </p>
                        <p>
                            The weekly broadcasts that are taped live at Cornerstone Church are a spirit-filled
                            combination of extravagant praise and worship along with the uncompromised Word
                            of God shared by Pastor Matthew Hagee.
                        </p>
                        <p>
                            You can watch THE DIFFERENCE on:<br/>
                            Sunday 10:30pm eastern<br/>
                            Sky Angel Channel 262<br/>
                            <br/>
                            Sunday evenings at 6:00pm EST<br/>
                            GOD TV-USA DirecTV channel 365
                        </p>
                    </div>
                </td>
                <td style="text-align: center; width: 200px; vertical-align: top">
                    <img width="300" vspace="5" hspace="5" border="0"  runat="server" src="~/Content/Images/PastorMatthewCasual.jpg" 
                        alt="Pastor Matthew Hagee" />
                </td>
            </tr>
        </tbody>
    </table>
}