﻿@{
    ViewBag.Title = "Pastor Matthew Hagee";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@inherits WebViewPage<dynamic>

@section MainContent
{
    <img style="padding-bottom: 10px; padding-left: 10px; padding-right: 10px; float: right;
        padding-top: 10px" border="0" hspace="5" alt="Pastor Matthew Hagee" vspace="5" runat="server"
        src="~/Content/Images/PastorMatthew.jpg" width="300" height="402" />
    <div>
        <div>
            <h1>
                Pastor Matthew Hagee</h1>
            <h2>
                Executive Pastor Cornerstone Church</h2>
        </div>
        <p>
            Pastor Matthew Charles Hagee is the sixth generation in the Hagee family to carry
            the mantel of Gospel ministry.
        </p>
        <p>
            He serves as the Executive Pastor of the 19,000 member Cornerstone Church in San
            Antonio, Texas where he partners with his father, founder Pastor John Hagee. Pastor
            Matthew Hagee’s teachings are telecast over world-wide television through John Hagee
            Ministries. He is fervently committed to preaching all the Gospel to all the world
            and to every generation.
        </p>
        <p>
            Pastor Matthew is a graduate of Oral Roberts University. He is an accomplished vocalist
            and is the author of “Shaken, Not Shattered” published by Strang Communications.
        </p>
        <p>
            Pastor Matthew and his wife Kendal are blessed with three children, Hannah Rose,
            John William and Joel Charles.
        </p>
        <p>
            As their family and ministry grow, Pastor Matthew and Kendal have a desire to minister
            and equip the church of tomorrow.&nbsp; Together they seek to fulfill their divine
            destiny with the passion and purpose that can only come from the power of family
            tradition and the anointed call of God on their lives.<br>
        </p>
        <p>
            &nbsp;</p>
    </div>
}

