﻿@{
    ViewBag.Title = "Pastor Hagee";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@inherits WebViewPage<dynamic>

@section MainContent
{
    <img id="Img1" style="padding-bottom: 10px; padding-left: 10px; padding-right: 10px;
        float: right; padding-top: 10px" border="0" hspace="5" alt="Pastor Matthew Hagee"
        vspace="5" runat="server" src="~/Content/Images/PastorJohnHagee_resized.jpg"
        width="300" height="452" />
    <div>
        <div>
            <h1>
                PASTOR JOHN C. HAGEE
            </h1>
            <h2>
                Senior Pastor Cornerstone Church
            </h2>
        </div>
        <p>
            Pastor John C. Hagee is the founder and Senior Pastor of Cornerstone Church in San
            Antonio, Texas, a non-denominational evangelical church with more than <strong><em>20,000
                active members</em></strong>. Pastor Hagee is founder and President of John
            Hagee Ministries, which telecasts his national radio and television teachings throughout
            America and in <strong><em>249 nations worldwide</em></strong>.
        </p>
        <p>
            Pastor John Hagee received his theological training from Southwestern Assemblies
            of God University, his Bachelor of Arts degree from Trinity University in San Antonio,
            Texas and earned his Masters Degree from North Texas University.
        </p>
        <p>
            Pastor Hagee has received Honorary Doctorates from Oral Roberts University, Canada
            Christian College, and Netanya Academic College in Israel. He is the author of <strong>
                <em>33 major books</em></strong> including <strong><em>four on the New York Times Best
                    Seller’s List.</em></strong> Among his works are commentary study Bibles,
            novels and numerous devotionals. Pastor Hagee’s latest book entitled <strong><em>“The
                Power of the Prophetic Blessing”</em></strong> is scheduled for release by Worthy
            Publishing in late August of 2012.
        </p>
        <p>
            Over the years, John Hagee Ministries has given <strong><em>more than $69 million</em></strong>
            toward humanitarian causes in Israel. In 2006, Dr. Hagee founded, and is the National
            Chairman of <strong><em>Christians United For Israel</em></strong>, a grass roots
            national association through which every pro—Israel Christian ministry, para-church
            organization, or individual in America can speak and act with one voice in support
            of Israel in matters related to biblical issues. Dr. Hagee gains support for this
            worthy cause by conducting <strong><em>A Night to Honor Israel</em></strong> in
            every major city in America and by organizing an annual <strong><em>Washington D.C.-Israel
                Summit</em></strong> where CUFI delegates have the opportunity to meet the members
            of congress face to face on behalf of Israel. Christians United for Israel has grown
            to become the largest pro-Israel organization in the United States – with over <strong>
                <em>one million members</em></strong>-- and one of the leading Christian grassroots
            movements in the world.
        </p>
        <p>
            Pastor Hagee and his lovely wife Diana are blessed with five children and 12 grandchildren.
        </p>
    </div>
}