﻿<%@ Page Language="C#" MasterPageFile="~/Views/Shared/Site.Master" Inherits="System.Web.Mvc.ViewPage<Jhm.Web.UI.Models.HomeViewModel>" %>
<%@ Import Namespace="Jhm.Common.Utilities.HTMLHelpers" %>

<asp:Content ID="Content1" ContentPlaceHolderID="TitleContent" runat="server">
    Home Page
</asp:Content>
<asp:Content ContentPlaceHolderID="HeadContent" runat="server">
    <script type="text/javascript" src="<%: Url.Content("~/Content/js/RotatingBanner.js") %>"></script>
    <script type="text/javascript" src="<%: Url.Content("~/Content/js/jquery.cycle.all.min.js") %>"></script>
        
    <script src="<%:Url.Content("~/Scripts/jquery.prettyPhoto.js")%>" type="text/javascript"></script>
    <link href="<%:Url.Content("~/Content/css/prettyPhoto.css")%>" rel="stylesheet" />
    <script type="text/javascript">
        //jQuery.noConflict();
        jQuery(document).ready(function () {
            //jQuery('#slideshow').cycle({ fx: 'fade', timeout: 5000, speed: 1000 });
            jQuery('#slideshow .link').click(function () {
                var rel = jQuery(this).attr('rel');
                if (rel != null) {

                    if (jQuery(this).attr('target') == '_blank') {
                        window.open(rel, '_newtab');
                    }
                    else {
                        document.location.href = rel;
                    }
                }
            }).css('cursor', 'pointer');
            
            jQuery.fn.prettyPhoto({ social_tools: false, opacity: 0.6 });

            // Only show LiveMessage Popup if one is populated
             <%if(Model.ShouldShowLiveMessage) { %>

                jQuery.prettyPhoto.open('<%=Model.ActivePopup.PopupImagePath%>', '<%=Model.ActivePopup.PopupTitle%>', '<%=Model.ActivePopup.PopupText%>');
                jQuery('div.pp_fade').each(function () {
                    jQuery(this).click(function () {
                        location.href = '<%=Model.ActivePopup.TargetUrl%>';
                        });
                        this.style.cursor = 'pointer';
                });

                // Set the Description text color
                jQuery('p.pp_description').css('color', '#555');

                //Style the Close Text
                jQuery('a.pp_close').css('color', '#000000');
                jQuery('a.pp_close').css('font-size', 'x-small');
                jQuery('a.pp_close').css('right', '20px');
                jQuery('a.pp_close').css('text-indent', '0');


            <% } %>

        });
    </script>
    <%--<script type="text/javascript" src="<%: Url.Content("~/Content/niceforms-v2.0-plugin/niceforms.js") %>"></script>
    <link rel="stylesheet" href="<%: Url.Content("~/Content/niceforms-v2.0-plugin/niceforms-default.css") %>"
        type="text/css" media="all" />--%>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <div class="home-banner">
        <div class="pics" id="slideshow">
            <div id="navHolder">
                <div id="nav">
                </div>
                <p id="banner_title">
                </p>
                <p id="banner_subtitle">
                </p>
            </div>
            <% foreach (var bannerItem in Model.HomeBannerItems)
               { %>
                <%= Html.BannerItemImage(bannerItem)%>
            <%  } %>
            
            <%--<img usemap="#actionButtons" src="<%: Url.Content("~/Content/Images/Vada_JHM-org_banner.jpg") %>"
                width="900" height="400" name="Vada Mildred Hagee" alt="May 29, 1913  -  April 30, 2012" />
            <img class="link" src="<%: Url.Content("~/Content/Images/2min-JHMbanner.jpg") %>"
                width="900" height="400" name="God's Two Minute Warning for America" alt="Branson, Missouri - May 3 - 5, 2012"
                rel="http://jhmevents.org/ViewEvents.aspx?id=3" />
            <img class="link" src="<%: Url.Content("~/Content/Images/banner-salt.jpg") %>" width="900"
                height="400" name="Become a Salt Covenant Partner" alt="Learn how to make your contribution..."
                rel="<%: Url.Content("~/Donation/Salt_Covenant") %>" />
            <img class="link" src="<%: Url.Content("~/Content/Images/GETV-JHMbanner.jpg") %>"
                width="900" height="400" name="Internet Television" alt="Content wherever you want, whenever you want!"
                rel="http://www.getv.org" />
            <img src="<%: Url.Content("~/Content/Images/banner01.jpg") %>" width="900" height="400"
                name="Welcome to John Hagee Ministries" alt="Taking all the gospel to all the world and to all generations" />
            <img class="link" src="<%: Url.Content("~/Content/Images/JhmMagazine-HomeBanner.jpg") %>"
                width="900" height="400" name="JHM Digital Magazine" alt="Online source for the happenings at John Hagee Ministries!"
                rel="<%: Url.Action("JHMMagazine", "Resources") %>" />--%>
        </div>
        <%= Html.ExternalHtmlFor(Model.HomeBannerItems) %>
    </div>
</asp:Content>
