﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>From the desk of Pastor John Hagee</title>
    <style type="text/css">
        body
        {
            background-color: #000;
        }
        a
        {
            color: #C93;
        }
        img
        {
            border: none;
        }
        body, td, th
        {
            color: #000;
        }
    </style>
</head>
<body style="background-color: #3a3a3a">
    <table width="650" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <img src="<%IMAGES_PATH%>PropheticBlessing/PropheticBlessing_Header.jpg" alt="John Hagee Ministries"
                    width="650" border="0" />
            </td>
        </tr>
        <tr>
            <td align="center" bgcolor="#FFFFFF">
                <table width="620" border="0" cellspacing="0" cellpadding="0" style="font-family: Georgia, 'Times New Roman', Times, serif;
                    font-size: 10pt; line-height: 1.5em; margin: 10px;">
                    <tr>
                        <td>
                            <%CONTENT%>
                        </td>
                    </tr>
                </table>
                <table width="650" border="0" cellspacing="0" cellpadding="0" style="font-family: Georgia, 'Times New Roman', Times, serif;
                    font-size: 10pt; line-height: 1.5em;">
                    <tr>
                        <td>
                            <table border="0" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td align="left" valign="top" style="padding-left: 20px; width: 230px">
                                        <p>
                                            <img src="<%IMAGES_PATH%>PropheticBlessing/chest-left.jpg" alt="Vistual Treasure Chest"
                                                width="225" /></p>
                                    </td>
                                    <td align="left" valign="top" style="padding: 20px;">
                                        <h3 align="center">
                                            Here are the items of your Virtual Treasure Chest
                                        </h3>
                                        <h4>
                                            Click on each item to open:</h4>
                                        <ul>
                                            <li>
                                                <h5>
                                                    <strong><a href="http://media.jhm.org/PropheticBlessing/Book Blessing.wav">Audio download
                                                        of a Blessing recorded by Pastor John Hagee</a></strong>
                                                </h5>
                                            </li>
                                            <li>
                                                <h5>
                                                    <strong><a href="http://media.jhm.org/PropheticBlessing/Chapter1to3.pdf">PDF Download
                                                        of chapter 1, 2 &amp; 3 of The Power of the Prophetic Blessing</a></strong>
                                                </h5>
                                            </li>
                                            <li>
                                                <h5>
                                                    <strong><a href="http://media.jhm.org/PropheticBlessing/Interview.mp4">Exclusive video
                                                        Interview between Pastor John &amp; Pastor Matthew Hagee on how the blessing changed
                                                        the lives of all of the Hagee children (video download)</a></strong>
                                                </h5>
                                            </li>
                                            <li>
                                                <h5>
                                                    <strong><a href="http://media.jhm.org/PropheticBlessing/Personal Introduction.mp4">Pastor's
                                                        sneak preview of The Power of the Prophetic Blessing (video download)</a></strong>
                                                </h5>
                                            </li>
                                            <li>
                                                <h5>
                                                    <strong><a href="http://media.jhm.org/PropheticBlessing/Just_A_Closer_Walk_With_Thee.mp3">Audio music 
                                                                download of Just A Closer Walk With Thee by John Hagee</a></strong><br />
                                                </h5>
                                            </li>
                                            <li>
                                                <h5>
                                                    <strong><a href="http://media.jhm.org/PropheticBlessing/Power_Blessing_Card.pdf">PDF
                                                        Downloadable Blessing Card with a written blessing by Pastor Hagee to speak over
                                                        your family</a></strong><br />
                                                </h5>
                                            </li>
                                        </ul>
                                        <p>
                                            * Book ships this fall</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <!-- Spacer -->
        <tr style="height: 10px;">
            <td />
        </tr>
        <tr>
            <td>
                <a href="http://www.jhm.org">
                    <img src="<%IMAGES_PATH%>bottom-blue.png" alt="JHM.org" width="650" height="200"
                        border="0" /></a>
            </td>
        </tr>
    </table>
    <p align="center">
        <!--<a style="font-weight: bold; font-size: 12px; color: #ffffff; font-family: Arial;
            text-decoration: none;" href="#">Forward This Message</a> &nbsp; &nbsp; <span style="font-weight: bold;
                font-size: 12px; color: #ffffff; font-family: Arial;">| </span>&nbsp; &nbsp;
        <a style="font-weight: bold; font-size: 12px; color: #ffffff; font-family: Arial;
            text-decoration: none;" href="#">Unsubscribe</a> &nbsp; &nbsp; <span style="font-weight: bold;
                font-size: 12px; color: #ffffff; font-family: Arial;">| </span>&nbsp; &nbsp;
        <a style="font-weight: bold; font-size: 12px; color: #ffffff; font-family: Arial;
            text-decoration: none;" href="#">Privacy Policy</a> &nbsp; &nbsp; <span style="font-weight: bold;
                font-size: 12px; color: #ffffff; font-family: Arial;">| </span>&nbsp; &nbsp;
        <a style="font-weight: bold; font-size: 12px; color: #ffffff; font-family: Arial;
            text-decoration: none;" href="#">Contact Us</a>
        <br />
        <br />-->
        <span style="font-weight: bold; font-size: 11px; color: #ffffff; font-family: Arial;">
            DO NOT REPLY TO THIS E-MAIL - THIS E-MAIL WAS SENT FROM AN ACCOUNT THAT IS NOT MAINTAINED.</span>
        <br />
        <span style="font-weight: bold; font-size: 11px; color: #ffffff; font-family: Arial;">
            This e-mail was sent to the following e-mail address: <a href="<%EMAIL%>">
                <%EMAIL%></a></span></p>
</body>
</html>
