/* CSS Document */
#fancybox-title-over img { margin-right: 5px; }

.artboxWrap {
    background: #008bcb;
    float: left;
    height: 180px;
    margin: 0px 10px 10px 0px;
    padding: 10px;
    width: 170px;
}

.artboxWrap h2 {
    line-height: 100%;
    padding-top: 20px;
    text-align: center;
}

.artboxWrap h2 a {
    color: #FFF;
    text-decoration: none;
}



/* START Artist View Page */

#artistBio {
    -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, .2);
    background: #FFF;
    box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, .2);
    padding: 10px 10px 0px 10px;
    position: relative;
}

#artistBioL {
    float: left;
    width: 319px;
}

#thumbsWrap {
    background: #a4c2cc; /* Old browsers */
    background: -moz-linear-gradient(top, #a4c2cc 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a4c2cc), color-stop(100%, #ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #a4c2cc 0%, #ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: #a4c2cc; /* Old browsers */
    background: -moz-linear-gradient(top, #a4c2cc 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a4c2cc), color-stop(100%, #ffffff)); /* Chrome,Safari4+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a4c2cc', endColorstr='#ffffff', GradientType=0); /* IE6-9 */
    height: 271px;
    margin-top: 10px;
    padding: 5px;
    position: relative;	
}

#btnLeft {
    left: 5px;
    position: absolute;
    top: 105px;
}

#btnRight {
    position: absolute;
    right: 5px;
    top: 105px;
}

#photosListWrap {
    height: 169px;
    margin-left: 23px;
    overflow: hidden;
    white-space: nowrap;
    width: 259px;
}

#photosList {
    overflow: hidden;
    white-space: nowrap;
}

#photosList div { }

#photosList img { margin: 0px 9px 9px 0px; }

.email {
    bottom: 10px;
    margin-left: 10px;
    position: relative;
}

#artistBioR {
    float: right;
    width: 577px;
}

#artistBioR .topBtns {
    float: right;
    padding: 0px 0px 10px 10px;
    text-align: right;
}

#artistBio h1 {
    color: #0170b1;
    font-family: 'QuicksandLight', Arial, Helvetica, sans-serif;
    font-size: 47px;
    font-weight: normal;
    line-height: 100%;
    padding-bottom: 10px;
}

#artistBio h2 {
    color: #0170b1;
    font-family: 'QuicksandLight', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 100%;
    padding-bottom: 10px;
}

#bottomL {
    background: #FFF;
    float: left;
    min-height: 300px;
    padding-top: 15px;
    text-align: center;
    width: 446px;
}

#bottomL img {
    -webkit-box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, .8);
    box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, .8);
}

#bottomR {
    background: url('/Content/dm/images/bottom_bg.jpg') no-repeat;
    float: right;
    height: 300px;
    width: 446px;
}

#bottom .title {
    color: #FFF;
    float: left;
    font-family: 'QuicksandLight', Arial, Helvetica, sans-serif;
    font-size: 28px;
    height: 36px;
    line-height: 100%;
    padding: 5px 0px 0px 10px;
}

#songList { }

#songList ul {
    clear: both;
    padding: 10px;
}

#songList ul li { list-style: none; }

#songList ul li a {
    border-bottom: 1px solid #CCC;
    color: #081726;
    display: block;
    margin-bottom: 4px;
    padding: 0px 10px 4px 30px;
    text-decoration: none;
}

#songList ul li a.music { background: url('/Content/dm/images/icon_music.gif') no-repeat center left; }

#songList ul li a.movie { background: url('/Content/dm/images/icon_movie.gif') no-repeat center left; }

#songList ul li img {
    margin-right: 30px;
    position: relative;
    top: 8px;
}

.time {
    float: right;
    padding-top: 5px;
}
					
					