@charset "UTF-8";
/* CSS Document */


/* ---------- RESET CSS ----------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {  
	    margin:0; 
	    padding:0; 
	} 
	table { 
	    border-collapse:collapse; 
	    border-spacing:0; 
	} 
	fieldset,img {  
	    border:0; 
	} 
	address,caption,cite,code,dfn,em,strong,th,var { 
	    font-style:normal; 
	    font-weight:normal; 
	} 
	ol,ul { 
	    list-style:none; 
	} 
	caption,th { 
	    text-align:left; 
	} 
	h1,h2,h3,h4,h5,h6 { 
	    font-size:100%; 
	    font-weight:normal; 
	} 
	q:before,q:after { 
	    content:''; 
	} 
	abbr,acronym { border:0; 
	}
	a{outline: none;}
/* ---------- RESET CSS ----------------- */
/* START Clearfix */
/* slightly enhanced, universal clearfix hack */
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block;
			}
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
/* END Clearfix */