@import url("/content/dm/css/common_resetCss.css");
@import url("/content/dm/css/fonts/fonts.css");
@charset "UTF-8";

em {font-style:italic;}
strong {font-weight:bold;}
html{ font-size:100%; }
u {text-decoration:underline;}

body {
	font-family:'QuicksandBook', Century Gothic, Arial, Helvetica, sans-serif;
	font-size:14px;
	height:100%; 
	background:url('/content/dm/images/common_bg.jpg') no-repeat top center #081726;
	line-height:180%;
	color:#081726;
}

a {
	color:#005b96;
}

h1 {
	font-size:26px;
	line-height:100%;
	color:#0170b1;
	padding-bottom:4px;
}
	h1 a {
		text-decoration:none;
		color:#0170b1;
	}
h2 {
	font-size:17px;
	padding-bottom:10px;
}
h3 {
}



/* START ALL Common Elements --------------------------------------------------------------- */

/* START Common Header */
#bodyTopBarWrap {
	height:52px;
	background:url('/content/dm/images/topBar_bg.png') repeat-x;		
}
	#bodyTopBar {
		width:927px;
		margin:0px auto;
		padding-top:8px;
		position:relative;
	}
		#bodyTopBar input[type="text"] {
			height:19px;
			width:140px;
			background:url('/content/dm/images/newsletter_bg.png');
			border:1px solid black;
			margin:0px;
			padding:4px 8px;
			color:#736e73;
			position:absolute;
		}
		#bodyTopBar input[type="image"] {
			margin-top:4px;
			margin-left:170px;
		}
		#bodyTopBarR {
			float:right;
			width:200px;
			text-align:right;
		}
			#bodyTopBarR a.cart {
				text-decoration:none;
				color:#FFF;
				margin-right:10px;
				position:relative;
				top:-8px;
			}
			#bodyTopBarR img.cart {
				position:relative;
				top:-5px;
			}

#bodyMainWrap {
	width:927px;
	margin:0px auto;
	position:relative;
}
	#bodyNav {
		position:absolute;
		top:78px;
		width:100%;
		line-height:100%;
		font-size:22px;
	}
		#bodyNav ul li {
			float:left;
			text-shadow: -1px -1px #4f859c,-1px -1px #265567;
		}
			#bodyNav ul.navLeft {
				float:left;
				width:400px;
				white-space:nowrap;
			}
				#bodyNav ul.navLeft li {padding-right:50px;}
				
			#bodyNav ul.navRight {
				float:right;
				width:350px;
				white-space:nowrap;
			}
				#bodyNav ul.navRight li {padding-left:45px;}
		
		#bodyNav a {
			color:#000;
			text-decoration:none;
		}
	#bodyLogo {
		position:absolute;
		top:18px;
		left:342px;
	}
/* START End Common Header */

/* START Common Content Styles */
#bodyContentWrap {
	position:relative;
	top:192px;
	padding-bottom:192px;
}
	#bodyContent {
	}
		#bodyContent ul li {
			list-style:url('/content/dm/images/bullet_blue.png') outside;
			margin-left:30px;
		}
/* END Common Content Styles */

/* START Common Footer */
#bodyFooterWrap {
	height:179px;
	background:url('/content/dm/images/footer_bg.png') repeat-x;
	position:relative;
	z-index:100;
}
#bodyFooter {
    width:927px;
    margin:0px auto;
    padding-top:20px;
    color:#FFF;
}
#bodyFooter a {
    color:#FFF;
    text-decoration:none;
			
} 

#bodyFooter ul.bodyLeft {
    float:left;
    width:609px;
    white-space:nowrap;
}
#bodyFooter ul.bodyLeft li {
    padding-right:17px;
    float:left;
}
#bodyFooter ul.bodyRight {
    float:right;
    width:318px;
    white-space:nowrap;
}
#bodyFooter ul.bodyRight li {
    padding-left:12px;
    float:right;
}
#bodyFooter ul.bodyRight li img {
    padding-left:8px;
    position:relative;
    top:4px;
}
/* END Common Footer */
/* END ALL Common Elements --------------------------------------------------------------- */

/* START Shared Elements ----------------------------------------------------------------- */
#bottomWrap{
	width:1157px;
	height:328px;
	background:url('/content/dm/images/bottom_bg.png') no-repeat;
	position:relative;
	left:-115px;
	margin:15px 0px 40px 0px;
}
	#bottom {
		width:927px;
		margin:0px auto;
		padding-top:16px;
	}
	
#content {
	background:#FFF;
	-webkit-box-shadow:  0px 0px 12px 1px rgba(0, 0, 0, .2);
    -moz-box-shadow:  0px 0px 12px 1px rgba(0, 0, 0, .2);
    box-shadow:  0px 0px 12px 1px rgba(0, 0, 0, .2); 
	padding:30px;
}

.imgRight {
	float:right;
	padding:0px 0px 10px 10px;
}
/* END Shared Elements ------------------------------------------------------------------- */
.messages {
    padding: 10px;
}
.messages h4 {
    font-weight: bold;
}
.messages.error {
    background-color: rgb(241, 212, 211);
    border: 4px outset red;
}
.messages.status {
    background-color: rgb(209, 230, 235);
    border: 4px outset rgb(26, 73, 99);
    
}
.messages.warning {
    background-color: rgb(247, 244, 187);
    border: 4px outset rgb(220, 209, 4);
}
