/* CSS Document */
#left {
	width:50%;
	float:left;
	padding-top:10px;
    padding-left: 35px;
}
#right {
	width:36%;
	float:right;
	background:#a1cdd8;
	padding:10px 20px;
    margin-right: 25px;
}

#right input, #right textarea {
	width:98%;
	padding:1%;
}

#right input[type=submit]{
	height:30px;
}