﻿/* START Custom Scroll Bar CSS ---------------------------------------------------- */
/* 328 x 248 */

#mcs_container {
    height: 248px;
    position: relative;
    width: 328px;
}

#mcs_container .customScrollBox {
    height: 100%;
    overflow: hidden;
    position: relative;
}

#mcs_container .customScrollBox .container {
    float: left;
    position: relative;
    top: 0;
    width: 308px; /* -20 from parent */
}

#mcs_container .customScrollBox .content { clear: both; }

#mcs_container .dragger_container {
    -khtml-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background: #000;
    border-radius: 2px;
    cursor: pointer;
    cursor: s-resize;
    float: left;
    height: 173px; /* -75 from parent */
    margin: 40px 0px 0 10px;
    position: relative;
    right: 4px;
    width: 2px;
}

#mcs_container .dragger {
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #0085c4;
    border-radius: 4px;
    color: #666;
    cursor: pointer;
    height: 60px;
    line-height: 60px;
    margin-left: -1px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    width: 4px;
}

#mcs_container .dragger_pressed {
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #666;
    cursor: s-resize;
    height: 60px;
    line-height: 60px;
    margin-left: -1px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    width: 4px;
}

#mcs_container .scrollUpBtn, #mcs_container .scrollDownBtn {
    -khtml-opacity: 0.90;
    -moz-opacity: 0.90;
    cursor: pointer;
    display: inline-block;
    filter: alpha(opacity=90);
    height: 15px;
    margin-right: 0px;
    opacity: 0.90;
    position: absolute;
    right: 6px;
    text-decoration: none;
    width: 14px;
}

#mcs_container .scrollUpBtn {
    background: url('/content/dm/images/mcs_btnUp.png') center center no-repeat;
    top: 16px;
}

#mcs_container .scrollDownBtn {
    background: url('/content/dm/images/mcs_btnDown.png') center center no-repeat;
    bottom: 12px;
}

#mcs_container .scrollUpBtn:hover, #mcs_container .scrollDownBtn:hover {
    -khtml-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=100);
    opacity: 1;
}

#mcs_container .content {
    padding: 10px 0px 10px 10px;
    ;
}
/* END Custom Scroll Bar CSS ---------------------------------------------------- */
/* START Custom Scroll Bar 2 CSS ------------------------------------------------ */

#mcs_container2 {
    height: 248px;
    position: relative;
    width: 575px;
}

#mcs_container2 .customScrollBox {
    height: 100%;
    overflow: hidden;
    position: relative;
}

#mcs_container2 .customScrollBox .container {
    float: left;
    position: relative;
    top: 0;
    width: 555px; /* -20 from parent */
}

#mcs_container2 .customScrollBox .content { clear: both; }

#mcs_container2 .dragger_container {
    -khtml-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background: #000;
    border-radius: 2px;
    cursor: pointer;
    cursor: s-resize;
    float: left;
    height: 173px; /* -75 from parent */
    margin: 40px 0px 0 10px;
    position: relative;
    right: 4px;
    width: 2px;
}

#mcs_container2 .dragger {
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #0085c4;
    border-radius: 4px;
    color: #666;
    cursor: pointer;
    height: 60px;
    line-height: 60px;
    margin-left: -1px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    width: 4px;
}

#mcs_container2 .dragger_pressed {
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #666;
    cursor: s-resize;
    height: 60px;
    line-height: 60px;
    margin-left: -1px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    width: 4px;
}

#mcs_container2 .scrollUpBtn, #mcs_container2 .scrollDownBtn {
    -khtml-opacity: 0.90;
    -moz-opacity: 0.90;
    cursor: pointer;
    display: inline-block;
    filter: alpha(opacity=90);
    height: 15px;
    margin-right: 0px;
    opacity: 0.90;
    position: absolute;
    right: 6px;
    text-decoration: none;
    width: 14px;
}

#mcs_container2 .scrollUpBtn {
    background: url('/content/dm/images/mcs_btnUp.png') center center no-repeat;
    top: 16px;
}

#mcs_container2 .scrollDownBtn {
    background: url('/content/dm/images/mcs_btnDown.png') center center no-repeat;
    bottom: 12px;
}

#mcs_container2 .scrollUpBtn:hover, #mcs_container2 .scrollDownBtn:hover {
    -khtml-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=100);
    opacity: 1;
} 

/* END Custom Scroll Bar 2 CSS -------------------------------------------------- */