﻿.login-menu-wrapper {
     display: none;
}

#newsLetterSignUp {
    display: none;
}

#registrationGender {
    text-align: right;
    padding-right: 546px;
    padding-left: 50px !important;
}

#bodyContent .tabs {
    padding-left: 10px;
    padding-right: 10px;
}



#bodyContent .tabs ul li {
    list-style: none;
    margin-left: 4px;
}

#bodyContent .tab-content {
    border-right:1px solid #005b96;
	border-bottom:1px solid #005b96;
	border-left:1px solid #005b96;
	margin: 0 10px 0 10px;
	padding: 0 10px 0 10px;
	clear:both;
}

#bodyContent .tab-content h2 
{
    font-weight: bold;
    font-size: 24px;
    line-height: 100%;
    color: #0170B1;
    padding-bottom: 4px;
}

#bodyContent .tab-content label, #bodyContent .tab-content strong{
    font-weight: bold;
    color: #0170B1;
}

#bodyContent .tab-content p {
    font-weight: bold;
    margin-bottom: 10px;
}

#bodyContent .tab-content a {
    font-weight: bold;
    color: #02446c;
}

#bodyContent .tab-content .user-form-item {
    margin-right: 400px;
}

.personal-info {
    border-bottom: none;
}

.tab-content .login-password {
    padding-left: 128px;
}

.tab-content .myForm-field label {
    width: 200px;
}

.itemR h1 a {
    text-decoration: none;
    color: #0170B1;
}



/*
 * Helpers
 * ----------------------------------------------------------------------------
 */
	
.left {
	float: left;
}
.right {
	float: right;
}
	
.col-1, .col-2, .col-3, .col-spacer, .col-span {
  float: left;
  position: relative;
}
  
.align-right {
	text-align: right;
}

.ShoppingCart-CartItem-Description a {
    color: #005B96;
    font-weight: bold;
}
#bodyTopBarR 
{
    width: 400px;   
}

.DMButton {
    text-decoration: none;
}

#storeBox th.price, #storeBox th.qty, #storeBox th.total  
{
    text-align: left;
}

.cartLabel 
{
    padding-right: 10px;
}

.boxL
{
    width: 40%;
    float: left;
}

.boxL input
{
    width: 100%;
}
.boxR
{
    width: 40%;
    padding-right: 8%;
    float: right;
}
.boxR label
{
    font-weight: bold;
    color: #0170b1;
}
.boxR input
{
    width: 100%;
}

#storeBoxWrap label 
{
    padding-right: 10px;
}

.validation-summary-errors{
    background-color: rgb(207, 227, 234);
    border: 4px solid rgb(220, 27, 27);
    padding: 4px;
}

.validation-summary-errors span {
    font-weight: bold;
    color: rgb(231, 28, 28);
}


#bodyContent div.validation-summary-errors ul li 
{
    list-style: disc;
    list-style-type: disc;
}

#section-receipt
{
    background: #FFF;
    -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, .2);
    box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, .2);
}

#section-checkout .title
{
    font-size: 26px;
    line-height: 100%;
    color: #0170B1;
    padding-bottom: 4px;
    background: none;
}

#section-checkout
{
    padding: 10px;
}

#section-receipt .order-message {
    border-bottom: 2px solid #1b4156;
    padding-bottom: 10px;
}

#section-checkout .receiptTable {
    width: 100%;
    margin: 28px;
}
table.store {
    width: 100% !important;
}

table.store thead td {
    text-align: center;
    font-weight: bold;
    color: #0170B1;
    background-color: rgb(218, 237, 249);
    border-bottom: 1px solid #000;
}

table.store tbody td {
    padding: 4px;
}

.checkout-controls {
    float: right;
    margin-right: 10px;
}

.checkout-controls .easybutton {
    height: 30px;
}

.row-total .cost {
    font-weight: bold;
}

#songList ul li a.active {
    font-weight: bold;
    color: #0170B1;
    background: url('/Content/dm/images/player_btn_play2.png') no-repeat center left !important;
}

#songList ul li 
{
    margin-left: 0;
}


#songList ul li a {
    font-size: 12px;
    padding-left: 10px;
}