/* CSS Document */
#artistBoxWrap {
    -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, .2);
    border: 10px solid white;
    box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, .2);
    height: 377px;
    position: relative;
    width: 907px;
}

#artistBoxWrap #next {
    height: 44px;
    position: absolute;
    right: 307px;
    top: 160px;
    width: 41px;
    z-index: 100;
}

#artistBoxWrap #previous {
    height: 44px;
    left: 0px;
    position: absolute;
    top: 160px;
    width: 41px;
    z-index: 100;
}

#artistBoxWrap #dots {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background: #FFF;
    border-radius: 8px;
    height: 17px;
    left: 311px;
    padding: 4px 0px;
    position: absolute;
    top: 362px;
    z-index: 100;
}

#artistBoxWrap #dots li {
    background: url('/content/dm/images/artistBoxL_dot.png') no-repeat top center;
    cursor: pointer;
    float: left;
    height: 15px;
    list-style: none;
    padding: 0px 9px;
    width: 15px;
}

#artistBoxWrap #dots li.active { background: url('/content/dm/images/artistBoxL_dot_active.png') no-repeat top center; }

#artistBoxL {
    float: left;
    height: 377px;
    overflow: hidden;
    white-space: nowrap;
    width: 600px;
}

#artistBoxLSlider { width: 2000px; }

#artistBoxL li {
    float: left;
    list-style: none;
    margin: 0px;
    padding: 0px;
    z-index: 10;
}

#artistBoxR {
    background: url('/content/dm/images/artistBoxR_bg.gif') no-repeat;
    color: #FFF;
    float: right;
    font-size: 15px;
    height: 377px;
    overflow: hidden;
    position: relative;
    width: 307px;
}

#artistBoxRWrap { position: relative; }

#artistBoxRWrap div { height: 357px; }

#artistBoxRWrap div div { height: inherit; }

.artistR {
    height: 357px;
    padding: 10px;
    position: relative;
}

#artistBoxR h1 {
    color: #FFF;
    font-family: 'QuicksandLight', Arial, Helvetica, sans-serif;
    font-size: 47px;
    font-weight: normal;
    line-height: 100%;
    padding-bottom: 10px;						
}

#artistBoxR .social {
    background: url('/content/dm/images/artistBoxR_line.png') top center no-repeat;
    padding-top: 20px;
    position: absolute;
    top: 315px;
    width: 287px;
}

#artistBoxR .social img { margin-right: 10px; }

#artistBoxR .social .learnMore {
    float: right;
    margin-right: 0px;
}
					
					

#bottomL {
    background: url('/content/dm/images/bottomL_bg.png') no-repeat;
    float: left;
    height: 289px;
    position: relative;
    width: 580px;
}

#bottomL .title {
    color: #FFF;
    float: left;
    font-family: 'QuicksandLight', Arial, Helvetica, sans-serif;
    font-size: 28px;
    height: 36px;
    line-height: 100%;
    padding: 5px 0px 0px 10px;
}

#bottomL .buttons {
    color: #FFF;
    float: right;
    font-family: 'QuicksandLight', Arial, Helvetica, sans-serif;
    font-size: 20px;
    height: 34px;
    padding: 7px 10px 0px 0px;
    text-align: right;
    width: 269px;
}

#bottomL .buttons a.featuredActive {
    color: #717171;
    text-decoration: none;
}

#bottomL .buttons a {
    color: #FFF;
    text-decoration: none;
}

.bottomMedia {
    height: 230px;
    overflow: hidden;
    padding: 13px 0px 0px 10px;
    position: absolute;
    top: 41px;
    width: 575px;
}

.bottomMedia img {
    border: 0px;
    margin: 0px;
    padding: 0px 5px 0px 0px;
}

.bottomMedia a, img
{
    text-decoration: none;

}

#bottomR {
    background: url('/content/dm/images/bottomR_bg.png') no-repeat;
    float: right;
    height: 302px;
    width: 328px;
}

#bottomR .title {
    color: #FFF;
    float: left;
    font-family: 'QuicksandLight', Arial, Helvetica, sans-serif;
    font-size: 28px;
    height: 36px;
    line-height: 100%;
    padding: 5px 0px 0px 10px;
}

#bottomRContent {
    color: #000;
    height: 248px;
    margin-top: 41px;
    overflow: hidden;
    position: relative;
}
			
	
.socialItem {
    border-bottom: 1px solid #CCC;
    margin-bottom: 10px;
    padding: 0px 15px 10px 50px;
}

.facebook { background: url('/content/dm/images/social_facebook.jpg') left center no-repeat; }

.twitter { background: url('/content/dm/images/social_twitter.jpg') left center no-repeat; }

.date {
    font-size: 12px;
    font-style: oblique;
    line-height: 100%;
    text-align: right;
}


/*/* CSS Document !1!
#artistBoxWrap {
    -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, .2);
    border: 10px solid white;
    box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, .2);
    height: 377px;
    position: relative;
    width: 907px;
}

#artistBoxWrap #next {
    height: 44px;
    position: absolute;
    right: 307px;
    top: 160px;
    width: 41px;
    z-index: 100;
}

#artistBoxWrap #previous {
    height: 44px;
    left: 0px;
    position: absolute;
    top: 160px;
    width: 41px;
    z-index: 100;
}

#artistBoxWrap #dots {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background: #FFF;
    border-radius: 8px;
    height: 17px;
    left: 311px;
    padding: 4px 0px;
    position: absolute;
    top: 362px;
    z-index: 100;
}

#artistBoxWrap #dots li {
    background: url('/content/dm/images/artistBoxL_dot.png') no-repeat top center;
    cursor: pointer;
    float: left;
    height: 15px;
    list-style: none;
    padding: 0px 9px;
    width: 15px;
}

#artistBoxWrap #dots li.active { background: url('/content/dm/images/artistBoxL_dot_active.png') no-repeat top center; }

#artistBoxL {
    float: left;
    height: 377px;
    overflow: hidden;
    white-space: nowrap;
    width: 600px;
}

#artistBoxLSlider { width: 2000px; }

#artistBoxL li {
    float: left;
    list-style: none;
    margin: 0px;
    padding: 0px;
    z-index: 10;
}

#artistBoxR {
    background: url('/content/dm/images/artistBoxR_bg.gif') no-repeat;
    color: #FFF;
    float: right;
    font-size: 15px;
    height: 377px;
    overflow: hidden;
    position: relative;
    width: 307px;
}

#artistBoxRWrap { position: relative; }

#artistBoxRWrap div { height: 357px; }

#artistBoxRWrap div div { height: inherit; }

.artistR {
    height: 357px;
    padding: 10px;
    position: relative;
}

#artistBoxR h1 {
    color: #FFF;
    font-family: 'QuicksandLight', Arial, Helvetica, sans-serif;
    font-size: 47px;
    font-weight: normal;
    line-height: 100%;
    padding-bottom: 10px;						
}

#artistBoxR .social {
    background: url('/content/dm/images/artistBoxR_line.png') top center no-repeat;
    padding-top: 20px;
    position: absolute;
    top: 315px;
    width: 287px;
}

#artistBoxR .social img { margin-right: 10px; }

#artistBoxR .social .learnMore {
    float: right;
    margin-right: 0px;
}
					
					

#bottomL {
    background: url('/content/dm/images/bottomL_bg.png') no-repeat;
    float: left;
    height: 289px;
    position: relative;
    width: 580px;
}

#bottomL .title {
    color: #FFF;
    float: left;
    font-family: 'QuicksandLight', Arial, Helvetica, sans-serif;
    font-size: 28px;
    height: 36px;
    line-height: 100%;
    padding: 5px 0px 0px 10px;
}

#bottomL .buttons {
    color: #FFF;
    float: right;
    font-family: 'QuicksandLight', Arial, Helvetica, sans-serif;
    font-size: 20px;
    height: 34px;
    padding: 7px 10px 0px 0px;
    text-align: right;
    width: 269px;
}

#bottomL .buttons a.featuredActive {
    color: #717171;
    text-decoration: none;
}

#bottomL .buttons a {
    color: #FFF;
    text-decoration: none;
}

.bottomMedia {
    height: 238px;
    padding: 0px 0px 0px 5px;
    position: absolute;
    top: 41px;
    width: 575px;
}

.bottomMedia img {
    float: left;
    margin: 0px;
    padding: 10px 5px 0px 5px;
}

#bottomR {
    background: url('/content/dm/images/bottomR_bg.png') no-repeat;
    float: right;
    height: 302px;
    width: 328px;
}

#bottomR .title {
    color: #FFF;
    float: left;
    font-family: 'QuicksandLight', Arial, Helvetica, sans-serif;
    font-size: 28px;
    height: 36px;
    line-height: 100%;
    padding: 5px 0px 0px 10px;
}

#bottomRContent {
    color: #000;
    height: 248px;
    margin-top: 41px;
    overflow: hidden;
    position: relative;
}
			
	
/* START Custom Scroll Bar CSS ---------------------------------------------------- !1!
/* 328 x 248 !1!

#mcs_container {
    height: 248px;
    position: relative;
    width: 328px;
}

#mcs_container .customScrollBox {
    height: 100%;
    overflow: hidden;
    position: relative;
}

#mcs_container .customScrollBox .container {
    float: left;
    position: relative;
    top: 0;
    width: 308px; /* -20 from parent !1!
}

#mcs_container .customScrollBox .content { clear: both; }

#mcs_container .dragger_container {
    -khtml-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background: #000;
    border-radius: 2px;
    cursor: pointer;
    cursor: s-resize;
    float: left;
    height: 173px; /* -75 from parent !1!
    margin: 40px 0px 0 10px;
    position: relative;
    right: 4px;
    width: 2px;
}

#mcs_container .dragger {
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #0085c4;
    border-radius: 4px;
    color: #666;
    cursor: pointer;
    height: 60px;
    line-height: 60px;
    margin-left: -1px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    width: 4px;
}

#mcs_container .dragger_pressed {
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #666;
    cursor: s-resize;
    height: 60px;
    line-height: 60px;
    margin-left: -1px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    width: 4px;
}

#mcs_container .scrollUpBtn, #mcs_container .scrollDownBtn {
    -khtml-opacity: 0.90;
    -moz-opacity: 0.90;
    cursor: pointer;
    display: inline-block;
    filter: alpha(opacity=90);
    height: 15px;
    margin-right: 0px;
    opacity: 0.90;
    position: absolute;
    right: 6px;
    text-decoration: none;
    width: 14px;
}

#mcs_container .scrollUpBtn {
    background: url('/content/dm/images/mcs_btnUp.png') center center no-repeat;
    top: 16px;
}

#mcs_container .scrollDownBtn {
    background: url('/content/dm/images/mcs_btnDown.png') center center no-repeat;
    bottom: 12px;
}

#mcs_container .scrollUpBtn:hover, #mcs_container .scrollDownBtn:hover {
    -khtml-opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=100);
    opacity: 1;
}

#mcs_container .content {
    padding: 10px 0px 10px 10px;
    ;
}
/* END Custom Scroll Bar CSS ---------------------------------------------------- !1!

.socialItem {
    border-bottom: 1px solid #CCC;
    margin-bottom: 10px;
    padding: 0px 15px 10px 50px;
}

.facebook { background: url('/content/dm/images/social_facebook.jpg') left center no-repeat; }

.twitter { background: url('/content/dm/images/social_twitter.jpg') left center no-repeat; }

.date {
    font-size: 12px;
    font-style: oblique;
    line-height: 100%;
    text-align: right;
}*/