/* CSS Document */

#newsBoxWrap {
	background:#FFF;
	-webkit-box-shadow:  0px 0px 12px 1px rgba(0, 0, 0, .2);
    -moz-box-shadow:  0px 0px 12px 1px rgba(0, 0, 0, .2);
    box-shadow:  0px 0px 12px 1px rgba(0, 0, 0, .2); 
}
	#newsTitle {
		color:#FFF;
		font-size:28px;
		font-family:'QuicksandLight', Arial, Helvetica, sans-serif;
		line-height:100%;
		height:36px;
		padding:5px 0px 0px 10px;
		height:39px;
		background:url('/content/dm/images/title_bg.jpg') no-repeat;
	}
	
	#newsBox {
		padding:15px 20px;
	}
	

.newsItem {
	padding-bottom:20px;
	margin-bottom:20px;
    /*min-height: 290px;*/
	border-bottom:1px solid #009cd1;
}
	#newsBox h2 {
		padding:20px 0px 0px 0px;
		margin:0px;
		font-variant:small-caps;
		font-size:24px;
		color:#0170b1;
	}
	
	#newsBox h2 a{
		text-decoration:none;
	}
	
	.readMore {
		text-align:right;
		padding-top:10px;
	}
	
	.social {
		float:left;
		text-align:left;
	}
	.socialView {
		text-align:center;
		padding-top:20px;
	}
	.subTitle {
		font-weight:bold;
		padding-bottom:10px;
	}
	.postedBy {
		font-size:12px;
		font-style:italic;
		padding:0px;
		margin:0px;
	}
	
	.newsPhoto {
		float:left;
		margin:10px 20px 10px 0px;
		-webkit-box-shadow:  3px 3px 4px 1px rgba(0, 0, 0, .8);
        box-shadow:  3px 3px 4px 1px rgba(0, 0, 0, .8);
	}
	
	h1.view {
		font-variant:small-caps;
		font-size:36px;
	}
	
	#comments {
		padding-top:10px;
		margin-top:20px;
		border-top:1px solid #009cd1;
	}
		#comments h2 {
			margin:0px;
			padding:0px;
			font-weight:normal;
			
		}
	h2 {
		font-weight:bold;
	}