/* CSS Document */
#pressBoxWrap {
	background:#FFF;
	-webkit-box-shadow:  0px 0px 12px 1px rgba(0, 0, 0, .2);
    -moz-box-shadow:  0px 0px 12px 1px rgba(0, 0, 0, .2);
    box-shadow:  0px 0px 12px 1px rgba(0, 0, 0, .2); 
	min-height:400px;
}
	#pressTitle {
		color:#FFF;
		font-size:28px;
		font-family:'QuicksandLight', Arial, Helvetica, sans-serif;
		line-height:100%;
		height:36px;
		padding:5px 0px 0px 10px;
		height:39px;
		background:url('/content/dm/images/title_bg.jpg') no-repeat;
	}
	
	#pressBox {
		padding:15px 20px;
	}


.pressItem {
	width:266px;
	height:176px;
	float:left;
	padding:0px 20px 20px 0px;
	position:relative;
}
.pressItemBtns {
	position:absolute;
	bottom:9px;
	left:1px;
}
	#pressBox h2 {
		padding:20px 0px 0px 0px;
		margin:0px;
		font-variant:small-caps;
		font-size:24px;
		color:#0170b1;
	}
	
	#pressBox h2 a{
		text-decoration:none;
	}

	.pressPhoto {
		float:left;
		margin:10px 20px 10px 0px;
		-webkit-box-shadow:  3px 3px 4px 1px rgba(0, 0, 0, .8);
        box-shadow:  3px 3px 4px 1px rgba(0, 0, 0, .8);
	}
	.viewKit {
		text-align:right;
		padding-top:10px;
	}


h1.view {
		font-variant:small-caps;
		font-size:36px;
	}

div.pressItemBtns a {
    text-decoration: none;
    float: left;
}