/* CSS Document */
/* START Common to all Store Pages ------------------------------------------------------- */
#storeBoxWrap
{
    background: #FFF;
    -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, .2);
    box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, .2);
}
#storeTitle
{
    color: #FFF;
    font-size: 28px;
    font-family: 'QuicksandLight' , Arial, Helvetica, sans-serif;
    line-height: 100%;
    height: 36px;
    padding: 5px 0px 0px 10px;
    height: 39px;
    background: url('/content/dm/images/title_bg.jpg') no-repeat;
}

#storeBox
{
    padding: 10px;
}

.albumShadow
{
    -webkit-box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, .8);
    box-shadow: 3px 3px 4px 1px rgba(0, 0, 0, .8);
}

th
{
    text-align: center;
    font-weight: bold;
    color: #0170b1;
}

#storeBoxWrap label
{
    font-weight: bold;
    color: #0170b1;
}
#storeBoxWrap h2
{
    color: #0170b1;
}

#boxL
{
    width: 40%;
    float: left;
}

#boxL input
{
    width: 100%;
}
#boxR
{
    width: 40%;
    padding-right: 8%;
    float: right;
}
#boxR label
{
    font-weight: bold;
    color: #0170b1;
}
#boxR input
{
    width: 100%;
}

ul#tabnav
{
    text-align: left;
    margin: 1em 0 0 0;
    border-bottom: 1px solid #005b96;
    list-style-type: none;
    line-height: 112%;
    padding: 3px 10px 3px 10px; /* THIRD number must change with respect to padding-top (X) below */
}

ul#tabnav li
{
    display: inline;
}

ul#tabnav a.active
{
    /* settings for selected tab link */
    background-color: #fff; /* set selected tab background color as desired */
    color: #000; /* set selected tab link color as desired */
    position: relative;
    top: 1px;
    padding-top: 4px; /* must change with respect to padding (X) above and below */
}

ul#tabnav li a
{
    /* settings for all tab links */
    padding: 3px 4px; /* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */
    border: 1px solid #005b96; /* set border COLOR as desired; usually matches border color specified in #tabnav */
    background-color: #0089c9; /* set unselected tab background color as desired */
    color: #FFF; /* set unselected tab link color as desired */
    margin-right: 0px; /* set additional spacing between tabs as desired */
    text-decoration: none;
    border-bottom: none;
}

ul#tabnav a:hover
{
    /* settings for hover effect */
    background: #fff;
    color: #000;
}
#storeBoxSub
{
    border-right: 1px solid #005b96;
    border-bottom: 1px solid #005b96;
    border-left: 1px solid #005b96;
    padding: 10px;
    clear: both;
}
/* END Common to all Store Pages --------------------------------------------------------- */
/* START Browse Page (index.html) ---------------------------------------------------------- */
.item
{
    padding: 11px 0px 20px 0px;
    border-bottom: 1px solid #dbdada;
}
.itemL
{
    text-align: center;
    float: left;
    width: 223px;
}

.itemR
{
    float: right;
    width: 640px;
    height: 197px;
    position: relative;
    padding-right: 10px;
}

.itemR .inStock
{
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.itemR .iTunes
{
    position: absolute;
    bottom: 0px;
    left: 100px;
}
.itemR .addToCart
{
    position: absolute;
    bottom: 0px;
    right: 10px;
    height: 22px;
}
.itemR .typeSelect
{
    height: 22px;
    margin-right: 8px;
    float: left;
}
/* END Browse Page (index.html) ------------------------------------------------------------ */
/* START View Page (view.html) ------------------------------------------------------------- */
#viewWrap
{
    padding-top: 10px;
}
#viewL
{
    width: 254px;
    float: left;
    text-align: center;
}
#viewR
{
    width: 662px;
    float: right;
    padding-right: 10px;
}

#viewR .addToCart {
    position: absolute;
    bottom: 0px;
    right: 10px;
    height: 22px;
}

#viewR .typeSelect {
    height: 22px;
    margin-right: 8px;
    float: left;
}


.buyTrack
{
    float: right;
}

#jp_container_1
{
    position: relative;
}
#playerControls
{
    position: absolute;
    top: -25px;
    left: 100px;
}
.jp-playlist ul li
{
    padding-bottom: 8px;
    list-style: none;
}
/* END View Page (view.html) --------------------------------------------------------------- */
/* START Cart Page (cart.html) ------------------------------------------------------------- */
.cartLabel
{
    text-align: right;
    font-weight: bold;
    color: #0170b1;
}
#promo
{
    position: relative;
    width: 300px;
    top: -10px;
}

/* END Cart Page (cart.html) --------------------------------------------------------------- */
/* START Cart Page (cart_login.html) ------------------------------------------------------- */


/* END Cart Page (cart_login.html) ----------------------------------------------------------- */
/* START Cart Address Page (cart_1_address.html) --------------------------------------------- */
table tr td label
{
    float: right;
}
/* END Cart Address Page (cart_1_address.html) --------------------------------------------- */
