﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title></title>
        <style type="text/css">
            body {
                background-color: #FFF;
                margin-bottom: 0px;
                margin-left: 0px;
                margin-right: 0px;
                margin-top: 0px;
            }

            a { color: #C93; }

            img { border: none; }

            body, td, th { color: #000; }

            h1 {
                color: #0076af;
                font-size: 15pt;
            }

            a {
                color: #0076af;
                text-decoration: none;
            }

            a:hover { text-decoration: underline; }

            .blue { color: #0076af; }

            .bold { font-weight: bold; }
        </style>
    </head>
    <body bgcolor="#FFFFFF">
        <table width="650" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    <img src="<%IMAGES_PATH%>Difference_header.jpg" width="650" height="132" alt="Difference Media" />
                </td>
            </tr>
            <tr>
                <td align="center" bgcolor="#FFF">
                    <table width="540" border="0" cellspacing="0" cellpadding="0" style="font-family: Arial, Helvetica, sans-serif; font-size: 12pt; line-height: 1.5em; margin: 10px;">
                        <tr>
                            <td>
                                <h1>Thank You for contacting us.</h1>
                                <p>
                                Dear
                                <%NAME%>,</p>
                                <p>
                                    Below is all that we received from you:
                                </p>
                                <p><b>Name: </b><%NAME%></p>
                                <p><b>Phone: </b><%PHONE%></p>
                                <p><b>Message: </b><%MESSAGE%></p>
                            </td>
                        </tr>
                    </table>
                    <p>
                        <a href="<%WEBSITE_URL%>">
                            <img src="<%IMAGES_PATH%>Difference_footer.jpg" width="650" />
                        </a>
                        <br />
                        <span style="font-weight: bold; font-size: 12px; color: #000000; font-family: Arial;">
                            This e-mail was sent to the following e-mail address: <a href="<%EMAIL%>">
                                                                                      <%EMAIL%></a> </span>
                    </p>
                </td>
            </tr>
        </table>
    </body>
</html>
