﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Difference Media Receipt Email</title>
    <style type="text/css">
        body
        {
            background-color: #FFF;
            margin-left: 0px;
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
            font-family: Arial, Helvetica, sans-serif;
        }
        a
        {
            color: #C93;
        }
        img
        {
            border: none;
        }
        body, td, th
        {
            color: #000;
        }
        h1
        {
            font-size: 18pt;
            color: #0076af;
        }
        h2
        {
            text-align: left;
            font-size: 20px;
            background-color: #d9ebf3;
            text-indent: 10px;
            color: #00518b;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        a
        {
            color: #0076af;
            text-decoration: none;
        }
        a:hover
        {
            text-decoration: underline;
        }
        .blue
        {
            color: #0076af;
            font-weight: bold;
        }
        .black
        {
            color: #000;
            font-weight: bold;
        }
        p
        {
            font-size: 14px;
            line-height: 19px;
            padding-left: 15px;
        }
        h3
        {
            text-indent: 15px;
            font-size: 18px;
            color: #0076af;
            line-height: 1px;
        }
        #order th
        {
            color: #0076af;
            text-indent: 16px;
        }
        #order td
        {
            text-indent: 16px;
        }
        .rightborder
        {
            border-right: 2px dashed #0076af;
        }
        .bottomborder
        {
            border-bottom: 2px dashed #0076af;
        }
        .topborder
        {
            border-top: 2px dashed #0076af;
        }
        b
        {
            font-size: 18px;
        }
        .row-subtotal td {
            background-color: #d9ebf3;
        }
        
        table tr.row-subtotal:first-child {
            border-top: 2px dashed #0076af;
            display: none;
        }
    </style>
</head>
<body bgcolor="#FFFFFF">
    <table width="650" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <img src="<%IMAGES_PATH%>Difference_header.jpg" width="661" height="132" align=""
                    alt="John Hagee Ministries" />
            </td>
        </tr>
        <tr>
            <td align="center" bgcolor="#FFF">
                <table width="600" border="0" cellspacing="0" cellpadding="0" style="font-family: Arial, Helvetica, sans-serif;
                    font-size: 12pt; line-height: 1.5em; margin: 10px;">
                    <tr>
                        <td>
                            <h1>
                                Thank you for your purchase!</h1>
                            <p>
                                Your order has been processed and approved.<br />
                                <span class="blue">Transaction Number: </span><%ApprovalCode%><br />
                            <span class="blue">Order Date:</span> <%OrderDate%>
                            </p>
                            <div id="order">
                                <table border="0" width="650" cellpadding="4" cellspacing="0">
                                    <tr>
                                        <th colspan="2">
                                            <h2>Order Details</h2>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th class="rightborder" align="left" style="width:280px">
                                            Billing Info:
                                        </th>
                                        <th align="left">
                                            Shipping Info:
                                        </th>
                                    </tr>
                                    <tr align="CENTER">
                                        <td class="rightborder" align="left" style="padding:10px"><%BillingInfo%></td>
                                        <td align="left" style="padding:10px">
                                            <%ShippingInfo%>
                                            <br/>
                                            <strong>Shipping Method:</strong>
                                            <%ShippingMethod%>
                                        </td>
                                    </tr>
                                </table>
                                <table border="0" width="650" cellpadding="4" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th colspan="4" align="right" style="padding:10px">
                                                <h2>Payment Information</h2>
                                            </th>
                                        </tr>
                                        <tr align="CENTER">
                                            <td height="24" align="left" class="bottomborder">
                                                <h3>Payment Type</h3>
                                            </td>
                                            <td height="24" style="width:160px;" align="right" class="bottomborder">
                                                <h3>Number</h3>
                                            </td>
                                            <td height="24" style="width:10px;" align="right" class="bottomborder">
                                                &nbsp;
                                            </td>
                                            <td height="24" style="width:140px;" align="right" class="bottomborder">
                                                <h3>Charge Amount</h3>
                                            </td>
                                        </tr>
                                    </thead>
                                    <%PaymentTableBody%>
                                </table>
                                <p>**This transaction will appear on your bill as: <%CompanyCommerceDescriptor%></p>
                                <table border="0" width="650" cellpadding="4" cellspacing="0">
                                    <tr>
                                        <th colspan="4" align="right" style="padding:10px">
                                            <h2>
                                                Checkout</h2>
                                        </th>
                                    </tr>
                                    <tr align="CENTER">
                                        <td height="24" align="left" class="bottomborder">
                                            <h3>Products</h3>
                                        </td>
                                        <td height="24" style="width:60px;" align="right" class="bottomborder">
                                            <h3>Qty.</h3>
                                        </td>
                                        <td height="24" style="width:110px;" align="right" class="bottomborder">
                                            <h3>Price</h3>
                                        </td>
                                        <td height="24" style="width:140px;" align="right" class="bottomborder">
                                            <h3>Total</h3>
                                        </td>
                                    </tr>
                                    <%ProductsTableBody%>
                                    <%DiscountRows%>
                                    <tr class="row-subtotal" align="CENTER">
                                        <td height="24" align="left" >
                                            &nbsp;
                                        </td>
                                        <td height="24" align="left" >
                                            &nbsp;
                                        </td>
                                        <td height="24" align="right">
                                            <h3>Subtotal:</h3>
                                        </td>
                                        <td height="24" align="right">
                                            <h3><span class="black"><%CartSubtotal%></span></h3>
                                        </td>
                                    </tr>
                                    <tr class="row-subtotal" align="CENTER">
                                        <td height="24" align="left">
                                            &nbsp;
                                        </td>
                                        <td height="24" align="left">
                                            &nbsp;
                                        </td>
                                        <td height="24" align="right">
                                            <h3>Shipping:</h3>
                                        </td>
                                        <td height="24" align="right">
                                            <h3><span class="black"><%OrderShippingCost%></span></h3>
                                        </td>
                                    </tr>
                                    <tr class="row-subtotal" align="CENTER">
                                        <td height="24" align="left">
                                            &nbsp;
                                        </td>
                                        <td height="24" align="left">
                                            &nbsp;
                                        </td>
                                        <td height="24" align="right">
                                            <h3>Tax:</h3>
                                        </td>
                                        <td height="24" align="right">
                                            <h3><span class="black"><%OrderTaxCost%></span></h3>
                                        </td>
                                    </tr>
                                </table>
                                <table border="0" width="650" cellpadding="0" cellspacing="3">
                                    <tr align="CENTER">
                                        <td height="24" align="left">
                                            &nbsp;
                                        </td>
                                        <td height="24" align="left">
                                            &nbsp;
                                        </td>
                                        <td height="24" style="width:110px;" align="right">
                                            <h3>Total:</h3>
                                        </td>
                                        <td height="24" style="width:140px;" align="right">
                                            <h1><span class="black"><%OrderTotal%></span></h1>
                                        </td>
                                    </tr>
                                </table>
                                <p style="text-align:center;">
                                    <a href="<%WEBSITE_URL%>">
                                        <img src="<%IMAGES_PATH%>Difference_footer.jpg" width="650" />
                                    </a>
                                    <br />
                                    <span style="font-weight: bold; font-size: 12px; color: #000000; font-family: Arial;">
                                        This e-mail was sent to the following e-mail address: <a href="<%EMAIL%>">
                                            <%EMAIL%></a> </span>
                                </p>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
