﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>From the desk of Pastor John Hagee</title>
    <style type="text/css">
        body
        {
            background-color: #0D3456;
            margin-left: 0px;
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
        }

        a
        {
            color: #C93;
        }

        img
        {
            border: none;
        }

        body, td, th
        {
            color: #000;
        }
    </style>
</head>
<body>
    <table width="650" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <img src="<%IMAGES_PATH%>ContactUs-banner.jpg" width="650" height="198" alt="Thank You for your Request" />
            </td>
        </tr>
        <tr>
            <td align="center" bgcolor="#FFFFFF">
                <table width="620" border="0" cellspacing="0" cellpadding="0" style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: 10pt; line-height: 1.5em; margin: 10px;">
                    <tr>
                        <td align="left" valign="top">
                            <p>
                                Dear
                                <%FIRST_NAME%>,
                            </p>
                            <p>Here is what we recived from you,</p>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="24%" align="right" valign="top">
                                        <strong>Form Name:</strong>
                                    </td>
                                    <td width="2%">&nbsp;
                                    </td>
                                    <td width="74%" align="left" valign="top">Contact Us
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right" valign="top">
                                        <strong>First Name:</strong>
                                    </td>
                                    <td>&nbsp;
                                    </td>
                                    <td align="left" valign="top"><%FIRST_NAME%>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right" valign="top">
                                        <strong>Last Name:</strong>
                                    </td>
                                    <td>&nbsp;
                                    </td>
                                    <td align="left" valign="top"><%LAST_NAME%>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right" valign="top">
                                        <strong>Address 1:</strong>
                                    </td>
                                    <td>&nbsp;
                                    </td>
                                    <td align="left" valign="top"><%ADDRESS%>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right" valign="top">
                                        <strong>City:</strong>
                                    </td>
                                    <td>&nbsp;
                                    </td>
                                    <td align="left" valign="top"><%CITY%>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right" valign="top">
                                        <strong>State/Province: </strong>
                                    </td>
                                    <td>&nbsp;
                                    </td>
                                    <td align="left" valign="top"><%STATE%>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right" valign="top">
                                        <strong>Zip:</strong>
                                    </td>
                                    <td>&nbsp;
                                    </td>
                                    <td align="left" valign="top"><%ZIP%>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right" valign="top">
                                        <strong>Country:</strong>
                                    </td>
                                    <td>&nbsp;
                                    </td>
                                    <td align="left" valign="top"><%COUNTRY%>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right" valign="top">
                                        <strong>Phone:</strong>
                                    </td>
                                    <td>&nbsp;
                                    </td>
                                    <td align="left" valign="top"><%PHONE%>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right" valign="top">
                                        <strong>Email Address:</strong>
                                    </td>
                                    <td>&nbsp;
                                    </td>
                                    <td align="left" valign="top"><%EMAIL%>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right" valign="top">
                                        <strong>Comments:</strong>
                                    </td>
                                    <td>&nbsp;
                                    </td>
                                    <td align="left" valign="top"><%MESSAGE%></td>
                                </tr>
                            </table>
                            <p>Thank you for contacting John Hagee Ministries,</p>
                            <p>One of our representatives will be in touch with you shortly.</p>
                            <p>
                                Due to the volume of emails received most will be answered in 48-72 hours. 
                                Please allow 5-7 days for theological questions or scripture references.
                            </p>
                            <p>
                                <em>Thank you,<br />
                                    John Hagee Ministries</em>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
        <!-- Spacer -->
        <tr style="height: 10px;">
            <td />
        </tr>
        <tr>
            <td>
                <a href="http://www.jhm.org">
                    <img src="<%IMAGES_PATH%>bottom-gray.png" alt="JHM.org" width="650" height="200"
                        border="0" />
                </a>
            </td>
        </tr>
    </table>
    <p align="center">
        <!--<a style="font-weight: bold; font-size: 12px; color: #ffffff; font-family: Arial;
            text-decoration: none;" href="#">Forward This Message</a> &nbsp; &nbsp; <span style="font-weight: bold;
                font-size: 12px; color: #ffffff; font-family: Arial;">| </span>&nbsp; &nbsp;
        <a style="font-weight: bold; font-size: 12px; color: #ffffff; font-family: Arial;
            text-decoration: none;" href="#">Unsubscribe</a> &nbsp; &nbsp; <span style="font-weight: bold;
                font-size: 12px; color: #ffffff; font-family: Arial;">| </span>&nbsp; &nbsp;
        <a style="font-weight: bold; font-size: 12px; color: #ffffff; font-family: Arial;
            text-decoration: none;" href="#">Privacy Policy</a> &nbsp; &nbsp; <span style="font-weight: bold;
                font-size: 12px; color: #ffffff; font-family: Arial;">| </span>&nbsp; &nbsp;
        <a style="font-weight: bold; font-size: 12px; color: #ffffff; font-family: Arial;
            text-decoration: none;" href="#">Contact Us</a>
        <br />
        <br />-->
        <span style="font-weight: bold; font-size: 11px; color: #ffffff; font-family: Arial;">DO NOT REPLY TO THIS E-MAIL - THIS E-MAIL WAS SENT FROM AN ACCOUNT THAT IS NOT MAINTAINED.</span>
        <br />
        <span style="font-weight: bold; font-size: 11px; color: #ffffff; font-family: Arial;">This e-mail was sent to the following e-mail address: <a href="mailto:<%EMAIL%>"><%EMAIL%>
        </a></span>
    </p>
</body>
</html>
