﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>From the desk of Pastor John Hagee</title>
    <style type="text/css">
        body
        {
            background-color: #000;
        }
        a
        {
            color: #C93;
        }
        img
        {
            border: none;
        }
        body, td, th
        {
            color: #000;
        }
    </style>
</head>
<body style="background-color:#3a3a3a">
    <table width="650" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <img src="<%IMAGES_PATH%>generic-header.jpg" alt="John Hagee Ministries" width="650"
                    height="178" border="0" />
            </td>
        </tr>
        <tr>
            <td align="center" bgcolor="#FFFFFF">
                <table width="620" border="0" cellspacing="0" cellpadding="0" style="font-family: Georgia, 'Times New Roman', Times, serif;
                    font-size: 10pt; line-height: 1.5em; margin: 10px;">
                    <tr>
                        <td>
                            <%CONTENT%>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <!-- Spacer -->
        <tr style="height: 10px;">
            <td />
        </tr>
        <tr>
            <td>
                <a href="http://www.jhm.org">
                    <img src="<%IMAGES_PATH%>bottom-blue.png" alt="JHM.org" width="650" height="200"
                        border="0" /></a>
            </td>
        </tr>
    </table>
    <p align="center">
        <!--<a style="font-weight: bold; font-size: 12px; color: #ffffff; font-family: Arial;
            text-decoration: none;" href="#">Forward This Message</a> &nbsp; &nbsp; <span style="font-weight: bold;
                font-size: 12px; color: #ffffff; font-family: Arial;">| </span>&nbsp; &nbsp;
        <a style="font-weight: bold; font-size: 12px; color: #ffffff; font-family: Arial;
            text-decoration: none;" href="#">Unsubscribe</a> &nbsp; &nbsp; <span style="font-weight: bold;
                font-size: 12px; color: #ffffff; font-family: Arial;">| </span>&nbsp; &nbsp;
        <a style="font-weight: bold; font-size: 12px; color: #ffffff; font-family: Arial;
            text-decoration: none;" href="#">Privacy Policy</a> &nbsp; &nbsp; <span style="font-weight: bold;
                font-size: 12px; color: #ffffff; font-family: Arial;">| </span>&nbsp; &nbsp;
        <a style="font-weight: bold; font-size: 12px; color: #ffffff; font-family: Arial;
            text-decoration: none;" href="#">Contact Us</a>
        <br />
        <br />-->
        <span style="font-weight: bold; font-size: 11px; color: #ffffff; font-family: Arial;">
            DO NOT REPLY TO THIS E-MAIL - THIS E-MAIL WAS SENT FROM AN ACCOUNT THAT IS NOT MAINTAINED.</span>
        <br />
        <span style="font-weight: bold; font-size: 11px; color: #ffffff; font-family: Arial;">
            This e-mail was sent to the following e-mail address: <a href="<%EMAIL%>">
                <%EMAIL%></a></span></p>
</body>
</html>
