﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>From the desk of Pastor John Hagee</title>
    <style type="text/css">
        body
        {
            background-color: #135876;
            margin-left: 0px;
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
        }
        a
        {
            color: #C93;
        }
        img
        {
            border: none;
        }
        body, td, th
        {
            color: #000;
        }
    </style>
</head>
<body>
    <table width="650" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <img src="<%IMAGES_PATH%>prayer-header.jpg" width="650" height="181" alt="Prayer Request" />
            </td>
        </tr>
        <tr>
            <td align="center" bgcolor="#FFFFFF">
                <table width="620" border="0" cellspacing="0" cellpadding="0" style="font-family: Georgia, 'Times New Roman', Times, serif;
                    font-size: 10pt; line-height: 1.5em; margin: 10px;">
                    <tr>
                        <td align="left" valign="top">
                            <p>
                                Dear <%FIRST_NAME%>,<br />
                                <br />
                                Thank you for your prayer request and we will have a member of our Prayer Department
                                pray about your request shortly. Remember that James 5:16 says, 'The earnest prayer
                                of a righteous man has great power and wonderful results.'</p>
                            <p>
                                The volume of e-mail we receive does not allow us to respond immediately to each message
                                personally. If you have any questions please visit our web site at http://www.jhm.org.</p>
                            <p>
                                You are welcome to call JHM's prayer line anytime at (210) 491-5100. You may call
                                our business office at 1 (800) 854-9899. The business office is open Monday through
                                Friday, 8:00 AM to 5:00 PM, Central time. Of course, you can always write to us
                                at:</p>
                            <p>
                                P.O. Box 1400 San Antonio Texas 78295-1400</p>
                            <p>
                                <em>God bless you,<br />
                                    The JHM Team</em></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr style="height: 10px;">
            <td />
        </tr>
        <tr>
            <td>
                <a href="http://www.jhm.org">
                    <img src="<%IMAGES_PATH%>bottom-gray.png" alt="JHM.org" width="650" height="200" border="0" /></a>
            </td>
        </tr>
    </table>
    <p align="center">
        <!--<a style="font-weight: bold; font-size: 12px; color: #ffffff; font-family: Arial;
            text-decoration: none;" href="#">Forward This Message</a> &nbsp; &nbsp; <span style="font-weight: bold;
                font-size: 12px; color: #ffffff; font-family: Arial;">| </span>&nbsp; &nbsp;
        <a style="font-weight: bold; font-size: 12px; color: #ffffff; font-family: Arial;
            text-decoration: none;" href="#">Unsubscribe</a> &nbsp; &nbsp; <span style="font-weight: bold;
                font-size: 12px; color: #ffffff; font-family: Arial;">| </span>&nbsp; &nbsp;
        <a style="font-weight: bold; font-size: 12px; color: #ffffff; font-family: Arial;
            text-decoration: none;" href="#">Privacy Policy</a> &nbsp; &nbsp; <span style="font-weight: bold;
                font-size: 12px; color: #ffffff; font-family: Arial;">| </span>&nbsp; &nbsp;
        <a style="font-weight: bold; font-size: 12px; color: #ffffff; font-family: Arial;
            text-decoration: none;" href="#">Contact Us</a>
        <br />
        <br />-->
        <span style="font-weight: bold; font-size: 11px; color: #ffffff; font-family: Arial;">
            DO NOT REPLY TO THIS E-MAIL - THIS E-MAIL WAS SENT FROM AN ACCOUNT THAT IS NOT MAINTAINED.</span>
        <br />
        <span style="font-weight: bold; font-size: 11px; color: #ffffff; font-family: Arial;">
            This e-mail was sent to the following e-mail address: <a href="mailto:<%EMAIL%>">
                <%EMAIL%></a></span></p>
</body>
</html>
