﻿@model Jhm.Web.Core.Models.Modules.ECommerce.CartViewModel

@{
    var CompanyCultureFormat = ViewBag.CompanyCultureFormat;
}

<tbody>
    <tr style="color:#AAA">
        <td>SUBTOTAL:</td>
        <td class="cartSubtotal">@Model.FormatWithCompanyCulture(CompanyCultureFormat, string.Empty, Model.CartSubTotal - Model.DonationstemsCartSubTotal)</td>
    </tr>
    <tr style="color:#AAA">
        <td>SALT PARTNER DISCOUNT:</td>
        <td class="DiscountSummary">@Model.FormatWithCompanyCulture(CompanyCultureFormat, string.Empty, Model.DiscountTotal)</td>
    </tr>
    <tr style="color:#AAA">
        <td>ONE TIME DONATION:</td>
        <td class="OneTimeDonationSummary">@Model.FormatWithCompanyCulture(CompanyCultureFormat, string.Empty, Model.DonationstemsCartSubTotal)</td>
    </tr>
    <tr class="">
        <td>TOTAL:</td>
        <td class="cartTotal">@Model.FormatWithCompanyCulture(CompanyCultureFormat, string.Empty, Model.CartSubTotalWithDiscount)</td>
    </tr>
</tbody>
