﻿@model Jhm.Web.UI.Models.Shop.HeaderModel

@helper RenderDestinationsDropDown()
{
    foreach (var logo in Model.Logos)
    {
        <div class="top-logos-item clearfix">
            <div class="top-logos-item-image">
                <a href="@logo.DestinationUrl" target="_blank"><img src=@Url.Content("~/content/shop/images/" + logo.ImageUrl) alt="@logo.Title" /></a>
            </div>
            <div class="top-logos-item-desc">
                <a href="@logo.DestinationUrl" target="_blank">@logo.Title</a>
                <span class="top-logos-item-price">@logo.Description</span>
            </div>
        </div>
    }
}

@helper RenderMainLogo()
{
    <a href="@Model.MainLogo.DestinationUrl" class="standard-logo" data-dark-logo="@Url.Content("~/content/shop/images/" + Model.MainLogo.ImageUrl)"><img src="@Url.Content("~/content/shop/images/" + Model.MainLogo.ImageUrl)" alt="JHM"></a>
    <a href="@Model.MainLogo.DestinationUrl" class="retina-logo" data-dark-logo="@Url.Content("~/content/shop/images/" + Model.MainLogo.ImageUrl)"><img src="@Url.Content("~/content/shop/images/" + Model.MainLogo.ImageUrl)" alt="JHM"></a>
}

@helper RenderPrimaryMenu()
{
    <ul>
        @foreach (var menuItem in Model.TopLevelMenuItems)
        {
            if (menuItem.Children.Any())
            {
                <li>
                    <a href=""><div>@menuItem.Title <i class="icon-angle-down"></i></div></a>
                    <ul>
                        @foreach (var child in menuItem.Children)
                        {
                            <li><a href="@child.Href"><div>@child.Title</div></a></li>
                        }
                    </ul>
                </li>
            }
            else
            {
                <li><a href="@menuItem.Href"><div>@menuItem.Title</div></a></li>
            }
        }
    </ul>
}

<script type="text/javascript">
    var callbacks = $.Callbacks()
                        , itemCartQuantity = {
                            change: callbacks.fire,
                            subscribe: callbacks.add,
                            unsubscribe: callbacks.remove
                        };

    itemCartQuantity.subscribe(function () {
        $.get("/Account/getCartQuantityItems", function (data) {
            $("#top-cart-trigger>span").text(data.Quantity);
        })
        .fail(function () {
            console.error("An error occur when trying to access the user info")
        });

        $.get("@Url.Action("BuildSideMenuCart", "Cart")", function (data) {
            $("#tabs-2").html(data);
        }).fail(function () {
            //alert("error");
        });
    });




    //$(function () {
    //    //Global observable call
    //    itemCartQuantity.change();
    //});
</script>

@{ var client = ViewData["Catalog_Client"] as Jhm.Web.Core.Models.Modules.Client; }

<!-- Header
       ============================================= -->
<header id="header" class="transparent-header semi-transparent dark full-header">
    <div id="header-wrap">
        <div class="container clearfix">
            <div id="primary-menu-trigger"></div>
            <!-- Top logos
                ============================================= -->
            <div id="top-logos" class="dark">
                <a href="#" id="destination-trigger">@*<i class="icon-reorder"></i>*@</a>
                <div class="top-logos-content">
                    <div class="top-logos-title">
                        <h4>Select a JHM Destination</h4>
                    </div>
                    <div class="top-logos-items">
                        @RenderDestinationsDropDown()
                    </div>

                </div>
            </div><!-- #top-logos end -->
            <!-- Logo
            ============================================= -->
            <div id="logo">
                @RenderMainLogo()
            </div><!-- #logo end -->
            <!-- Primary Navigation
            ============================================= -->
            <nav id="primary-menu" class="dark">
                @RenderPrimaryMenu()

                <!-- Top Cart
                ============================================= -->
                <div id="top-cart" class="hidden-xs">
                    <a href="#" id="top-cart-trigger" onclick="document.location.href = '/Cart/Index'"><i class="icon-shopping-cart"></i><span>@client.Cart.Items.Count()</span></a>
                    @*<div class="top-cart-content">
                            <div class="top-cart-title">
                                <h4>Shopping Cart</h4>
                            </div>
                            <div class="top-cart-items">
                                <div class="top-cart-item clearfix">
                                    <div class="top-cart-item-image">
                                        <a href="#"><img src="~/content/shop/images/four-moons2.jpg" alt="Four Blood Moons" /></a>
                                    </div>
                                    <div class="top-cart-item-desc">
                                        <a href="#">Four Blood Moons</a>
                                        <span class="top-cart-item-price">$19.99</span>
                                        <span class="top-cart-item-quantity">x 1</span>
                                    </div>
                                </div>
                                <div class="top-cart-item clearfix">
                                    <div class="top-cart-item-image">
                                        <a href="#"><img src="~/content/shop/images/four-moons2.jpg" alt="Four Blood Moons" /></a>
                                    </div>
                                    <div class="top-cart-item-desc">
                                        <a href="#">Four Blood Moons</a>
                                        <span class="top-cart-item-price">$19.99</span>
                                        <span class="top-cart-item-quantity">x 1</span>
                                    </div>
                                </div>
                            </div>
                            <div class="top-cart-action clearfix">
                                <span class="fleft top-checkout-price">$39.98</span>
                                <button class="button button-3d button-small nomargin fright" onclick="document.location.href=@Url.Content("~/Cart/")">View Cart</button>
                            </div>
                        </div>*@
                </div><!-- #top-cart end -->
                <!-- Top Search
                ============================================= -->
                <div id="top-search" class="hidden-xs">
                    <a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
                    @using (Html.BeginForm("Search", "Shop", FormMethod.Get))
                    {
                        @Html.TextBox("queryString", string.Empty, new { name = "q", @class = "form-control", value = "", placeholder = "Type & Hit Enter.." })
                    }
                </div><!-- #top-search end -->
                <div id="side-panel-trigger" class="side-panel-trigger pull-right-xs"><a href="#"><i class="icon-reorder"></i></a></div>
            </nav><!-- #primary-menu end -->

        </div>
    </div>
</header><!-- #header end -->