﻿@using System.Web.Mvc
@using Jhm.Web.Core

@{
    var siteModeValue = Request.QueryString.Get("sitemode");
    var siteModeQueryString = siteModeValue == null ? "JHM" : siteModeValue;

    var renderedHeader = Html.Action("BuildHeader", "Shop", new { siteMode = siteModeQueryString });
    var renderedSlider = Html.Action("BuildSlider", "Shop", new { siteMode = siteModeQueryString });
}

@helper IncludeStylesheetsBasedOnSiteMode()
{
   
    var key = "JHM";
    dynamic session = Session[MagicStringEliminator.SessionKeys.SiteMenu];
    if (session != null)
    {
        key = session.SiteMode;
    }

    var appSettings = System.Configuration.ConfigurationManager.AppSettings;
    
    var style = appSettings[string.Format("Stylesheet-{0}", key)];
    var shop = appSettings[string.Format("Stylesheet-Shop-{0}", key)];
    var dark = appSettings[string.Format("Stylesheet-Dark-{0}", key)];
    
    <link rel="stylesheet" href="@Url.Content(string.Format(@"~/content/shop/{0}", style))" type="text/css" />
    <link rel="stylesheet" href="@Url.Content(string.Format("~/content/shop/css/{0}", shop))" type="text/css" />
    <link rel="stylesheet" href="@Url.Content(string.Format("~/content/shop/css/{0}",dark))" type="text/css" />
}

<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<!-- Head
    ============================================= -->
<head>
    <!-- External code
        ============================================= -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="JHM" />
    <!-- Stylesheets
    ============================================= -->
    <link href="https://www.google.com/fonts#ChoosePlace:select/Collection:Open+Sans:300italic,400italic,600italic,700italic,700,300,600,400" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/content/shop/css/bootstrap.css")" type="text/css" />
    @IncludeStylesheetsBasedOnSiteMode()
    <link rel="stylesheet" href="@Url.Content("~/content/shop/css/custom.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/content/shop/css/font-icons.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/content/shop/css/animate.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/content/shop/css/magnific-popup.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/content/shop/dropdown.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/content/shop/css/responsive.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/content/shop/css/pnotify.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/content/shop/css/pnotify.custom.css")" type="text/css" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <!-- External JavaScripts
    ============================================= -->
    <script type="text/javascript" src="@Url.Content("~/content/shop/js/jquery.js")"></script>
    @*<script src="@Url.Content("~/Content/shop/js/jquery-ui.min.js")"></script>
    <link href="@Url.Content("~/Content/shop/css/jquery-ui.min.css")" rel="stylesheet" />*@
    <script type="text/javascript" src="@Url.Content("~/content/shop/js/plugins.js")"></script>
    <!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
    <script type="text/javascript" src="@Url.Content("~/content/shop/include/rs-plugin/js/jquery.themepunch.tools.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/content/shop/include/rs-plugin/js/jquery.themepunch.revolution.min.js")"></script>
    <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/content/shop/include/rs-plugin/css/settings.css")" media="screen" />        
    <script type="text/javascript" src="@Url.Content("~/content/shop/js/shop.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/content/shop/js/pnotify.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/content/shop/js/pnotify.custom.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/content/shop/js/jquery.creditCardValidator.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/content/shop/js/socialButtons.js")"></script>
        <!-- Document Title

    ============================================= -->
    <title>John Hagee Ministries</title>
</head>
<body class="stretched side-push-panel">
    <div class="body-overlay"></div>

    <!-- Side Menu
       ============================================= -->
    @Html.Partial("_SideMenu")
    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">
        <!-- Top Bar
                ============================================= -->
        <div id="top-bar" class="hidden-xs">
            <div class="container-fluid clearfix">
                <div class="col_half nomargin fright">
                    <!-- Top Links
                    ============================================= -->
                    <div class="top-links">
                        @Html.Partial("_Login")
                    </div> <!--.top-links end -->
                </div>
            </div>
        </div> <!-- #top-bar end -->
        <!-- Header
        ============================================= -->        
        @renderedHeader

        <!-- #header end -->

        @if (!((Request.Url.ToString().ToLower().Contains("cart")) || Request.Url.ToString().ToLower().Contains("myaccount")))
        {
            <!-- Slider
             ============================================= -->
            <section id="slider" class="slider-parallax swiper_wrapper clearfix">
                @renderedSlider

                <script>
                    jQuery(document).ready(function ($) {
                        var swiperSlider = new Swiper('.swiper-parent', {
                            paginationClickable: false,
                            slidesPerView: 1,
                            grabCursor: true,
                            autoplay: 5000,
                            speed: 150,
                            loop: true,
                            arrows: false,
                            onSwiperCreated: function (swiper) {
                                $('[data-caption-animate]').each(function () {
                                    var $toAnimateElement = $(this);
                                    var toAnimateDelay = $(this).attr('data-caption-delay');
                                    var toAnimateDelayTime = 0;
                                    if (toAnimateDelay) { toAnimateDelayTime = Number(toAnimateDelay) + 650; } else { toAnimateDelayTime = 650; }
                                    if (!$toAnimateElement.hasClass('animated')) {
                                        $toAnimateElement.addClass('not-animated');
                                        var elementAnimation = $toAnimateElement.attr('data-caption-animate');
                                        setTimeout(function () {
                                            $toAnimateElement.removeClass('not-animated').addClass(elementAnimation + ' animated');
                                        }, toAnimateDelayTime);
                                    }
                                });
                                SEMICOLON.slider.swiperSliderMenu();
                            },
                            onSlideChangeStart: function (swiper) {
                                $('#slide-number-current').html(swiper.activeLoopIndex + 1);
                                $('[data-caption-animate]').each(function () {
                                    var $toAnimateElement = $(this);
                                    var elementAnimation = $toAnimateElement.attr('data-caption-animate');
                                    $toAnimateElement.removeClass('animated').removeClass(elementAnimation).addClass('not-animated');
                                });
                                SEMICOLON.slider.swiperSliderMenu();
                            },
                            onSlideChangeEnd: function (swiper) {
                                $('#slider').find('.swiper-slide').each(function () {
                                    if ($(this).find('video').length > 0) { $(this).find('video').get(0).pause(); }
                                    if ($(this).find('.yt-bg-player').length > 0) { $(this).find('.yt-bg-player').pauseYTP(); }
                                });
                                $('#slider').find('.swiper-slide:not(".swiper-slide-active")').each(function () {
                                    if ($(this).find('video').length > 0) {
                                        if ($(this).find('video').get(0).currentTime != 0) $(this).find('video').get(0).currentTime = 0;
                                    }
                                    if ($(this).find('.yt-bg-player').length > 0) {
                                        $(this).find('.yt-bg-player').getPlayer().seekTo($(this).find('.yt-bg-player').attr('data-start'));
                                    }
                                });
                                if ($('#slider').find('.swiper-slide.swiper-slide-active').find('video').length > 0) { $('#slider').find('.swiper-slide.swiper-slide-active').find('video').get(0).play(); }
                                if ($('#slider').find('.swiper-slide.swiper-slide-active').find('.yt-bg-player').length > 0) { $('#slider').find('.swiper-slide.swiper-slide-active').find('.yt-bg-player').playYTP(); }

                                $('#slider .swiper-slide.swiper-slide-active [data-caption-animate]').each(function () {
                                    var $toAnimateElement = $(this);
                                    var toAnimateDelay = $(this).attr('data-caption-delay');
                                    var toAnimateDelayTime = 0;
                                    if (toAnimateDelay) { toAnimateDelayTime = Number(toAnimateDelay) + 200; } else { toAnimateDelayTime = 200; }
                                    if (!$toAnimateElement.hasClass('animated')) {
                                        $toAnimateElement.addClass('not-animated');
                                        var elementAnimation = $toAnimateElement.attr('data-caption-animate');
                                        setTimeout(function () {
                                            $toAnimateElement.removeClass('not-animated').addClass(elementAnimation + ' animated');
                                        }, toAnimateDelayTime);
                                    }
                                });
                            }
                        });

                        $('#slider-arrow-left').on('click', function (e) {
                            e.preventDefault();
                            swiperSlider.swipePrev();
                        });

                        $('#slider-arrow-right').on('click', function (e) {
                            e.preventDefault();
                            swiperSlider.swipeNext();
                        });

                        $('#slide-number-current').html(swiperSlider.activeLoopIndex + 1);
                        $('#slide-number-total').html($('#slider').find('.swiper-slide:not(.swiper-slide-duplicate)').length);

                        //$(document).on("click", function (e) {
                        //    var container = $(".top-links");

                        //    if (!container.is(e.target) // if the target of the click isn't the container...
                        //        && container.has(e.target).length === 0) // ... nor a descendant of the container
                        //    {
                        //        $(".sfHover>div").hide();
                        //    }
                        //});
                        //$(".top-links").on("mouseover", function (e) {
                        //    $(".sfHover>div").show();
                        //});
                    });
                </script>

            </section>
        }
        <!-- Content
        ============================================= -->
        <section id="content">
            @RenderBody()
        </section><!-- #content end -->
        <!-- Footer
           ============================================= -->
        @Html.Partial("_footer")
        <!-- #footer end -->
    </div>
    <!-- #wrapper end -->
    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>
    <!-- Footer Scripts
    ============================================= -->
    <script type="text/javascript" src="@Url.Content("~/content/shop/js/functions.js")"></script>


</body>
</html>