﻿@{ var user = Jhm.Web.SessionManager.CurrentUser;}

@if (Request.IsAuthenticated)
{
    <ul>
        <li>
            <a href="@Url.Action("MyAccount","Account")"><i class="icon-line2-user"></i>@string.Concat(user.Profile.FirstName,' ',user.Profile.LastName)</a>
        </li>
        <li>
            <a id="logOff" href="#"><i class="icon-key"></i> Log off</a>
        </li>
    </ul>
    <script type="text/javascript">
        $(function () {
            $('#logOff').on('click', function (e) {
                e.preventDefault();
                $.get('/Account/LogOut', null, function (data) {
                    document.location.href = '/Shop';
                })
                .fail(function (e) {
                    console.error("An error occurs when trying to LogOff");
                });
            });
        });
    </script>
}
else
{
    <ul>
        <li>
            <a href="@Url.Action("LogOn","Account")"> <i class="icon-line2-user"></i>Login</a>
            @*<div class="top-link-section">
                @Html.Partial("_LogOnForm", new Jhm.Web.UI.Models.LogOnModel())
            </div>*@
        </li>
        <li>
            <a href="@Url.Action("Register","Account")"><i class="icon-key"></i> Register</a>
            @*<div class="top-link-section">
                @Html.Partial("_QuickRegister", new Jhm.Web.UI.Models.RegisterModel())
            </div>*@
        </li>
    </ul>
}


