﻿@model Jhm.Web.UI.Models.LogOnModel

@if (Request.Url.ToString().ToLower().Contains("logon"))
{
    <script>
        function LoginCorrect(data, status, xhr) {
            if (data.success) {
                SEMICOLON.initialize.pageTransition();
                $.get('/Account/Login', null, function (data) {
                    $('#top-bar .top-links').first().html(data);
                    document.location.href = "/Account/MyAccount"
                }, "HTML")
                .fail(function () {
                    console.error('An error ocurred when trying to update User');
                });
                    //
            }
            else
            {
                $("#login").find("form#top-login").find(".error").remove();
                $("#login").find("form#top-login").find("br").remove();
                $("#login").find("form#top-login").append('<br/><div class="error" style="color:red">' + data.message + '</div>');
            }
        };
    </script>
}
else
{
    <script>
        function LoginCorrect(data, status, xhr) {
            if (data.success) {
                $.get('/Account/Login', null, function (data) {
                    $('#top-bar .top-links').first().html(data);
                }, "HTML")
                .fail(function () {
                    console.error('An error ocurred when trying to update User');
                });
            }
        };
    </script>
}    



@using (Ajax.BeginForm("AjaxLogOn", "Account", null, new AjaxOptions { HttpMethod = "Post" ,OnSuccess="LoginCorrect"}, new { id = "top-login" }))
{
    @Html.HiddenFor(m => Model.GlobalUserId)
    <div class="input-group" id="top-login-username">
        <span class="input-group-addon"><i class="icon-mail"></i></span>
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "User Name", required = "required" })
    </div>
    <div class="input-group" id="top-login-password">
        <span class="input-group-addon"><i class="icon-key"></i></span>
        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", type = "password", placeholder = "Password", required = "required" })
    </div>
    <label class="checkbox">
        @Html.CheckBoxFor(m => m.RememberMe, new { type = "checkbox" }) Remember me
    </label>
    <button id ="submitLogin" class="btn btn-danger btn-block" type="submit">Sign in</button>
}
