﻿@model Jhm.Web.UI.Models.RegisterModel


@using (Html.BeginForm("Register", "Account", null , FormMethod.Post, new { id = "top-register" }))
{
    <div class="input-group" id="top-register-name">
        <span class="input-group-addon"><i class="icon-line2-user"></i></span>
        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", placeholder = "UserName", required = "required" })
    </div>
    <div class="input-group" id="top-register-username">
        <span class="input-group-addon"><i class="icon-mail"></i></span>
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Email address", type = "email", required = "required" })
    </div>
    <div class="input-group" id="top-register-password">
        <span class="input-group-addon"><i class="icon-key"></i></span>
        @Html.TextBoxFor(model => model.Password, new { @class = "form-control", placeholder = "Password", type = "password", required = "required" })
    </div>
    <button class="btn btn-danger btn-block" type="submit">Register</button>
}
