﻿@model Jhm.Web.UI.Models.Shop.HeaderModel

<nav class="nav-tree nobottommargin">
    <ul class="sf-js-enabled">
        @foreach (var menuItem in Model.TopLevelMenuItems)
        {
            if (menuItem.Children.Any())
            {
                <li>
                    <a href="#"><i class=""></i>@menuItem.Title</a>

                    <ul>
                        @foreach (var child in menuItem.Children)
                        {
                            <li><a href="@child.Href">@child.Title</a></li>
                        }
                    </ul>

                </li>
            }
            else
            {
                <li>
                    <a href="@menuItem.Href"><i class=""></i>@menuItem.Title</a>
                </li>
            }
        }
    </ul>
</nav>