﻿@model Jhm.Web.Core.Models.Modules.ECommerce.CartViewModel

@{
    var CompanyCultureFormat = ViewBag.CompanyCultureFormat;
    var donations = Model.CartItems.Where(i => i.Item is Jhm.Web.Core.Models.DonationCartItem);
    var stockItems = Model.CartItems.Where(i => i.Item is Jhm.Web.Core.Models.StockItem);
}
<div class="top-cart-content">
    @if (Model.CartItems.Any())
    {
        <div class="top-cart-items">
            @foreach (var lineItem in donations)
            {
                <div class="top-cart-item clearfix">
                    <div class="top-cart-item-desc">
                        <a href="#">@lineItem.Item.Title</a>
                        <span class="top-cart-item-price">@Model.FormatWithCompanyCulture(CompanyCultureFormat, string.Empty, lineItem.Item.Price)</span>
                    </div>
                </div>
            }
            @foreach (var lineItem in stockItems)
            {
                <div class="top-cart-item clearfix">
                    <div class="top-cart-item-image">
                        <a href="#"><img src="@lineItem.Item.ImageLocation" alt="@lineItem.Item.Title" /></a>
                    </div>
                    <div class="top-cart-item-desc">
                        <a href="#">@lineItem.Item.Title</a>
                        <span class="top-cart-item-price">@Model.FormatWithCompanyCulture(CompanyCultureFormat, string.Empty, lineItem.Item.Price) (x @lineItem.Quantity)</span>
                    </div>
                </div>
            }
        </div>
        <div class="top-cart-action clearfix">
            <table class="table">
                @Html.Partial("_CartSummary", Model)
            </table>
            <span class="fleft top-checkout-price cartTotal"> @Model.FormatWithCompanyCulture(CompanyCultureFormat, string.Empty, Model.CartSubTotalWithDiscount)</span>
            <a href="@Url.Action("Index", "Cart")" class="button button-3d button-small nomargin fright">View Cart</a>
        </div>
    }
    else
    {
        <div class="top-cart-action clearfix">
            <div style="margin-bottom:15px">Your cart is empty</div>
            <a href="@Url.Action("Index", "Cart")" class="button button-3d button-small nomargin" style="float: none !important; width: 100%; text-align: center;">View Cart</a>
        </div>
    }

</div>