﻿@using System.Web.Mvc

@{ var user = Jhm.Web.SessionManager.CurrentUser;}



<!-- Side Menu ============================================= -->
<div id="side-panel" class="dark">
    <div id="side-panel-trigger-close" class="side-panel-trigger"><a href="#"><i class="icon-line-cross"></i></a></div>
    <div class="h2back bottommargin"><h4 class="tcolorgold">John Hagee Ministries</h4></div>
    <div class="side-panel-wrap">
        <div class="widget clearfix">
            @using (Html.BeginForm("Search", "Shop", FormMethod.Get, new { role = "search", @class = "bottommargin-sm topmargin-xsm leftmargin-xsm hidden-xs" }))
            {
                <div class="input-group">
                    <input type="search" class="form-control" placeholder="Type & Hit Enter.." name="queryString">
                    <span class="input-group-addon"><i class="icon-search3"></i></span>
                </div>
            }
            <div class="tabs clearfix" id="tab-1">
                <ul class="tab-nav clearfix">
                    <li><a href="#tabs-1">Menu</a></li>
                    <li><a href="#tabs-2" class="hidden-xs">Cart</a></li>
                    @if (Request.IsAuthenticated)
                    {
                        <li><a href="#tabs-4" class="hidden-xs">Profile</a></li>
                    }
                    else
                    {
                        <li><a href="#tabs-3" class="hidden-xs">Login</a></li>
                    }
                </ul>
                <div class="tab-container">
                    <div class="tab-content clearfix" id="tabs-1" >
                        @Html.Action("BuildSideMenuMenu", "Shop")
                    </div>
                    <div class="tab-content clearfix" id="tabs-2">
                        @Html.Action("BuildSideMenuCart", "Cart")
                    </div>
                    @if (Request.IsAuthenticated)
                    {
                        <div class="tab-content clearfix" id="tabs-4">
                            <nav class="nav-tree nobottommargin">
                                <ul class="sf-js-enabled">
                                    <li><a href="@Url.Action("MyAccount","Account")"><i class=""></i>My Profile</a></li>
                                    <li><a href="#" id="btnLogOut"><i class=""></i>Log off</a></li>
                                </ul>
                            </nav>
                        </div>
                    }
                    else
                    {
                        <div class="tab-content clearfix" id="tabs-3">
                            <div class="top-link-section">
                                @Html.Partial("_SideMenuLogin", new Jhm.Web.UI.Models.LogOnModel())
                            </div>
                        </div>
                    }

                </div>
            </div>
            <div class="line"></div>
            <div class="tcolorwhite"><strong>CONTACT US</strong></div>

            <div style="background: url('@Url.Content("~/content/shop/images/world-map.png")') no-repeat center center; background-size: 100%;">
                <address>
                    Headquarters:<br>
                    P.O. Box 1400<br>
                    San Antonio, Texas 78295-1400<br>
                </address>
                Phone: 1-800-854-9899<br>
                Email: support@jhm.org
            </div>

            <div class="divider-sm"></div>
            <div class="tcolorwhite"><strong>OUR MINISTRIES</strong></div>
            <a href="#">GETV Live Stream</a><br>
            <a href="#">Cornerstone Church</a><br>
            <a href="#">Difference Media</a><br>
            <a href="#">Cornerstone School</a>
        </div>
    </div>
</div>
<!-- Side Menu ============================================= -->
@if (Request.IsAuthenticated)
{
    <script type="text/javascript">
        $(function () {
            $('#btnLogOut').on('click', function (e) {
                e.preventDefault();
                $.get('/Account/LogOut', null, function (data) {
                    document.location.href = '/Shop';
                })
                .fail(function (e) {
                    console.error("An error occurs when trying to LogOff");
                });
            });
        });
    </script>
}