﻿@model Jhm.Web.UI.Models.LogOnModel

@{ var user = Jhm.Web.SessionManager.CurrentUser;}


@using (Ajax.BeginForm("AjaxLogOn", "Account", null, new AjaxOptions { HttpMethod = "Post", OnSuccess = "SideMenuLoginCorrect" }, new { id = "top-login", role = "form" }))
{
    @Html.HiddenFor(m => Model.GlobalUserId)
    <div class="input-group" id="top-login-username">
        <span class="input-group-addon"><i class="icon-mail"></i></span>
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "User Name", required = "required" })
    </div>
    <div class="input-group" id="top-login-password">
        <span class="input-group-addon"><i class="icon-key"></i></span>
        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", type = "password", placeholder = "Password", required = "required" })
    </div>
    <label class="checkbox">
        @Html.CheckBoxFor(m => m.RememberMe, new { type = "checkbox" }) Remember me
    </label>
    <button class="btn btn-danger btn-block" type="submit">Sign in</button>
}


<script>
    function SideMenuLoginCorrect(data, status, xhr) {
        debugger;
        if (data.success) {
            $.get('/Account/Login', null, function (data) {
                $('#top-bar .top-links').first().html(data);
                document.location.href = "/Account/MyAccount"
            }, "HTML")
            .fail(function () {
                console.error('An error ocurred when trying to update User');
            });
        }
    };
</script>
