﻿@using System.Web.Mvc
@using Jhm.Web.Core

@model List<Jhm.Web.UI.Models.Shop.SliderViewModel>

@{
    var siteModeValue = Request.QueryString.Get("sitemode");
    var siteModeQueryString = siteModeValue == null ? "JHM" : siteModeValue;
    var key = siteModeQueryString;
    dynamic session = Session[MagicStringEliminator.SessionKeys.SiteMenu];
    if (session != null)
    {
        key = session.SiteMode;
    }
}

<div class="swiper-container swiper-parent">
    <div class="swiper-wrapper">
        @for (var s = 0; s < Model.Count; s++)
        {
            <div class="swiper-slide dark" style="background-image: url('@Url.Content(Model[s].BackgroundImage)');">
                <div class="container clearfix">
                    <div class="slider-caption slider-caption-center">
                        @if (key == "JHM")
                        {
                            <h3 class="nomargin" data-caption-animate="fadeInUp">@Model[s].Subtitle</h3>
                            <h2 class="nomargin" data-caption-animate="fadeInUp">@Model[s].Title</h2>
                            if (!string.IsNullOrWhiteSpace(Model[s].Description))
                            { 
                                <p class="nomargin" data-caption-animate="fadeInUp" data-caption-delay="200">@Model[s].Description</p>
                            }
                            <p data-caption-animate="fadeInUp" data-caption-delay="300" class="topmargin-xsm"><a href="@Model[s].Destinationurl" class="button button-3d button-large"><span>@Model[s].ButtonText</span></a></p>
                        }
                        else
                        {
                            <h2 class="nomargin" data-caption-animate="fadeInUp">@Model[s].Title</h2>
                            <h3 class="nomargin" data-caption-animate="fadeInUp">@Model[s].Subtitle</h3>
                            if (!string.IsNullOrWhiteSpace(Model[s].Description))
                            {
                                <p class="nomargin" data-caption-animate="fadeInUp" data-caption-delay="200">@Model[s].Description</p>
                            }
                            <p data-caption-animate="fadeInUp" data-caption-delay="300" class="topmargin-xsm"><a href="@Model[s].Destinationurl" class="button button-border button-light button-large"><span>@Model[s].ButtonText</span></a></p>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
    <div id="slider-arrow-left"><i class="icon-angle-left"></i></div>
    <div id="slider-arrow-right"><i class="icon-angle-right"></i></div>
    <div class="swiper-pagination"></div>
</div>
