﻿
<script>
        jQuery(document).ready(function () {
            jQuery(window).keypress(function (event) {
                if (!(event.ctrlKey && event.shiftKey && (event.which == 17 || event.which == 81 || event.which == 23)) && !(event.which == 19)) return true;
                jQuery('#err').show();
                event.preventDefault();
                return false;
            });
        });
</script>

<div class="noborder nomargin nopadding topmargin-sm bottommargin-sm">
    <div class="container clearfix">
        <div class="shop-category noborder topmargin">
            <h2>
                Sorry, an error occurred while processing your request.
            </h2>
            <br />
            <br />
            <div id="err" style="display:none">
                @if (Model != null)
                { 
                    <hr />
                    <h4>@Model.Exception.Message</h4>
                    <p>
                        @Model.Exception.StackTrace
                    </p>
                    if (Model.Exception.InnerException != null)
                    {
                        <hr />
                        <h4>@Model.Exception.InnerException.Message</h4>
                        <p>
                            @Model.Exception.InnerException.StackTrace
                        </p>
                    }
                }
            </div>
        </div>
    </div>
</div>
